[2021-07-29 18:40] gigicobos commented on #1014
**Thursday 06/03/21**

1. Admin

- Check in at VRMS.io
- Add yourself to our team roster
- New joiners/Departures
- Reminder: Tracking outreach
- Google Drive

2. Weekly Round-Robin/Check-in - Weekly Q - Favorite Apple product?

3. Current issues
Progress on new and In progress tickets

[2021-07-29 18:42] gigicobos commented on #1014
**Thursday 06/10/21**

1. Admin

- Check in at VRMS.io
- Add yourself to our team roster
- New joiners/Departures
- Reminder: Tracking outreach
- Google Drive

2. Weekly Round-Robin/Check-in - Weekly Q - Favorite animal?

3. Current issues

- Progress on new and In progress tickets
- Persona Update

4. Roadmap

- Agenda
- Action Planning

[2021-07-29 18:47] gigicobos commented on #1014
**Thursday 06/17/21**

1. Admin

- Check in at VRMS.io
- Add yourself to our team roster
- New joiners/Departures
- Reminder: Tracking outreach
- Google Drive
- New press mention - California.com

2. Weekly Round-Robin/Check-in - Weekly Q -x  A surprising hidden talent? - postponed for time

3. Current issues

- Progress on new and In progress tickets

4. Roadmap

- Project prioritization exercise

[2021-07-29 18:47] gigicobos commented on #1014
**Thursday 06/24/21**

1. Admin

- Check in at VRMS.io
- Add yourself to our team roster
- New joiners/Departures
- Reminder: Tracking outreach
- Google Drive
- New press mention - California.com

2. Weekly Round-Robin/Check-in - Weekly Q -? A surprising hidden talent?

3. Current issues

- Progress on new and In progress tickets
- Review backgrounds for landing page

4. Roadmap

- Project priorit

[2021-07-30 00:46] fancyham commented on #939
@dking1342, Moving forward with the designs as discussed:

I created some images for LA, and Hawaii and McKinney, TX attached here — both originals in JPG format (I have PNGs if you need them) and a blurred version.  Feel free to compress further.

**Unblurred at retina resolution**
![Food Oasis - Hawaii background](https://user-images.githubusercontent.com/3376957/127582990-b36e8f88-9b2a-4e9a-8d2

[2021-07-30 01:31] #509 closed

[2021-07-30 01:33] ExperimentsInHonesty commented on #325
### Overview
There are more than 100 accessibility testing tools.  Figuring out which ones to use can be a black hole.  For guidance we recommend this article:  [Which accessibility testing tool should you use?](https://medium.com/pulsar/which-accessibility-testing-tool-should-you-use-e5990e6ef0a)

### Summary of Article
The author recommends using the tools in the following order fixing as you go

[2021-07-30 02:06] fancyham opened #1015 "Create Simple mock up of the map page"

[2021-07-30 02:06] fancyham commented on #1015
Accidental issue

[2021-07-30 02:06] #1015 closed

[2021-07-30 02:12] fancyham commented on #868
Seems to be a duplicate of #862 .  Closing.

[2021-07-30 02:29] fancyham commented on #892
Three completed heuristic usability studies are linked at top of this issue.  This was done during the covid pandemic, so these were usability reviews, not observations of actual users.

In the future, in-person usability studies would be ideal.

[2021-07-30 02:37] fancyham commented on #892
Re-opening because there are additional studies that we can conduct now that there is a vaccine.  May take a while but we should do studies with all our user types (food seekers, volunteers, admin, organizations, social service providers, etc.)

[2021-07-30 02:47] fancyham commented on #965
I understand that the goal is to try to discover how many people are trying to read in Spanish, but this UX would just be frustrating to the user.

They've clicked a button saying "See in Spanish" and then there's nothing actually in Spanish other than "Come back later".  That's bait-and-switch and would make us look untrustworthy.

I strongly suggest we not do this.

[2021-07-30 02:56] fancyham commented on #862
March 2 comments from cindywongg
 commented on Mar 2
Points of friction:

- clicking the magnifying glass after entering the address on the landing page
- landing page takes a while to load due to the high resolution background images
- whether or not user will understand the purpose of the website if the user is taken straight to the map page

https://github.com/hackforla/food-oasis/issues/868#is

[2021-07-30 02:57] #868 closed

[2021-07-30 03:09] #869 closed

[2021-07-30 03:35] fancyham commented on #954
Works again in Safari

[2021-07-30 03:36] fancyham commented on #953
This seems to have been addressed.

Loading a default LA map (search with no address) loaded around 100 pins in about 4 seconds.

[2021-07-30 03:36] #953 closed

[2021-07-30 03:40] fancyham commented on #939
Please use the blurred maps.  I've provided the sharp originals in case you need them for any reason.

[2021-07-30 21:18] fancyham opened #1016 "Create complete site map of current FOLA website, showing screens for all user roles."
### Overview

We could really use a comprehensive map of the website so that team members and collaborators can quickly see the structure and scope of the entire FOLA web app for both the public food-seeker interface (which everyone sees), as well as the private database administrator / data entry volunteer interface (which most don’t see).

We also need to show how the site works for different ro

[2021-08-03 05:21] stdyrm commented on #776
Sorry about the large gap. Here's an update:

- More row parsing to import services - ie, parsing hours, handling geotoken errors, etc.
- Edit columns (some have been changed in the database since my last merge)
- Filter required columns on ImportFileGuide page to make easier for users to read
- Progress loader while uploading file - parsing added a bit of loading time, so we probably need a progr

[2021-08-05 19:40] #1011 closed

[2021-08-05 19:41] gigicobos commented on #1014
**Thursday 06/24/21**

1. Admin

- Check in at VRMS.io
- Add yourself to our team roster
- New joiners/Departures

2. Weekly Round-Robin/Check-in - Weekly Q -? A surprising hidden talent?

3. Current issues

- Progress on new and In progress tickets
- Review backgrounds for landing page
- Google Drive Organization

4. Roadmap

- Discuss milestones and prioritization

[2021-08-05 19:45] #1002 closed

[2021-08-05 19:45] #1012 closed

[2021-08-06 00:47] fancyham commented on #927
@dking1342 I created new 'mixed' icons where I swapped the left and right sides and put them back into the Google Drive where the original files are located (client/src/images).  They're named locator.svg and main.svg

I don't know how to add them to the .js files or make a pull request yet — would you mind putting the svg data into the correct files?

I think that should solve this issue?

https:

[2021-08-06 01:51] #703 closed

[2021-08-06 02:21] fancyham commented on #960
The style guide is in the Figma Document on sheet: "style guide audit v2"
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/Fola-Design-System?node-id=3046%3A7826

"Current System from 5/18/21" shows elements that are in use today on the public-facing part of the site.

"In Progress" section shows ideas with thinking-in-progress and proposed for the future.

We are using Material UI, and have crea

[2021-08-06 02:25] #960 closed

[2021-08-06 02:28] fancyham commented on #862
Option 3 (remove landing page altogether) is a major change for both UI and on the programming side and should be considered more deeply before attempting, and not sure that would be an actual improvement, so stopping that direction for now.

We've decided to just do:
- Option 1 (improve form fields on landing page, and add link to learn more) and
- Option 2 (change backgrounds to lower-bandwidth

[2021-08-06 02:32] fancyham commented on #885
The current thinking on this (with feedback from @wanderingspoon) is that since we haven't done new research, that the document mentioned above should give us the best understanding of our users without the risk of making things up from whole cloth, or taking from news or publicity pieces (where stories are used to illustrate a larger narrative).

Please refer to this document to better understand

[2021-08-06 02:32] #885 closed

[2021-08-06 04:52] sameergautam commented on #929
@fancyham apologies for the delayed response. Recalling from our past conversation, a `good first issue` is one that's something related to getting the environment ready. Hence, I'm removing that label.

[2021-08-10 12:33] stdyrm commented on #776
Should be done in the next couple days. Rebasing/updating my branch

[2021-08-11 16:56] dking1342 commented on #1000
After further work, the UI Index file has been updated to not include a Controls object. Now each affected file in the codebase has been changed to reflect the template element from the UI Index file. Next template element to implement in typography

[2021-08-11 18:57] dking1342 commented on #939
The background images provided have been included in the branch dk-backgroundimages. The files have been compressed to approximately 50kb respectively. The background image has been synced to the tenantId found in the helper/Configuration file. There was not a background image for Oregon so I put the image of LA there instead. If there is an image for Oregon then please provide.

[2021-08-11 20:26] fancyham commented on #939
Oh, we’re doing Oregon, too?  @entrotech could you tell me what city/town and I’ll make a screenshot?

For future images:
Go to our map provider (MapBox?), find the target service area, zoom out so that the entire service area will be in view on a laptop screen.  Take a screenshot.  Gaussian blur it with a 4px radius.

I used the entire service area so that even pantries on the outskirts of town a

[2021-08-12 22:19] gigicobos commented on #1014
**Thursday 08/12/21**

1. Weekly Round-Robin/Check-in - Weekly Q: As a child, what did you want to be when you grew up?

2. Last week updates

3. Current issues

- Review tickets with "WIP" and "Review"
- Google Drive updates

[2021-08-12 22:40] #862 closed

[2021-08-12 23:24] gigicobos commented on #968
Figma file is linked to Organization Form design.

[2021-08-13 01:08] fancyham commented on #939
@dking1342 , Hey there, just heard the Oregon isn't necessary, so just the three areas for now are all that's needed.

[2021-08-13 02:53] fancyham opened #1017 "Add video session recording to the volunteer and admin interface to check usability"
### Overview

Try adding session recording code to the volunteer and admin interface so that we can learn more about our users.

This MAY be useful to identify usability problems that people are having, as well as 'golden paths' through the UI.

This would potentially be used by user researchers, UX designers, product owners to better understand user behavior.

If these recordings end up being un-

[2021-08-13 03:04] fancyham commented on #892
@gigicobos, @sameergautam  Could you find out if we or HfLA have an account at usertesting.com or have access to some other service that would allow one of our usability researchers to conduct simple, remote screen-share + audio recording tests?   If we don't currently have access, could you ask around to see if this is something we/HfLA could procure?  This might be a free, donated, or paid servi

[2021-08-13 13:50] gigicobos commented on #963
Update: requesting access to documents.

[2021-08-13 13:57] gigicobos commented on #1014
**Recap: Thursday 08/12/21**

- We'll prioritize issues by features: Volunteers, Organizations and Admin.
- We're looking for new members on UX design (with experience on B2B app and customer service) and also a Usability / Research person to audit our website.

[2021-08-16 03:14] sameergautam commented on #892
@fancyham I reached out to Olivia to know about the services that are used and I got to know that free accounts on usabilityhub (https://usabilityhub.com/) are used.

[2021-08-16 05:10] fancyham commented on #948
Added improved illustration for back button location

[2021-08-16 17:05] fancyham commented on #892
Thank, @sameergautam — I may have missed it but usabilityhub.com seems to have only a few tools, but none for a more traditional usability testing where we're watching someone actually complete a task, which would be a better (IMO) service to investigate how well our app performs.  (see usertesting.com for comparison)

Seems like there several companies, each that have different tools:  (Please ad

[2021-08-16 17:14] fancyham commented on #1017
@pageignited, are we using hotjar.com now?  If so, is it something we can access results for?

[2021-08-18 00:05] dking1342 commented on #939
Ok... I have removed the option for Oregon. Now it only has options for LA, HI and TX.

[2021-08-18 02:19] hanapotski commented on #924
closing this issue as it's a duplicate of https://github.com/hackforla/food-oasis/issues/958

[2021-08-18 02:46] entrotech opened #1020 "Add Administrator Page for maintaining Parent Organizations"
### Overview
We need a tenant-specific administrator feature for maintaining the parent_organization table for each tenant.

### Action Items
- [x] Add tenant_id column to parent_organization table.
- [x] Create menu item for admin to access a list of the existing parent organizations.
- [x] Create a page that shows existing parent organizations for the current tenant and allow adding or editing e

[2021-08-18 02:49] #939 closed

[2021-08-19 21:54] entrotech opened #1023 "Bug: The stakeholder_best service sometimes return erroneous categories"
### Overview
The stakeholder_best service (used by the food seeker UI) returns the "best" version of each stakeholder, i.e., the most recently approved version or, if it has never been approved, the current draft version. When doing so, it should return the categories that apply to that version of the stakeholder, but it has been returning the categories associated with the latest draft version in

[2021-08-19 21:58] #1023 closed

[2021-08-20 01:52] fancyham commented on #939
I noticed a bug — possibly a CSS issue?

On Safari on Mac and iPad, the Hawaii and LA map https://devhi.foodoasis.net appears initially uncentered horizontally as well as seems locked to the left edge when resizing the window (rather than keeping centered).

Vertically, it seems to work fine, though.

![Food Oasis - misaligned background](https://user-images.githubusercontent.com/3376957/130166505

[2021-08-20 03:48] fancyham commented on #1014
Thursday 08/19/21

Accelerated meeting due to broken zoom link — had to use a different zoom link with a 30 minute time limit.

- Quick catch up on in-progress issues
- Decided that product managers should be involved in checking for QA / acceptance testing, so moved landing page background issue back to QA column.
- Gave Alice, a new UX volunteer, a quick tour of the kanban board, figma file, int

[2021-08-22 10:06] #776 closed

[2021-08-22 10:10] stdyrm commented on #752
Merged in #999

Leaving issue open, will close after Aloha Harvest reviews

[2021-08-23 18:03] dking1342 commented on #927
@entrotech  fixed the issue with the data not showing. The icons not show the proper image and the filter buttons have been ordered to match the icon images. It is now ready to be sent for a pull request.

[2021-08-23 20:02] dking1342 commented on #939
Thanks for bringing this up Bryan. You are correct, it was an issue with the CSS. I added a background position of center that takes care of this. I will create a pull request to have this rectified.

[2021-08-23 20:53] dking1342 commented on #998
Changed the styling of the label. removed padding for label. made font size 20px up to small breakpoint then up to 24px. removed medium and up breakpoint styling. it will start to wrap at around 330px, but that is smaller than most mobile phones and other screen sizes so it wouldn't be seen by the user unless in edge cases.

[2021-09-01 01:10] #1020 closed

[2021-09-02 14:06] gigicobos commented on #1014
**Thursday 09/02/21**

1. Review In Progress issues and changes on the board.
2. Prioritizing Backlog:
-  Review document with issues / features for Volunteers to meet with Jordan.
- Talk about the next features we could prioritize.
3. Next Week: what issues we want to work on.

[2021-09-03 00:11] #927 closed

[2021-09-03 00:19] fancyham commented on #924
This might be related to the Apple's auto-hiding of scrollbars.  By default, they appear briefly (if at all) then disappear.  Can be quite confusing.

Not sure if this is the exact issue but I suspect it's related.

There's some CSS to display the scrollbar (when scrolling is possible) — can we try this?
https://stackoverflow.com/questions/7492062/css-overflow-scroll-always-show-vertical-scroll-ba

[2021-09-03 00:29] gigicobos commented on #906
Maybe we could first test #996 , see if organizations update their info and then create a feature to "Claim Pantry"

[2021-09-03 00:35] fancyham commented on #958
Wasn't able to replicate where the Organizations panel was missing completely, but at certain screen sizes / content, it's not obvious that the Org Details panel can be scrolled due to Apple's default for scrollbars and where our back button is:

<img width="1138" alt="Screen Shot 2021-09-02 at 2 27 30 PM" src="https://user-images.githubusercontent.com/3376957/131932851-2af03093-df82-4f7c-9266-325

[2021-09-03 00:38] fancyham commented on #948
If we can't easily change the floating back button's location, let's change the color from Blue to Green (or some other FOLA color that is not blue (which blends in)

If someone can point me to the graphic image, I can change it, or maybe it's easy to change yourself.

[2021-09-03 00:51] entrotech opened #1028 "Bug: Re-naming Release Note Labels broke the Release Note generation process"
### Overview
When we do a release, we use a program called "gren" to generate release notes based on specific tags associated with closed issues that are tagged with labels that both flag the issue for inclusion in the release notes and assigne them to specific categories (Enhancements, Bug Fixes, or Technical Debt). When PMs re-named these files it broke the release note generation process. The .

[2021-09-03 00:55] #1028 closed

[2021-09-03 02:30] fancyham commented on #897
I think a big reason we're doing this is so that our volunteer coordinator can easily tally up the hours someone has worked on the site.

Are there ways to get a rough estimate instead of being totally accurate?

For example, perhaps the server can track the last time a page was served to a user, or per when a log-in cookie expires?

That way we can create something approximate like:
"2021-08-03 1

[2021-09-03 03:03] fancyham commented on #834
A workaround that might work is to display a single page that shows recent sign-in logs, with a filterable log history of say, the past 100 records.

Nice-to-have would be to select a time period (date-date, year, and/or past X weeks/months) that works with the filter.

- [ ] Log display, showing recent log-ins: Date and time, username.
- [ ] Filter by typing username (stretch goal: autocomplete f

[2021-09-07 11:57] stdyrm commented on #752
No problem, I can crop the Hawaii logo without tagline and adjust the styles a bit. However, when I check my local and the LA live site, I get a taller logo than the one you show? Hawaii Header w/o tagline is about 77px (I can make this shorter) and the tall LA header is about 107px. I think the short LA header you're referencing is about 50px high.

Before I adjust the styles, just want to double

[2021-09-09 04:26] fancyham commented on #752
Weird!  I wonder if the new taller logos are because of a new pull, specifically the one supporting these logos?  I got my screenshots about 2 weeks ago and believe that what was on the dev sites was moved to production since then, in which case the tall logos on the organizations view might be more of a bug report ;) @entrotech ?

[2021-09-09 09:40] stdyrm commented on #752
Hmm did the /organizations and other pages have a different header logo? Is there really a reason to have a short logo in the /organization and a tall one on the other pages? If planning to switch to short, maybe we can make logo the same on all pages

[2021-09-09 18:28] fancyham commented on #752
I believe so.  I don’t know if there’s been any thought to the short vs tall logos on all pages but sometimes there are multiple versions of a logo for different uses.  This might be a good example of when that’d be useful.

The tall logo on the HI landing page is pretty cool and then a shorter one on the /organizations could work really well.

(BTW, what’s the short Aloha Harvest logo look like?

[2021-09-10 00:01] entrotech commented on #679
Checked with @hanapotski on tuesday 9/7/21. She said that she and @webdevangelie were going to start working on this soon.

[2021-09-10 00:44] entrotech commented on #833
I can't reproduce this issu as of 9/9/2021 on the following devices/browsers:
Windows/Chrome
Windows/Firefox
MacBook/Chrome
MacBook/Safari
MacBook/Firefox
Android/Chrome

[2021-09-10 00:56] entrotech commented on #887
@fancyham  I don't have an iPhone, and I'm not able to repro by using web dev tool emulators on MacBook or Windows with Chrome. or on MacBook with Safari when emulating iPhone SE. Not sure how to proceed...

[2021-09-10 01:34] #833 closed

[2021-09-10 01:44] fancyham commented on #904
@entrotech said: Jenny and Jordan said that about ⅓ of the orgs require an appointment

So we can help people by giving the seekers a phone and email with which they should reach out to the org first.

"No walk-ins.  Please make an appointment by calling (XXX) XXX-XXXX between (days and time) or email (email address)"

Database:
Needs checkbox that says "Requires appointment"
with new fields for p

[2021-09-10 01:51] fancyham commented on #904
@fancyham

- [ ] Mockup volunteer screen
- [ ] Mockup public screen

[2021-09-10 02:33] fancyham commented on #887
Seems to be fixed.  Can no longer reproduce.  Perhaps related to
- #833 and fixed by #895

[2021-09-10 02:33] #887 closed

[2021-09-10 02:59] fancyham commented on #752
@entrotech Mentioned that the logo on the /organizations pages may have been responsive?  Maybe worth checking old code if that was the case, in case it's a regression.

Oh!  A possible clue: I just noticed that a different FO LA logo loads depending on if the site is loaded on a smartphone (tall green box logo) or loaded on a larger screen (horizontal word logo with carrot).  Give it a try!

What

[2021-09-10 12:03] stdyrm commented on #752
Okay, for landing page, you mean the logo in the middle, right? But the header logo will be the same on all routes? That shouldn't be a problem.

I don't think there's a separate short Aloha Harvest logo. Sorry for the confusion, I was referring to the one that cropped off the tagline as the "short version"

Yeah, it loads a separate file. You'd need to refresh the page for the new logo to load. T

[2021-09-10 19:23] fancyham commented on #752
Yup, the landing page is the one with the map background and the dialog front and center.

FO LA: The one that looks like this
![image](https://user-images.githubusercontent.com/3376957/132906433-50302720-2ae3-416b-adc5-f8585144aa4e.jpeg)

FO HI: The one that looks like this
![image](https://user-images.githubusercontent.com/3376957/132906404-75bc90c4-f9f9-467f-8beb-7bda10cbfae2.png)

Headers for

[2021-09-11 21:33] stdyrm commented on #752
Sounds good.

- Remove stacked LA logo from Header (keeping file in folder)
- Use Hawaii no tagline logo for Header
- Use Hawaii w/tagline logo for landing page

Yes, just need to make it responsive, because of aspect ratios. 175px maxWidth restrains LA logo, but makes HI logo massive, opposite true of 48px maxHeight.

One question: is the tagline "Find free food in _____" necessary on the mobile

[2021-09-12 05:32] fancyham commented on #752
Good question about the "Find free food in…" tag line — didn't realize it was only on the mobile site, too.

Could you open an issue / question about it?

I think that's a good catch and worth bringing up — for example, if we're going to have it, shouldn't it be on the desktop site where there's more space? :)

[2021-09-12 08:24] stdyrm commented on #752
In my last commit, I moved the tagline text to a config file, so each tenant can choose whatever they want. This is imported into App.js and added as props into the Header component. I deleted Hawaii's text, but left LA and other tenants intact. If nobody has objections with this commit, I don't think it'll be necessary to open a new issue.

Actually I realized later that the tagline text is on th

[2021-09-14 03:47] entrotech commented on #752
The tagline is considered important so there is some context as to what the app is for, if the user is given a link that takes them straight to the map page.

If you look at the Figma file here https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/Fola-Design-System?node-id=1647%3A3660 Under the Mobile Mockups page, it shows what the header on a mobile device looked like on a mobile device.   Here is

[2021-09-14 04:38] stdyrm commented on #752
Thanks, makes sense. I actually removed the stacked logo in my present PR; I can make changes below. Let me know if I should add or change anything.

- Restore stacked LA logo (but set max height = 45px)
- Restore tagline(?) - as mentioned in my last comment, I rearranged the tagline so it can be set independently by each tenant in a config file. Maybe I can keep this change, but also have the tag

[2021-09-14 08:47] stdyrm commented on #752
@entrotech @fancyham restored stacked logos and taglines (left taglines in the constants file so they're passed as props from App.js)

cc @sthapa

[2021-09-17 00:29] gigicobos commented on #1014
**Thursday 09/16/21**

1. Changes in the team.
2. Review In Progress issues, changes on the board, blockers.
3. Meetings: Jordan, Greg.
4. Issues for next week.

[2021-09-21 22:13] #1000 closed

[2021-09-23 20:34] fancyham commented on #904
First draft for review — thoughts?

Changes:
- Move eligibility/requirements to top (probably where they should be anyway).  This is where instructions and appointment for email/phone number can go.
  - Automatically turn phone numbers and emails in text fields into clickable links.  No special fields just for those because there are likely too many special cases.
- Add a custom text field note fo

[2021-09-23 22:07] ExperimentsInHonesty opened #1034 "Document Food Oasis team meeting times and who Must/Should/Can attend"
### Overview
The Civic Tech Jobs team needs accurate meeting time information from the Food Oasis team to help match your project with available volunteers.

### Action Items
- [x] provide details about the each meeting in a comment by using a copy of the check boxes below
- [x] post a link to this issue on https://github.com/hackforla/CivicTechJobs/issues/35 in a comment letting the civic tech jo

[2021-09-23 23:07] #936 closed

[2021-09-23 23:07] #935 closed

[2021-09-23 23:15] gigicobos commented on #1014
**Thursday 09/23/21**

1. Introduction to new members
2. Review In Progress issues, changes on the board.
3. Issues for next week

[2021-09-24 01:03] gigicobos commented on #1034
This meeting is no longer happening --> Mon 3:00 pm, 1 hour, Management

[2021-09-24 01:04] gigicobos commented on #1034
- [ ] day Tuesday
   - [ ] start_time 6:30
      - [ ] AM
      - [ ] PM
   - [ ] duration_in_min 60
   - [ ] name_of_meeting development
   - [ ] who_must_attend
      - [ ] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend
      - [ ] backend
      - [ ] d

[2021-09-24 02:28] gigicobos commented on #679
@entrotech I tried submitting a Correction (Google Chrome) as a food seeker on the test site and this error message showed up:
![Screen Shot 2021-09-23 at 10 20 36 PM](https://user-images.githubusercontent.com/66035169/134608925-ef173ff1-077c-498f-974f-cee7fcabb154.png)

[2021-09-24 02:31] gigicobos commented on #1034
- [ ] day Thursday
   - [ ] start_time 6:00
      - [ ] AM
      - [ ] PM
   - [ ] duration_in_min 60
   - [ ] name_of_meeting Team
   - [ ] who_must_attend
      - [ ] pm
      - [ ] all_leads
      - [ ] design_lead
      - [ ] research_lead
      - [ ] frontend_lead
      - [ ] backend_lead
      - [ ] data_science_lead
      - [ ] design
      - [ ] research
      - [ ] frontend
      - [ ] ba

[2021-09-24 02:41] hanapotski commented on #679
@entrotech I have this PR up > https://github.com/hackforla/food-oasis/pull/1035

[2021-09-26 04:24] entrotech opened #1037 "Fix runtime errors due to Material-UI major version upgrade"
### Overview
We upgraded Material-UI to version 4.*  This included breaking changes that need to be fixed.

### Action Items
- [x] Fix issues

### Resources/Instructions

[2021-09-26 04:35] #1037 closed

[2021-09-28 03:35] webdevangelie opened #1040 "Storybook colors"
### Overview
Implement design system colors from the mock up.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/Fola-Design-System?node-id=3046%3A7826

[2021-09-29 01:12] fancyham commented on #906
- This seems very similar to #996
- Does that solve this use case?  If not, perhaps we can add a hidden admin email address for an organization's listing.

[2021-09-30 23:53] gigicobos commented on #1014
**Thursday 09/30/21**

1. Review In Progress issues, changes on the board.
2. Discussion: Roadmap documents
3. Meeting Greg Bloom

[2021-10-01 01:19] gigicobos commented on #904
Waiting for a development issue.

[2021-10-01 01:25] gigicobos commented on #897
- Triggered by login
- Record last active time
- Show how many hours between login to last active time

This feature could be used for the sessions as well. If you look at the last people who log in on the day of the session, the admin can have an idea of who is attending the session.

[2021-10-05 05:35] stdyrm commented on #752
@entrotech @fancyham @sthapa per our 10/4 meeting, we can hold off on closing this issue depending on the future involvement of AH. If a rollback is needed, I'll do it on this same ticket.

[2021-10-05 05:36] stdyrm commented on #948
@fancyham per our 10/4 meeting, I can take this ticket if nobody else is assigned

[2021-10-05 16:55] entrotech commented on #904
We discussed in the meeting on 9/30/21 among @fancyham @gigicobos and myself, and agreed that Bryan's idea was enough to move forward with - though we should probably check with Jordan Smith as well. We decided that

- a "Walk-ins checkbox" could be added to explicitly indicate that walk-ins are welcome
- A fee-form text box in the hours section should be added where the volunteer could indicate a

[2021-10-05 17:04] entrotech opened #1041 "Modify OrganizationEdit form to support More Detailed Hours Information."
### Overview
Implement a first-cut at design issue #904 to implement a "Make an Appointment" feature. This also adds a flg to indicate that walk-ins are accepted and a free-form text field where a volunteer can enter notes about the hours.

### Action Items

- Add a binary "walkins" field to the stakeholder table with a corresponding checkbox in the hours section on the Businees Hours tab of the O

[2021-10-05 17:12] entrotech opened #1042 "Modify Food Seeker UI to support appointments and new business hours info"
### Overview
Modify the Food Seeker UI to surface the new fields for Walk-ins and Business Hours Notes, and implement by appointment links.

### Action Items

- On the OrganizationDetails Panel, add controls to show the "Business Hours Notes" and the "Accepts Walk-ins flag".
- Both the Business Hours Notes and the Eligibility Notes should automatically make any phone numbers or emails into links t

[2021-10-07 02:57] gigicobos commented on #751
**Meeting Recap 09/30 - Greg Bloom | Open Referral**:

We started with introductions and Greg asked what we wanted to know about OR. Below are points of what I understood:

- Greg explained the 3 models he is currently testing: Centralized open platform, data collaborative, and service registry.
- We discussed the issues of having each organization handling their data and the issue that no organiz

[2021-10-08 02:08] fancyham commented on #923
- Take a look at #927 that has some detail about where these SVG files live.

[2021-10-09 17:59] hanapotski opened #1043 "Suggestions dashboard modal bug"
- [ ] Add a fixed width to the modal
- [ ] Make sure it works for small devices
- [ ] Button text is missing

<img width="382" alt="Screen Shot 2021-10-09 at 10 58 14 AM" src="https://user-images.githubusercontent.com/25972384/136669319-a6e4c80e-f496-46c9-aae7-29985eed3a37.png">

[2021-10-11 19:34] entrotech opened #1045 "Migrate to version 5 of Material-UI"
### Overview
There is a major upgrade of the Material-UI component library from version 4.* to 5.*. This is a BIG change involving re-naming the component NPM packages, changes to the theming structure, moving to emotion or styled components vs JSS for styling, moving some components out of the "lab" package and into the core.

### Action Items
- [ ] Study the below materials.
- [ ] Develop a migr

[2021-10-12 00:47] entrotech opened #1046 "Implement a User Profile Edit Capability"
### Overview
Currenty, users do not have the ability to update their name and/or email. Implement such a feature

### Action Items
- [ ] Work with UI/UX person to decide on where the menu goes and how the edit screen should look
- [ ] Review and/or implement required Web API endpoints (secure them by only allowing logged in user to edit their own login record.
- [ ] Implement front-end edit form.

[2021-10-14 02:45] gigicobos commented on #751
Adding comments from John's email to Nancy Beyda 10/12/21:

The meeting with Greg was interesting. Food Oasis currently both verifies our own data and presents it on our website.  If we were to adopt Greg's Open Referral (HSHDS) standards, it would open the door to allow us to interoperate with other systems in two ways:
1. We could supply data from our database to other websites or applications t

[2021-10-16 03:54] #1043 closed

[2021-10-17 19:36] #909 closed

[2021-10-17 19:37] entrotech commented on #700
Obsolete

[2021-10-17 19:37] #700 closed

[2021-10-18 01:47] #855 closed

[2021-10-19 02:09] entrotech opened #1053 "Refactor the Button Component to Remove text prop"
### Overview
The Button component was created with a text prop to specify the button text. We want to change it to use the children prop.

### Action Items
- [ ] Make change as above.

### Resources/Instructions

[2021-10-19 02:12] entrotech opened #1054 "Update all instances of the Button Component to use Children prop for label"
### Overview
We want the Button component to get its content from the Children prop.  Right now it accepts either the text prop of children prop. Before working on Issue #1053 , we need to modify the existing instances of Button to use the children prop.

### Action Items
- [ ] Modify the Button instances to use the children prop.
- [ ] Make sure the buttons work.

### Resources/Instructions

[2021-10-19 21:17] entrotech opened #1057 "Look into using Food Oasis Widget on Wordpress Sites"
### Overview
Issue #962  Implemented a Food Oasis widget for embedding Food Oasis into third-party HTML web sites.  According to Bonnie, most of the Neighborhood Councils use Wordpress for their web sites, so we should probably create a Wordpress plugin for embedding Food Oasis in their sites for them.

### Action Items
- [ ] Determine options for including Food Oasis into a Wordpress site:
  - [

[2021-10-20 13:22] captain-woof commented on #1053
Can I be assigned this?

[2021-10-22 02:25] fancyham commented on #1057
Bonnie suggested that once we get something up and running that we're happy with, she has three LA neighborhood councils that may be good pilot partners.

[2021-10-26 02:48] entrotech opened #1065 "Investigate Improved Time Pickers for Business Hours"
### Dependency
- [#[1045](https://github.com/hackforla/food-oasis/issues/1239)](https://github.com/hackforla/food-oasis/issues/1239)

### Overview
The OrganizationEdit component has a tab for entering business hours. When you enter a time range, the opening and closing time fields use a Matieral UI KeyboardTimePicker, which works ok, but is a bit clumsy to use. For example, it is difficult to just

[2021-10-26 02:56] entrotech opened #1066 "Modify Eligibility and Notes fields to present email addresses and phone numbers as links to Food Seekers"
### Overview
Issue #904 outlines a set of changes to help pantry clients with making appointments. One part is to modify the OrganizationDetail component's Eligibility and Public Notes presentation to convert text that looks like an email address or phone number into links that would launch an email client, or dial their phone, respectively - at least on a mobile device.

### Action Items
- [x] in

[2021-10-26 03:19] entrotech opened #1067 "Add fields to OrganizationEdit form for Walk-Ins and Hours Notes"
### Overview
Per issue #904, we need to add two new data fields to the OrganizationEdit form.

### Action Items
- [ ] Add a boolean Walk-In field. When checked, it means that clients do not need an appointment. Maybe it should be "yes" (checked) by default. The column name in the database should be "walkin".
- [ ] Add a free-form Textarea control labelled "Hours Notes" to the Business Hours area o

[2021-10-26 03:27] entrotech opened #1068 "Display Walk-Ins Accepted and Business Hours Notes to Food Seekers"
### Overview
Issue #904 identified changes to make it easier for Food Seekers to determine if appointments are required, and see if there are any special notes about the business hours. This issue is to display this information to Food Seekers on the StakeholderDetails component.

### Action Items
- [x] Work with UI/UX to determine how to display the Walk-Ins boolean settings to Food Seekers.
- [x

[2021-10-26 03:38] entrotech opened #1069 "Fix Send Suggestion Feature"
### Overview
If you attempt to Send a Suggestion (or Suggest a new Listing), when you Send the suggestion it fails with an HTTP 500 error.

### Action Items
- [ ] Debug and fix.

### Resources/Instructions

[2021-10-27 02:32] entrotech opened #1071 "Replace favicon with image of "carrot" from the Logo"
### Overview
The current favicon is based on the old Food Oasis logo, Replace it with the portion of the new Food Oasis logo that looks like a carrot.

### Action Items
- [ ] Create *.ico file based on the Food Oasis logo carrot part.
- [ ] Replace the favicon on Food Oasis with the new ico file

### Resources/Instructions

[2021-10-27 02:36] #1071 closed, assigned to entrotech

[2021-10-28 22:55] hanapotski opened #1075 "Refactor User Provider"
- add a custom hook: `useUserContext`
- update components that are using `UserContext.Consumer`

[2021-10-28 23:09] hanapotski opened #1077 "Clean up client logs"
- Remove `console.log`s
- Replace actual error with error logs

[2021-10-29 22:10] entrotech commented on #962
Created a wiki page that shows how to embed the widget in an HTML page [here](https://github.com/hackforla/food-oasis/wiki/Embedding-Food-Oasis-in-Your-Web-Site)

![image](https://user-images.githubusercontent.com/9939032/139506679-5521701d-30df-4dd2-a83f-77b3de6aaf09.png)

[2021-10-29 22:34] fancyham commented on #1016
From @Benbaillou from Slack :
Hi Bryan - great job! I had a look at it and here are comments

**General Questions**
What is the Stakeholder Experience account?
Does LAWorks use the admin interface?

**Comment on red & green questions**
**Data Entry Volunteer Experience**
Tooltips
Problem identified with Touch Only devices: when scrolling with fingers it is easy to make changes by mistake on Organi

[2021-10-30 00:23] #1077 closed

[2021-10-30 00:24] #923 closed

[2021-11-01 09:49] stdyrm commented on #752
@entrotech @fancyham @sthapa revised HI static pages per Aloha Harvest's suggestions. See PR #1083

[2021-11-02 17:35] entrotech opened #1084 "Enable correct Menu Items for Admin Users"
### Overview
The Suggestion Admin and Parent Organization Admin menu items should be enabled only for users with the Admin role

### Action Items
- [ ] Fix
- [ ]
### Resources/Instructions

[2021-11-02 22:44] #1069 closed

[2021-11-02 22:58] #1084 closed

[2021-11-03 02:44] fancyham commented on #948
Looks good!  Could the link be bigger, please? :)  It should be pretty visible.  Also, in Safari on my mac, it's appearing in font: "system-ui" rather than the helvetica from the css.

I suggest trying 16px to match the rest of the text on the page, perhaps bold.  Post screenshot if you need feedback.

[2021-11-03 02:53] fancyham commented on #928
Use the responsive simulation mode (in Safari: Developer > Enter Responsive Design Mode) to simulate different devices and use the web inspector > Network to get bandwidth used and time elapsed.

Create a spreadsheet:

Title: Put the date, your name, what browser and computer you're using, your location

Columns: Landing page, first map, organization detail, About Us, FAQ, etc.
Rows: Device and sc

[2021-11-03 04:16] fancyham commented on #995
Related to:
- #926
- #929

[2021-11-03 04:17] fancyham commented on #926
Related to
- #995

[2021-11-03 04:17] fancyham commented on #929
Related to
- #995

[2021-11-03 04:33] fancyham opened #1087 "Move old shared files to the new HfLA Shared Drive > Food Oasis folder"
### Overview (Nov 21, 2022)
See latest comments below and #1361 Food Oasis Documentation Assessment for current status.

- [ ] Review Old Google Drive to see if any relevant docs need to be moved over to the New Drive.

### Overview (Nov 2, 2021)
Hack for LA now has an official shared Google Drive, so let's move all our files from the old shared folder to the official new one.  This new drive is s

[2021-11-03 04:39] fancyham commented on #1087
If we have more instructions, video, screenshots, please add them here?

Also, please feel free to rewrite issue for clarity, etc.
@entrotech @gigicobos

[2021-11-03 22:58] entrotech commented on #1069
@hanapotski I this @gigicobos created a wireframe for the Suggestion Admin page at one time - we should review to see if the implemented page matches, and consider creating a new feature for the new iteration on this feature.

[2021-11-04 02:58] gigicobos opened #1088 "Board Maintenance: Create milestones"
### Depedencies

 #1155

### Overview
Food Oasis needs to adapt its board to the standard of other projects in Hack for LA.
Milestones must be created and labelled to the issues to enable prioritisation and pace estimation for the project

### Action Items

- [x] Identified milestone names
- [x] Add milestones on the board
- [ ] Label each prioritized backlog issue to a milestone

### Resources/In

[2021-11-04 09:24] souronion commented on #926
Based on John and Bryan's comments above, I worked on the following four cases:

**1. Geolocation disabled + no user-entered address**

- The map is centered on the center of the tenant area.
- **Distances = distances from the center of the tenant area.**
- Question: Should we hide the distances in this case? Knowing how far the food banks are with respect to the center of downtown LA doesn’t seem

[2021-11-04 17:12] Benbaillou commented on #1014
**Thursday 11/4/21**

1. Introducing Fola's team members with UX researchers interested in joining
2. Quick overview of the UX/research issues (#964, #963, #903)
3. Check-in: updates from last week
4. In-progress and Q&A: quick overview of issues
5. Specific focus on:
6. Check-out: "Pick one issue" or "what I will focus on next week is..."

[2021-11-05 00:59] entrotech opened #1089 "Fix Verification Admin Page Criteria Dialog"
### Overview
When you press the "Criteria" button, the screen goes blank instead of displaying the SearchCriteria component.

### Action Items
- [ ] The problem appears to be that there are two React components named "Input" ,one from the Material-UI library and a second that was created as a Food Oasis component, intended to be a Material-UI TextField, customized to provide a Food Oasis standard

[2021-11-05 03:00] fancyham commented on #926
Love the exhaustive use cases and mockups!  Thanks!

@entrotech mentioned that we don’t currently support ‘live’ geolocation (blue dot moves automatically as user moves), so that could simplify things for us by removing case 4.

Case 2 (geolocation) in this case might be merged into case 3, but with the address field filled out by the computer?  I think we’d want to avoid the blue dot in this case

[2021-11-05 03:14] gigicobos commented on #1069
@hanapotski Attached the wireframe for the Suggestions admin page. This wireframe includes the information we will need but as we discussed your layout looked cleaner and simpler. I do not have a the screenshot of the layout you shared with me. Hope this helps. Let me know if you have any questions.

[Food Oasis Suggestions Issue # 1069.pdf](https://github.com/hackforla/food-oasis/files/7480238/Fo

[2021-11-05 03:41] fancyham opened #1090 "Toggle that displays a transit layer on the map"
### Overview
Food-seekers often look for pantry locations near public transit because food can be quite heavy and they don’t have a vehicle.

Let’s add a toggle that shows transit lines or stops on the map.  This will allow folks to look up transit between their home and the pantry location.

### Action Items
- [ ] Mock up how a transit layer toggle would look and work
   - [ ] Should it show tran

[2021-11-05 03:46] fancyham commented on #962
I think this issue was closed automatically by a robot by mistake so reopening

[2021-11-05 03:51] fancyham commented on #962
I tried embedding it in a generic web page (I grabbed the code from  https://github.com/hackforla/food-oasis/wiki/Embedding-Food-Oasis-in-Your-Web-Site ) and I set the height to 400 because 100% gave me a short letterbox-shaped iframe in my case..

For me, it was a little strange: after a long pause, it displayed the FO logo at the top, the hamburger menu, but was blank elsewhere.

fancyham.com/fo

[2021-11-05 20:56] fancyham commented on #929
Related to
- #926

[2021-11-05 20:58] fancyham commented on #926
Related to / duplicate of
- #929

[2021-11-06 16:22] #1089 closed

[2021-11-06 16:29] entrotech commented on #938
@Benbaillou Do not re-organize files and folders in old G-Drive folder linked above. We are in the process of moving all the files from that folder to the new G-Drive folder, which requires leaving files in the exact same folder structure, until the move is complete. AFTER we get all the files moved to the new shared drive, we can talk about re-arranging the folders.

[2021-11-06 16:50] entrotech commented on #1069
I worked on this a bit to get it functioning. I'd like to give this issue back to @hanapotski  and @gigicobos to finalize the appearance and decide it we want to do another iteration on the feature. Here is what it looks like now:

![image](https://user-images.githubusercontent.com/9939032/140617160-0fd2f871-fb7e-408b-bf88-14e6a21c1757.png)
 A few things to think about:
The "Suggestions" com from

[2021-11-07 16:10] VirginiaWu11 commented on #948
![image](https://user-images.githubusercontent.com/79432798/140652730-37208769-9e4d-474e-b2c9-5cf62de5a941.png)

Like this?

[2021-11-07 18:11] fancyham commented on #948
Yup!

Could you also show two additional variation screenshots with it bold and with an outline like the ‘Send Correction” button?

It needs to be really obvious, and also because on the latest Safari, the browser back button doesn’t return to the org list so that’s the only way to get back to the list.

I suspect the button outline might work really well?

[2021-11-07 18:29] VirginiaWu11 commented on #948
![image](https://user-images.githubusercontent.com/79432798/140657187-4706d3aa-0345-4fc0-9bb3-fe1cc421a940.png)
![image](https://user-images.githubusercontent.com/79432798/140657190-c389d435-f886-412c-924a-4205952296d7.png)

Thoughts?

[2021-11-07 20:07] #1075 closed

[2021-11-07 20:07] #1054 closed

[2021-11-07 22:46] fancyham commented on #948
Thanks!

My favorites, in order:
- bold
- plain
- outline (looks to similar to other buttons, actually)

Do you have a favorite?

Anyone else, if you have faves, please speak up :) @souronion

My criteria are: something that looks different to indicate it’s navigation, and stands out from the content.

If you’re feeling the same as me, I’d say let’s go for bold, but we can also wait for other opin

[2021-11-09 13:47] souronion commented on #948
@fancyham Yes, I also vote for bold.

@VirginiaWu11 Thanks for making the screenshots! :)

[2021-11-09 14:30] VirginiaWu11 commented on #948
Thanks all!

[2021-11-10 00:46] #948 closed

[2021-11-11 15:05] Benbaillou commented on #938
Understood - Thank you @entrotech

[2021-11-11 15:48] Benbaillou commented on #926
hi,

Great job again @souronion !!

**Following @fancyham comments**

- _"One question that came up was whether to use the red marker as the center of the map when user didn’t enter anything. For me, I think that your case 1 does it well..."_ => I agree we can let this case 1 without any marker (like Google maps does)

- @fancyham _"Merging Case 2 with Case 3"_  just to make sure I get it well =>

[2021-11-11 20:36] fancyham commented on #926
Correct.  Geolocation now finds user location and marks that location on the map with the red pin. It basically uses GPS to find a street address or lat/long and in effect, enters it into the search field turning case 2 into a version of case 3.

[2021-11-11 23:01] gigicobos commented on #926
@souronion here are my comments to your questions and mock-up ideas :) :

**1. Geolocation disabled + no user-entered address: Should we hide the distances in this case?** --> I support hiding the distances in that case.
**2. Geolocation enabled + no user-entered address** --> All good in this case. I like the mock up.
**3. Geolocation disabled + user-entered address** --> All good with the logic,

[2021-11-11 23:43] gigicobos commented on #1014
**Thursday 11/11/21**

1. Intros: Gigi Patel, UX Researcher.
2. Check-in: meetings or updates from the last week.
3. In-Progress: Issues that need feedback and changes in the board.
4. Roadmap: Goals and Objectives breakdown.
5. Check-out: Issues and goals for next week.

[2021-11-12 01:03] gigicobos commented on #1069
@hanapotski @entrotech will get the feedback from Jordan (and the other admin volunteers) about the features for next iteration. I will have comments / revised mockup after their feedback.
@entrotech would it be too much if we make sure the next iteration also includes the changes for issue #996 where pantries submit suggestions as well?

[2021-11-12 01:54] souronion commented on #926
Thanks for the great suggestions, everyone!! I updated the cases based on our discussion last week.

**1. Geolocation disabled + no user-entered address (same as the previous version)**

- The center of the map = the center of the tenant area
- Distances = distances from the center of the tenant area
- No marker to mark out the center of the map
- Hide distances in this case to avoid confusion
![c

[2021-11-13 23:46] VirginiaWu11 opened #1094 "Create a Custom Hook for the Toaster"
- add a custom hook: `useToaster`
- update components that are using setToast.

[2021-11-16 02:31] fancyham commented on #1016
Latest version with new screens/features added as of 2011-11-15

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/Fola-Design-System?node-id=3598%3A89

PDF:
[2011-11-15 Food Oasis Volunteer and Admin UI Site Map.pdf](https://github.com/hackforla/food-oasis/files/7542896/2011-11-15.Food.Oasis.Volunteer.and.Admin.UI.Site.Map.pdf)
53

[2021-11-16 02:57] #1094 closed

[2021-11-16 19:59] fancyham opened #1096 "Visually indicate when user is on the dev site"
### Overview
Add some visual indicator to make it more obvious when a user / developer is working the dev site.  This was, it’s less likely to make the mistake of thinking that one is working on the prod server when one is working on the dev server.

One way to do this would be to change the color of the header or put some text at the top of the page.

### Action Items
- [x] Mockups for how this m

[2021-11-18 17:22] Benbaillou commented on #1014
**Thursday 11/18/21**

1. Check-in: meetings or updates from the last week.
2. In-Progress: Issues that need feedback and changes in the board.
3. Weekly Meeting w/c Thanksgiving - confirm the date and slot
4. Check-out: Issues and goals for next week

[2021-11-19 01:54] entrotech commented on #1067
Duplicate of Issue #1041

[2021-11-19 01:58] entrotech commented on #1067
Accidentally closed. This is not really a duplicate of #1041, since that addresses the back-end for this issue.

[2021-11-19 02:44] fancyham commented on #962
Embedding — things we want before releasing?
- [ ] Very narrow devices with iFrames in it
    - [ ] Stacking of buttons on very narrow buttons
    - [ ] Bottom row gets crammed up
- [ ] GPS button doesn’t work
- [ ] Want to specify default location and filter

Soon/Stretch?
- [ ] Tagging with filtering down to just those items

[2021-11-19 02:50] fancyham opened #1098 "Embeddable widget usability issues / requested features"
### Overview
Some features we need to support embedding our map onto other websites — often these are neighborhood council websites, city websites, service providers, or food banks and food rescue organizations that supply food pantries and meal programs.

This would allow these websites to embed a live Food Oasis map with current food pantry/meal locations on their webpages while helping Food Oas

[2021-11-19 18:31] entrotech commented on #923
@souronion @fancyham Can we close this issue? It has been deployed to production. I wanted to get one last check that it works as you intended.

[2021-11-19 18:33] entrotech opened #1099 "Adjust picture aspect ratios on Hawaii Static Pages"
### Overview
(HI only)

### Actions

- [ ] cropped pictures for wider aspect ratio
- [ ] rounded picture corners to match page section boxes (LA site also does this)

[2021-11-19 18:37] #1099 closed

[2021-11-19 21:11] fancyham commented on #923
@entrotech looks good to me.  Good job everyone!

[2021-11-19 21:17] fancyham opened #1100 "Add a Bug template to the issue templates"
### Overview
We seem to have dropped the bug reporting template.  Could we add one to the “New Issues” templates? (I don’t have permissions to do this)

### Action Items

- [ ] Add bug template to New Issues templates
- [ ] Add Bug to Labels? (colored red perhaps)

### Perhaps something like:

Overview:

Describe steps to replicate the bug:

Describe the devices, platforms, apps, settings the bug

[2021-11-19 21:23] fancyham opened #1101 "Bug: GPS / Use My Location button is disabled on map"
### Overview
In the past few days, the ‘crosshairs’ button to get the user’s location via GPS has been disabled both on web and mobile when in map mode.

Note the “Use my current location” button on landing page does work properly.

Perhaps this is a regression due to a recent update?

### How to replicate
1. Go to foodoasis.la
2. Tap magnifying glass to show all of LA
3. Notice that crosshairs bu

[2021-11-19 21:40] fancyham opened #1102 "Bug: Very tall toolbar when viewed on laptop"
### Overview
On iOS and Mac in Safari, the toolbar is sometimes very tall and usually taller than necessary.

This seems to be a recent change in the past month?

### How to replicate:
1. Go to foodoasis.la
2. Load map
3. Note extra-tall vertical toolbars:
<img width="1366" alt="Screenshot 2021-11-19 at 11 40 30 AM" src="https://user-images.githubusercontent.com/3376957/142695034-bbca4211-d266-4ed

[2021-11-20 00:12] fancyham opened #1103 "GPS button doesn’t work?"

[2021-11-20 00:13] fancyham commented on #1103
- duplicate of #1101

[2021-11-20 00:33] fancyham commented on #752
@stdyrm Hey there, is this done and can it be closed?

[2021-11-20 00:40] entrotech opened #1104 "Fix broken time entry for Business Hours on Organization Edit page"
### Overview
Fix broken time entry for Business Hours on Organization Edit page

### Action Items
- [x]  Fix

### Resources/Instructions
No related code has been changed in the OpenTimeInput component - this is most likely a breaking change in the TimePicker component of Material-UI, which had a major version upgrade.

[2021-11-20 02:45] #1104 closed

[2021-11-20 08:19] stdyrm commented on #752
@fancyham Yes, thanks it can be closed.

[2021-11-20 18:29] fancyham commented on #752
Thanks!

[2021-11-20 18:29] #752 closed

[2021-11-21 06:34] fancyham commented on #1016
Latest version adds Security Roles and what screens can be accessed via what role

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/Fola-Design-System?node-id=3598%3A8953

[2021-11-21 17:52] #1067 closed

[2021-11-22 11:12] Benbaillou opened #1109 "Test - Weekly Writing Stand-Up"
### **W/C 22 Nov**
Fola team's Follow up for w/c 22 Nov

**Benjamin**

- _Main last week achievements:_ 1) Roadmap and goals updated with Gigi 2) Meeting with Gigi + Bryan to prepare UX R. onboarding
- _Main current week objectives_: 1) Complete roadmap update 2) Develop Foodseekers acquisition and activation strategy 3) self assigned  one foodseeker issue 3) tide backlog
- _Potential blockers_: N

[2021-11-22 18:34] Benbaillou commented on #1014
Monday 11/22/21

**Priorities ​**

- [ ] 1.Weekly time change: Ben's suggestion to reschedule the weekly meeting to a time that works for all team members (see picture below)

- Suggestion 1: Meeting on Thursdays at 2 PM Pacific Time
- Suggestion ​2​: Meeting on Thursdays at ​3​ PM Pacific Time
- Suggestion 3: Alternate every week between current meeting slot (6 PM Pacific Time) and Suggestion 1

[2021-11-22 19:30] #1042 closed

[2021-11-22 19:38] entrotech commented on #1041
Addressed in PR #1107

[2021-11-22 19:38] #1041 closed

[2021-11-22 19:47] entrotech commented on #1068
@fancyham @gigicobos @Benbaillou Should any of the appointment info appear on the Organization Preview pane?

![image](https://user-images.githubusercontent.com/9939032/142924934-b4f26498-aa21-4c31-8095-6a219f4a2681.png)

In addition to the Organization Details pane:

![image](https://user-images.githubusercontent.com/9939032/142925422-022e70a1-f94a-485f-aff8-012000464665.png)

[2021-11-22 19:50] #1066 closed

[2021-11-22 20:35] Benbaillou commented on #1068
From my point of view it could be a good idea to display this information here.

**Question: Automatisation**
Have we considered to automate the entry by enabling the Data Entry Volunteers to tick a box on their panel to display if an organisation does "walk only", "appointment only"

[2021-11-22 23:43] entrotech opened #1111 "Add Tags to stakeholders and create Admin Screen for maintaining available tags."
### Overview
The idea is to generate a flexible "tag" feature for tagging stakeholders with specific attributes for various purposes. The initial motivation come from Hawaii, where the team wishes to be able to tag specific stakeholders according to the "single-source" of data concerning each stakeholder, since some listings are from Aloha Harvest, some future listings might be from the Hawaii Foo

[2021-11-23 02:12] fancyham commented on #926
For the question about reverse-geolocating: @entrotech said that how location is turned back into text depends on the service.

Depending on the service, might return an approximate street address, a cross street, or maybe lat/long.

We agreed with @souronion’s suggestion that if the address becomes too complex or non-useful for a human, that we can put a red pin down but leave the address field b

[2021-11-23 02:22] fancyham opened #1112 "Add Search for specific name of organization in address field."
### Overview
Potential feature:

It could be nice to be able to search for a specific pantry or meal program by name.  Currently that doesn’t seem to be possible.

Why?  If the food seeker knows the name of the org but doesn’t know where it’s located, it’s likely that the food seeker will enter the name into the address field because it looks like a search field.

Entering text there already displ

[2021-11-23 14:47] gigicobos opened #1113 "Perform a heuristic evaluation of the food seeker and volunteer desktop & mobile flows"
### Overview
We need to perform a heuristic evaluation of the food seeker and volunteer user flow on both desktop & mobile devices.

### Action Items
- [x] Perform heuristic evaluation of food seeker desktop site - document observations
- [x] Perform heuristic evaluation of food seeker mobile site - document observations
- [x] Perform heuristic evaluation of volunteer desktop site - document obser

[2021-11-23 14:49] gigicobos opened #1114 "Perform a heuristic evaluation of the food seeker and volunteer desktop & mobile flows"
### Overview
We need to perform a heuristic evaluation of the food seeker and volunteer user flow on both desktop & mobile devices.

### Action Items
- [x] Perform heuristic evaluation of food seeker desktop site - document observations
- [x] Perform heuristic evaluation of food seeker mobile site - document observations
- [x] Perform heuristic evaluation of volunteer desktop site - document obser

[2021-11-23 16:51] Benbaillou opened #1115 "Add search by organization name search field and filter"
### **Overview**:
On the website, when typing an organisation in the search bar, it is neither displayed on the right panel list nor with a pin on the map.

### Objectives
Let's allow searches on org names in the search field.  Currently, we only allow address input, but many users probably expect to also be able to enter org names or other search terms there (like Google, or their browser's 'addr

[2021-11-23 16:58] Benbaillou opened #1116 "Bug: stacking in the tab organization list-map view"
### **Overview**
Organization listings overlap each other in search results and appear stacked after landing on the map page or searching an organisation in the bar - recurring bugs

### Action Items

- [x] Fix

###  Screenshot
Device - Macbook Pro iOS 10.15.7 Catalina
Browser - Google Chrome

![Capture d’écran 2021-11-23 à 16 29 28](https://user-images.githubusercontent.com/91577998/143069201-e

[2021-11-23 17:12] entrotech opened #1117 "Add ability to search by Neighborhood and tags"
### Overview
Issue #1111 added "tags" to stakeholders to provide a flexible way for each tenant to define tags and use them to categorize stakeholders - the primary use case is for Hawaii, where they want to tag the stakeholders that are sourced from Aloha Harvest Food Bank (vs other sources). This sets us up to allow embedding a Food Oasis Widget on the Aloha Harvest web site that only shows site

[2021-11-23 17:25] entrotech commented on #1115
The search field is for defining the geographic location for the search query. It is not intended to search by name or any other property of the listed organizations. This is a common point of confusion, as users are conditioned to a google type search box that attempts to match the search terms to any conceivable part of the pages searched.

In some cases, it can find organizations this way, but

[2021-11-23 17:27] entrotech commented on #1112
This is a duplicate of issue #1115. See my comments there.

[2021-11-23 17:52] Benbaillou commented on #1115
Thanks John for the comments.  I'll move it to the Icebox for now until we have insights that it needs a "must have"

[2021-11-23 18:27] entrotech commented on #1115
To explain a bit more, the location search box is powered by the MapBox geolocation service. When a search string is given to the geolocation service, it queries the MapBox address database for addresses that match the string. We also constrain the search by latitude and longitude bounds, so it also only looks in a rectangular area, which helps restrict results to addresses that are local. The Map

[2021-11-23 18:28] #1111 closed

[2021-11-23 19:10] ExperimentsInHonesty opened #1119 "Label and milestone review and audit"
### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check the following to make sure that they are all 0 open (Links for checking to make sure that all issues either have a ___ or a ____ missing label)
   - [ ] [Role](https://github.com/hackforla/food-oasis/issues?q=is%3Aopen+is%3Aissue+-label%3A%22Role%3

[2021-11-23 19:56] Benbaillou commented on #926
@souronion hey - please add a size label to your issue

[2021-11-23 20:48] fancyham opened #1120 "Highlight pin when cursor hovers over a listing in organization list"
### Overview

This is a ’nice to have’ feature.

Highlight the location’s pin on the map when the user hovers (with cursor) over each listing in the organizations list.

Why?  Because this would help users browse organizations more efficiently.

This would only happen when viewing the list of organizations.

The ’selected’ pin from… ( #923 ) would be the pin to use as a highlight.

### Action Item

[2021-11-23 22:56] fancyham commented on #926
@Benbaillou I think that the size estimate is really more of an @entrotech thing at this point since the design is complete and it’s entering development.

(I’ve been thinking of the size as a development estimate, not a design one, BTW — but if we were to have ‘design size' estimate labels, I’d be happy to use them)

[2021-11-23 23:21] fancyham commented on #1115
Thanks for the detailed explanation

- Yes, this could possibility be handled in #947 as a filter field (though I think that’d be rather hidden), or maybe an additional search field above the org list which could act as a live filter, though rather unsual.

How about hitting two databases (mapbox for geolocation and FO for org name) and show both results in a drop-down, perhaps stacked to make it

[2021-11-24 00:32] fancyham opened #1121 "Bug: Hamburger menu’s background appears as oval (and not a circle or rounded rect?)"
### Overview
I believe the background behind the hamburger button (the menu button in the upper right) is intended to be a circle but it’s appearing as an oval.

It used to be a rectangular button a few months ago (see below).

Perhaps this was changed when we updated the Material Design framework?

### Action Items

- [ ] Was hamburger button changed to a circle intentionally?
- [ ] If yes, modif

[2021-11-24 17:23] #1117 closed

[2021-11-24 17:27] entrotech opened #1123 "Bug: Logged-In user is logged out when they navigate to Home Page"
### Overview
If a registered user is logged in, when they navigate to the home page (e.g., by clicking on the Food Oasis logo), then their session storage is cleared, causing them to be logged out. this is super annoying for an admin or volunteer that wants to switch back and forth between authenticated features and viewing what a food seeker would experience.

### Action Items
- [ ] Fix

### Reso

[2021-11-24 23:42] #1123 closed

[2021-11-25 10:56] Benbaillou commented on #1116
@entrotech - Hi John. I found a recurring stacking bug on the mapping interface. Let me know if you need more details.

[2021-11-25 11:26] Benbaillou commented on #1119
@entrotech @fancyham @souronion @ryu-jieun @LIlinit - Team, I will work on cleaning the issues and adding correct labels. I shall ask you some information during this task on your issues.

[2021-11-25 14:43] Benbaillou opened #1125 "Update FOLA roadmap"
### Dependencies

#1155

### Overview
We need to land a final roadmap to prioritize the work to be done and  to potentially recruit new members based on our identified needs
### Action Items
- [x] Draft the roadmap
- [ ] Set up a team meeting with Eng and Design Leads to revise and approve the final roadmap (PM + Eng + Designers)
- [ ] Finalise the roadmap
- [ ] Link roadmap goals to milestones
-

[2021-11-25 14:46] Benbaillou commented on #1125
@gigicobos @entrotech @fancyham - Folks, is it possible to set a quick meeting next week (w/c 29 Nov) to revise the draft on the roadmap we have been working on Gigi an I?

[2021-11-25 14:55] Benbaillou commented on #926
@fancyham thank your for your feedback. I withdraw the label 'role design' and we let @entrotech size the issue.

Good idea for the size label per role, we just need to make sure it does not bring too much confusion.

[2021-11-25 16:45] Benbaillou opened #1126 "Hiring a new PM"
### Overview
A new PM will need to be hired to cover the following scope:

- Work with targeted organisations to embed FOLA on their website
- Integrate the management of Data Entry Volunteers (training, session, recruitment) under Hack For LA

### Action Items

- [x] Write a job desc
- [x] Make it approve by Bonnie and Leads
- [x] Post it

### Resources/Instructions
N/A

[2021-11-25 16:47] Benbaillou commented on #1126
@gigicobos

Bonnie is totally fine for us to hire a new PM and agrees with Bryan and John's idea that he/she should be focus in growing the partnerships:
Embed our website on targeted organisations' 
Onboard the management of Data Entry Volunteers (training, session, recruitment) under Hack For LA

Her only requirement is to have someone living as close as possible to California, because the futur

[2021-11-25 17:04] Benbaillou commented on #1115
@entrotech and @fancyham. Thanks for your details comments, really interesting.  I will be working on Google Analytics.

[2021-11-25 17:06] Benbaillou commented on #1112
@fancyham can we close this issue?

[2021-11-25 17:46] Benbaillou opened #1127 "Review and set up analytics"
### Overview
Work on Google Analytics usability to understand Foodseeker traffic in order to optimize the user funnel from acquisition to engagement

Here is a quick recap of FOLA map interface criteria in order to understand the right metrics to set up in google analytics

**What are you building?**

**What user problem are we solving? How? Why did we choose this solution?

**What goal is this ad

[2021-11-25 18:28] fancyham commented on #1098
A nice to have would be to reduce initial load time or show a ‘loading’ indicator.  Currently, our iFrame displays a white box while javascript libraries are loading (which may be quite large), so improving load time or showing an indicator will make our widget feel more responsive and not broken.

Added to the checklist above.

[2021-11-25 20:34] fancyham commented on #1125
@Benbaillou Sure - send out a scheduling thingy

[2021-11-25 20:36] fancyham commented on #926
@Benbaillou I think that UX design is very much part of this.  I’m just saying that the size in this issue is primarily determined by how easy or hard it is to write the code changes.  The design itself in comparison is relatively easy (and also already complete)

[2021-11-25 20:42] fancyham commented on #1115
- Copied from duplicate issue #1112

Another possible mockup of the search results showing an ideal autocomplete when typing into the ‘search’ field (sounds like this is not possible)

- ### How it is now:

![Screen Shot 2021-11-22 at 4 13 57 PM](https://user-images.githubusercontent.com/3376957/142962183-9f1c2503-c3c2-4d09-befa-fb0887914d04.jpg)

### Mockup: (note the first autocomplete items)

!

[2021-11-25 20:46] fancyham commented on #1112
Duplicate of #1115

[2021-11-25 20:46] #1112 closed

[2021-11-26 08:47] Benbaillou commented on #926
Got it, thanks Bryan for the clarifications :)

[2021-11-28 22:12] fancyham opened #1128 "Create process for synchronizing changes with external databases"
### Overview
Some Food Oasis regions will have multiple partners who will provide data sources for listings.

One question then becomes how to import changes from our partners, and how our partners can update their databases with the latest Food Oasis listing info (for example if a correction has been made)

We need a way to process and synchronize changes when listing data lives both on Food Oasi

[2021-11-28 22:23] fancyham commented on #1128
One way is to find changes in a source database and manually update the destination database with any changes.

For our initial situation in Hawaii, this makes a lot of sense since Aloha Harvest is our ’source of truth’ until we start adding other listing data providers to the mix.

The process would be:
1. Enter all accurate data in source-of-truth (SOT) database first
2. Export SOT database and

[2021-11-30 03:47] fancyham commented on #926
Hi folks from the dev meeting.

As promised, here’s the general gist from the user’s perspective:

It’s like Google Maps:
- By default, map loads centered on the most sensible generic location and zoom level (i.e. LA downtown for LA.  This is specified per-tenant).  Distances to orgs are not shown since they wouldn't make sense, however, orgs are still listed in order from distance from the center

[2021-11-30 04:01] fancyham opened #1129 "Map: show geographic regions: Design"
### Overview
We need to have a food oasis interface that allows for searching by district boundary types so that we can get placement on official local sites such as Neighborhood councils, LA County Supervisors, LA City Council people, etc.

### Details
When user enters a geographic term like neighborhood or zip code (or one is specified in the URL), center the map on that location and display a h

[2021-11-30 04:12] fancyham opened #1130 "Design footer of embedded map"
### Overview

Let’s come up with some designs for the footer of the embedded FOLA map — how it looks and how it works.

In the initial version there are both logos and text (which may be redundant) and it kind of crunches up at small widths.

The role of the footer is to give credit to the local brigade that put together the map, perhaps their partners(?), as well as Hack for LA, along with links

[2021-11-30 11:20] souronion commented on #926
Hi team, I just uploaded the red marker's SVG onto the Fola Hfla Share Drive: https://drive.google.com/file/d/17Oh8oQ4m3AEMNrtZxgtLne3_KOaz7lhv/view?usp=sharing

[2021-11-30 14:30] Benbaillou commented on #1125
When are you available Thursday 12/2 between 8 am to 12 am Pacific time?

[2021-11-30 15:51] Benbaillou commented on #1068
@entrotech - I just wanted to have some updates on the status of this issue and the followings ones:

(https://github.com/hackforla/food-oasis/issues/1041)
https://github.com/hackforla/food-oasis/issues/1042)
(https://github.com/hackforla/food-oasis/issues/1066)
(https://github.com/hackforla/food-oasis/issues/1067)
(https://github.com/hackforla/food-oasis/issues/1068)

They are labeled closed - bu

[2021-11-30 16:16] Benbaillou commented on #1003
Hi - could we please size the project with a dedicated label. Thanks

[2021-11-30 16:27] Benbaillou commented on #924
Hi - could we please size the project with a dedicated label. Thanks

[2021-11-30 16:33] Benbaillou commented on #751
Hi - could we please size the project with a dedicated label. Thanks

[2021-11-30 16:46] Benbaillou commented on #12
Hi - can we label the size please?

[2021-11-30 16:47] Benbaillou commented on #325
Hi - can we label the size please?

[2021-11-30 16:48] Benbaillou commented on #373
Hi - can we label the size please?

[2021-11-30 17:01] Benbaillou commented on #570
Hi - can we label the size please?

[2021-11-30 17:03] Benbaillou commented on #481
Hi - can we label the size please?

[2021-11-30 17:04] Benbaillou commented on #481
Hi - can we label the size please?

[2021-11-30 17:05] Benbaillou commented on #482
Hi - can we label the size please?

[2021-11-30 17:12] fancyham commented on #1125
@Benbaillou My schedule is complicated — can you email a scheduling coordination thing like https://xoyondo.com/ or post it on slack for the invitees?

[2021-11-30 20:08] LIlinit commented on #1113
I can't seem to drag this card into the "Actively Working" column. So I'll make a note here that I am actively working on this.

[2021-12-02 02:16] gigicobos commented on #1126
**Project Name:** Food Oasis LA

**Volunteer Opportunity:** We are looking for a Product Manager preferably based in California with experience and/or connections in the Food Rescue Ecosystem. As a PM you'd be working on targeting organizations to embed our website and
onboarding the management of Data Entry Volunteers (training, session, recruitment) under Hack For LA.

You will be joining the te

[2021-12-02 18:55] gigicobos commented on #1014
**Thursday 12/02/21**

1. Check-in: Share anything new you've learned or news you've heard/read about food insecurity in the last week. (Voluntary)
2. Discussion: approval of new PM job description (posted on slack).
3. In-Progress: Issues that need feedback or comments from the team.
4. Check-out: Issues and goals for next week.

[2021-12-02 21:29] fancyham commented on #947
Another UI direction possibility, inspired by Google Maps

![2021-12-02 FOLA sketches - filters](https://user-images.githubusercontent.com/3376957/144506089-eaf89854-e401-4f3c-a9f0-ded15235b01c.png)

[2021-12-03 02:00] ExperimentsInHonesty commented on #1014
please post the pm volunteer opportunity here https://github.com/hackforla/product-management/projects/8#column-12752036

[2021-12-03 03:38] gigicobos commented on #996
Attaching PDF with the mock-up discussed during the team meeting. Notes and comments added in the pdf.

**Next steps:**
[] Edit mock-up with changes.
[] Create issues for these changes.
[] Assing issue to UX design.
[FOLA Issue #996 Mockup.pdf](https://github.com/hackforla/food-oasis/files/7646630/FOLA.Issue.996.Mockup.pdf)

[2021-12-03 03:45] gigicobos opened #1131 "Redesign the Corrections and Suggested New Listings Administration board and modals"
### Overview
We want to add some much-needed features to the dashboard of Corrections and Suggested new listings.

- We get Corrections to organizations from the public via a web form
- We get Suggested New Listings from the public via a different web form

This admin dashboard shows the status of these corrections and suggestions, but right now it's very bare-bones.   These changes aim to make it

[2021-12-03 04:22] souronion commented on #1130
Hi team, I made a few mockups for the footer. Feel free to make any comments or suggestions. Thanks! :)

### Food Oasis + Local brigade

**Version 1**

Clickable icons + hyperlink
<img width="1093" alt="截屏2021-12-03 上午11 45 33" src="https://user-images.githubusercontent.com/38329749/144541849-f2b7b652-6fb5-4b0c-b3ab-79d4b0312b07.png">

**Version 2**

Clickable icons only, slightly neater than vers

[2021-12-06 14:02] Benbaillou commented on #1125
Hi. I finalised the draft of the roadmap and edited it in a digest format. Inside the documents I added the goals of the roadmap and a guide to read it.

**Would it possible for you guys to**
1) Have a read through the[ roadmap draft](https://docs.google.com/document/d/1OnxFXU-YDAmNA1XwrlQYiOiCSWXG5Mfk2oThmpbh1g0/edit#)
2) add your potential comments on the Google document

Let's set up **Monday 1

[2021-12-06 14:12] #1109 closed

[2021-12-06 15:49] Benbaillou commented on #1068
After a quick test on a wireframe, it looks it could take too much space on the panel.

![Capture d’écran 2021-12-06 à 15 45 45](https://user-images.githubusercontent.com/91577998/144876846-2be5456c-9cec-4c89-b2f6-013de2991cef.png)

@souronion and @fancyham - what are your thoughts?

My thoughts would be not to display this details on the current panel to avoid reading confusion.

[2021-12-06 17:55] Benbaillou commented on #1068
![Capture d’écran 2021-12-06 à 17 53 19](https://user-images.githubusercontent.com/91577998/144897063-2e5f1574-3867-4ea0-97ab-5393b3a2aa6c.png)
Or will it be possible to do a "Google Maps" feature like that

[2021-12-06 22:53] fancyham commented on #1068
@Benbaillou I think putting the hours on the org page might be worth considering — perhaps an abbreviated version like:
Today 3-5pm v

(Similar to Google or Apple Maps.  The v is a disclosure triangle.)
and click on it to get the full listing to see the week’s hours.

[2021-12-06 23:44] fancyham commented on #1130
Thanks @souronion — all these variations are really helpful

To make it easier to compare on a single screen, I cut off the bottoms so we can see them side-by-side:

![1- FOLA embed footer variations](https://user-images.githubusercontent.com/3376957/144939931-a5e9ef27-509b-4f84-be02-1896f940dd6c.jpg)
![2- FOLA embed footer variations](https://user-images.githubusercontent.com/3376957/144939936-cc

[2021-12-06 23:53] fancyham commented on #1130
Thoughts from Hawaii, @stdyrm @sthapa ?

[2021-12-07 02:02] stdyrm commented on #1130
@souronion @fancyham they look great! Awesome job

I like 2,3, but also like the 'powered by' in 5. Just thinking about flexibility for future tenants,  I think 2,3,6 can all be included in the same code - single (2) or multiple (3) logos, if logos are missing we can replace with text (6)

Just making sure, these are just wireframes? If so I can make those changes in the code and PR by tonight or

[2021-12-07 02:20] fancyham commented on #1130
@stdyrm Yes, these are concept wireframes for us to discuss.  But since Aloha Harvest is helping pilot and the footer breaks a bit currently, perhaps roll out a variation of # 2 for them immediately?: "Powered by [Food Oasis logo]   A project of [CfH logo]”  And if there’s time to do FOLA’s version, too.  It’s also crunching up as seen above.

That brings up a good question though:
Do we want to c

[2021-12-07 03:27] fancyham commented on #1130
Just was talking to @entrotech and want to throw some additional options that may be useful in the future:

The map itself has a tiny line of credits in the corner:
Ours could read “Map and data provided by Food Oasis, a project of Hack for LA” in text, in the lower corner of our embedded:
![Screen Shot 2021-12-06 at 5 20 56 PM](https://user-images.githubusercontent.com/3376957/144960248-b87b9eea-

[2021-12-07 10:27] Benbaillou commented on #1127
note for myself: how to analyse search bar types

[2021-12-07 18:51] Benbaillou commented on #1119
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [ ] mileston

[2021-12-08 18:00] Benbaillou commented on #1068
@fancyham
I just remember we have already a feature that displays if an organisation is open and when it will be closed (see below) => which helps food seekers not to waste time going to the org (one of the goal of this feature)

![Capture d’écran 2021-12-08 à 17 23 23](https://user-images.githubusercontent.com/91577998/145255059-09aea15e-937b-4e5b-bda9-8020daa154fc.png)

**My thoughts**
1) Alon

[2021-12-08 18:16] Benbaillou commented on #1130
Hi
Well done @souronion as usual

- For Food Oasis + Local brigade => I like version **2** for clarity
- For Food Oasis + Local brigade + External partner =>  I like version **3** idem, for clarity

@fancyham for map credits => I really like your idea!

[2021-12-08 18:47] Benbaillou commented on #1014
Hi team
To prepare tomorrow meeting and know what you want to discuss, can you please fill this [Google document ](https://docs.google.com/document/d/1-q3ch3gQJLNut9n6-Y_W_jI-1vVDYNEXwyB1wNWqbVM/edit?usp=sharing)

TL;DR
I listed the following categories:
- Attendees
- What must be discussed
- What Want to discuss
- What is nice to discuss

The idea is to make sure we have some time for fun, brains

[2021-12-09 15:07] Benbaillou opened #1132 "Bug - 'open' and 'Closing in x mins' tags are linked to device time setting rather than Los Angeles time zone"
### Overview
The 'open' and 'Closing in x mins' tags on the detail panel for each organisation are linked to the device time setting rather than to the Los Angeles time zone.

example:

- Computer in London time zone: + 8 hours PST
- London time: 5.24 pm
- LA time: 9.24 am
- Time set for tags: 5.24 pm rather than 9.24 am
![Capture d’écran 2021-12-08 à 17 26 41](https://user-images.githubusercont

[2021-12-09 16:43] Benbaillou commented on #1127
### Note to myself

**Estimated market**
According to this report: 1,2 million of Angelinos experience food insecurity and they look for assistance 9 times per year
This gives 400,000 people looking for food assistance per week
[HungerFacts-Report.pdf](https://github.com/hackforla/food-oasis/files/7686813/HungerFacts-Report.pdf)
Our current number of visits per week is 40

**GoogleAnalyics questio

[2021-12-09 19:47] LIlinit commented on #1113
My heuristic evaluation has been saved to the shared drive: [GigiP_Heuristic Evaluation](https://drive.google.com/drive/u/2/folders/1dFiNdh-ZvmkmkGp4UKNhGKjbUrM2WNG_)

NOTE: this document is NOT the final product -- it will be merged with Jieun's evaluation to also provide a synthesized report next week.

[2021-12-10 00:43] Benbaillou commented on #1014
### Thursday 12/02/21

- [ ] **Ice breaker:** What is your favourite movie?
- [ ] **House Keeping**: Christmas and New Year eve Meetings => confirm everyone’s availability => poll to be done
- [ ] **Research 1:** Overview of the heuristic evaluation and  schedule a walk-through of them
- [ ] **Research 2:** Quick brainstorm exercise on the questions we want to target for the research

**Issues**
-

[2021-12-10 01:45] souronion commented on #1130
Thanks for the great suggestions, everyone!

I created two more variations based on @fancyham's latest comment.

1. No logos
<img width="1201" alt="截屏2021-12-10 上午9 37 35" src="https://user-images.githubusercontent.com/38329749/145503025-8a12911e-3cf8-43c8-aa7a-a603c22e26e4.png">

2. Remove the footer to give more space to the map content.
Add an info icon on the header + a top layer to display mo

[2021-12-10 02:56] Benbaillou commented on #1068
note for myself :  define walk-ins

[2021-12-10 17:21] LIlinit opened #1134 "Typo in on FAQs page"
Typo in on FAQs page: "Your donations help us the human costs required to update the food resources in Los Angeles."

[2021-12-14 02:03] stdyrm commented on #1130
@souronion @fancyham Looks good, so looks like we'll move forward with these most recent changes?

[2021-12-14 05:47] souronion commented on #1130
Hi @stdyrm, I believe we still need to have Bonnie take a look at this since it's related to the project's branding and publicity stuff, etc. :)

@ExperimentsInHonesty Hi Bonnie, do you mind taking a look at this thread and the different variations of the footer design? We think you may be the best person to decide what logos/organizations to be included. Thank you!

[2021-12-14 06:58] fancyham commented on #1130
@ExperimentsInHonesty Yes, we’d love your input.  Still need to balance it with other things, but trying to find the balance between credit for ourselves, for the brigades, for Food Oasis, perhaps for other partners… while getting out of the user’s way.

While it’s important to us that we get credit, our food seekers are still our primary audience, and usability is most important.

Some of the lar

[2021-12-14 09:37] stdyrm commented on #1130
@souronion @fancyham Sounds good! I'll stand by for Bonnie's thoughts

[2021-12-14 14:28] #1100 closed

[2021-12-14 15:03] Benbaillou commented on #506
see https://github.com/hackforla/food-oasis/issues/506 for development

[2021-12-14 15:03] #506 closed

[2021-12-14 15:46] Benbaillou commented on #1119
Date: 12/14/21

 Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at: 59
 features, ending at: 1 (labeled "New feature")
 role, ending at: 0
 milesto

[2021-12-14 16:19] Benbaillou commented on #1126
@gigicobos - are we ok to post the job desc?

[2021-12-14 18:16] ExperimentsInHonesty commented on #1119
Number of issues in the New Issue Approval column: 34
 number of issues assigned to people in the New Issue Approval column: 8

[2021-12-14 18:22] Benbaillou opened #1135 "FOLA: Agenda for PM/org meeting"
Links

### Bonnie x Ben - Last meetings
[Tuesday 2022-02-15](https://github.com/hackforla/food-oasis/issues/1135#issuecomment-1040562489)
### Overview
This issue tracks the agenda for the PM meetings for FOLA

Meeting takes place Tuesdays - 10 AM PST

#### Template
[code]

[2021-12-14 18:24] ExperimentsInHonesty commented on #1065
Hi @entrotech  and @Benbaillou
Will the person doing the investigating of the TimePickers determine if we need to wait, or will they bring suggestions to a meeting or a specific person, etc.  And then a decision will be made.  It's not clear from these action items.  As it stands now, Ben has put this in the ice box with a dependency.

 - [ ] Investigate alternative TimePickers
- [ ] May need to w

[2021-12-14 18:26] ExperimentsInHonesty commented on #1135
## Agenda and MoM PM/Org meeting 2021-12-14

### Prework

### New Items

### Items for next week
- [ ] Follow up with what ends up happening on this issue #1065.  Its less about the specific issue and more about how to put things in the icebox.

[2021-12-15 00:14] gigicobos commented on #1126
@Benbaillou completed already.

[2021-12-15 03:29] ExperimentsInHonesty commented on #1130
Version 2 and 3 seem like elegant solutions, **Version 2**

Clickable icons only, slightly neater than version 1
<img width="816" alt="截屏2021-12-03 上午11 48 35" src="https://user-images.githubusercontent.com/38329749/144542136-f6b9baca-b776-42e9-b7f5-8ac9f8b79d4b.png">

**Version 3**

<img width="1165" alt="截屏2021-12-03 上午11 50 04" src="https://user-images.githubusercontent.com/38329749/144542261-4

[2021-12-17 02:49] entrotech commented on #1134
Gigi suggested the wording "Your donations help us cover the human costs required to update the food resources in Los Angeles."

[2021-12-19 21:44] fancyham commented on #1130
@souronion, based on all this feedback, do you have a favorite or new design that @stdyrm can implement as a first revision?  :)  We can always make revisions later as we learn more.  I think it should be pretty easy once the logic is put in place.

For reference, this is what the HfLA logo looks like on my old non-retina computer screen:

![Screen Shot 2021-12-19 at 1 33 23 PM](https://user-image

[2021-12-21 03:20] sthapa commented on #1130
Just a comment, minimizing the logos would be the least confusing.  Also, as @entrotech mentioned in the meeting, having other partner logos would probably be confusing to the end user and may rub partners the wrong way.

[2021-12-23 17:08] entrotech commented on #834
The MVP version is merged on PR #1136. At this point, it is ready for @gigicobos and Jordan Smith and others to review and suggest future direction.

[2021-12-23 20:19] gigicobos commented on #834
@entrotech Working with LA works to set up a meeting and review the feature with them (Jordan, Stephanie, and Charles). Not sure if we'd be able to meet before the holidays but I'll keep the team posted with comments. Thank you very much!

[2021-12-23 20:51] gigicobos commented on #1014
**Thursday 12/23/21**

1. Check-in: changes from last week.
2. Heuristic Evaluation: presentation by Gigi and Jieun.
3. Future research and FOLA questions brainstorm.
4. Check-out: next week's schedule and review of issues to work on.

[2021-12-24 23:54] stdyrm commented on #1130
@fancyham @sthapa Almost finished, need to rebase and make sure no conflicts. Can probably do a PR tonight

[2021-12-29 18:17] #1113 closed

[2021-12-29 18:44] #1114 closed

[2021-12-30 01:02] gigicobos commented on #996
I've completed the changes suggested during our meeting on 12/02/2021. Prototype moved to Figma and links to documents added on issue description.

[2021-12-30 02:13] gigicobos opened #1139 "Add history for verification notes and for organization edits"
### Overview

Data entry volunteers and admins, refer to the "Verification Notes" field in the "Organizationedit" page to:
  - Review the notes from past the data entry volunteers who updated the organization to get a background of previous calls/edits.
  - Record notes after an organization is updated/verified.

 ?? question — How important are these to the administrator or database users? (so we

[2021-12-30 03:33] gigicobos commented on #1014
**Thursday 12/30/31**
1. Check-in: changes from last week.
2. Heuristic Evaluation: analysis to move suggestions to board. Document: [Heuristic Evaluation to Features](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=862594579)
3. Check-out: next week's schedule, issues to work on.

[2022-01-04 17:39] Benbaillou commented on #1119
Date: 01/04/21

**Status**
size, ending at: 58
features, ending at: 1 (labeled "New feature")
role, ending at: 0
milestone, ending at: 92

[2022-01-04 17:42] Benbaillou commented on #1135
Agenda and MoM PM/Org meeting 2021-12-14

### New Items

- [ ] Issue audit Follow-up: Label and milestone review and audit #1119
- [ ] Personal advise on getting more technical expertise

### General Notes

### Items for next meeting

- [ ]  Follow up with what ends up happening on this issue Investigate Improved Time Pickers for Business Hours #1065. Its less about the specific issue and more abo

[2022-01-04 18:21] ExperimentsInHonesty commented on #1119
Number of issues in the New Issue Approval column: 34
number of issues assigned to people in the New Issue Approval column: 7

[2022-01-04 19:12] ExperimentsInHonesty opened #1140 "map: Show geographic regions: Development"
### Dependency
- https://github.com/hackforla/food-oasis/issues/1129

### Overview
We need to have a food oasis interface that allows for searching by district boundary types so that we can get placement on official local sites such as Neighborhood councils, LA County Supervisors, LA City Council people, etc.

### Details
- Desired outcome: When user enters a geographic term like neighborhood or z

[2022-01-05 00:58] ExperimentsInHonesty commented on #1135
2022- 01-011 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119

### Items carried over from last meeting
- [ ]  work on roadmap together
- [ ]  Ben will work with John and Gigi to make a meeting with the point of contact from LA Works
  - [ ] Agenda for meeting: understand what their contribution is, how it fits into the partnership plans, strategic plans

[2022-01-07 03:42] gigicobos opened #1141 "Create a mock-up of the Organization Edit Form"
### Dependencies
#1142
#1143

### Overview
As part of our effort to improve the design of the Organization Edit Form, we need to create an initial mock-up with the fields in the form and suggestions from the Heuristic Evaluation form.

### Action Items

- [ ] Create wireframes based on results from research #1143
- [ ] Meeting with Design and Research to review wireframes
- [ ] Design new organiza

[2022-01-07 03:49] gigicobos opened #1142 "Create a wiki of the Organization Edit Form fields"
### Overview
As part of the effort to redesign the Organization Edit Form, we need to create a wiki with detailed information on the fields so the team can refer back to when making any changes.

### Action Items

- [ ] Create a wiki of the "Organization Edit Form" fields

### Resources/Instructions
[Heuristic Evaluation to Features](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSe

[2022-01-07 03:59] gigicobos opened #1143 "Design Card Sorting exercise for the redesign of the Organization Edit Form"
### Dependencies
#1142
#1141

### Overview
As part of our effort to redesign our Organization Edit Form, we would like to design a Card Sorting exercise to create a better UX for data entry volunteers.

### Action Items
TBC by @LIlinit @ryu-jieun

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps can

[2022-01-07 04:04] gigicobos commented on #320
**Meeting 01/06/2021**

We had a call to review all the issues from the [Heauristic Evaluation to Features](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=983594560) document and discuss the next steps to redesign the Organization Edit Form.

I've added details of the next steps on this issue and created issues #1142, #1141, #1143.

[2022-01-07 22:25] ryu-jieun opened #1144 "UX Benchmarking"
### Overview
In order to measure the effectiveness and impact of UX research and to track the overall progress of Food Oasis sites, we would like to discuss what and how to measure them.

### Action Items

- [ ] Write a short context paper on why we need UX benchmarking
- [x] #1146
- [ ] #1147

Related to (or might replace)
- [ ] #1127

### Resources/Instructions

[2022-01-11 10:06] Benbaillou commented on #489
Question: is this issue still needed ?

Observation:
[Hack for LA Project Overview ](url) - the images and the names of the current team members is not updated

[2022-01-11 12:07] Benbaillou commented on #12
@entrotech - Is Nicolas or someone else still working on this issue?

[2022-01-11 13:27] Benbaillou commented on #485
Work done or in progress as part of the following issues:

- [https://github.com/hackforla/food-oasis/issues/1114]
- [https://github.com/hackforla/food-oasis/issues/1113]
[https://github.com/hackforla/food-oasis/issues/1016]

[2022-01-11 13:27] #485 closed

[2022-01-11 13:47] Benbaillou commented on #701
issue solved - feature already available on the website

[2022-01-11 13:47] #701 closed

[2022-01-11 14:00] Benbaillou commented on #1103
Issue to be closed as the duplicate is already in columns "Bugs"

[2022-01-11 14:00] #1103 closed

[2022-01-11 14:26] Benbaillou commented on #1119
### Date: 01/11/22

Did you have to update the 0/0 links above?

- [ ] No - everything was at 0/0
- [ ] yes
Done: _N/A_

**Status**

- size, ending at: 55 => Done: issues closed or sized
- features, ending at: 1 (labeled "New feature")
- role, ending at: 0
- milestone, ending at: 96 => Done: 4 new issues added

- Number of issues in the New Issue Approval column: 31
- Number of issues assigned to

[2022-01-11 17:13] Benbaillou commented on #1141
I added in the resources the volunteer feedback we received from a survey last Q3/Q4 2021.
You can find interesting comments in the following tabs:
- Volunteer Sessions Feedback
- Volunteer Survey Form V1 - green cells

[2022-01-11 18:15] ExperimentsInHonesty opened #1146 "Volunteer dashboard: Define how identified tasks and features will be measured"
### Dependencies
#1144

### Overview

As part of our efforts to evaluate the user experience of the volunteer dashboard, we need to identify tasks and features that need to be measured.

### Action Items

- [ ] Create a user flow map on the volunteer dashboard

### Resources/Instructions
This issue is a subset of this epic #1144

[2022-01-11 18:15] ExperimentsInHonesty opened #1147 "Plan out how identified tasks and features will be measured on Food Seeker site"

[2022-01-11 18:21] ExperimentsInHonesty commented on #1144
@LIlinit
@ryu-jieun

I have turned this issue into an epic, because it is too big for one issue.  I have created two new blank issues and linked them. Please fill those issues out.  All issues on the site, across all practice areas, need to be separated into food seeker and volunteer  issues respectively so that they can be managed by their respective PMs

Also, the user story that is present in t

[2022-01-11 18:34] ExperimentsInHonesty commented on #965
- @fancyham I 100% agree with your assessment above.
  - The solution here, should be to add google translate to the website and then count
      - Number of people who use google translate on our site monthly
      - Number of languages
      - Number of use of each languages monthly
  - Then based on demonstrated need, we build true translated content if warranted.
- @Benbaillou please followup

[2022-01-11 18:37] ExperimentsInHonesty commented on #748
Hi @bbovenzi, what tool did you use to test performance.  Please provide link

[2022-01-11 18:38] ExperimentsInHonesty commented on #748
@Benbaillou will discuss size with John before prioritizing with Bonnie

[2022-01-11 18:40] ExperimentsInHonesty commented on #756
![image](https://user-images.githubusercontent.com/37763229/149002119-15cf1c67-5366-4e05-93f0-409e753d17cc.png)

[2022-01-11 18:41] ExperimentsInHonesty commented on #756
![image](https://user-images.githubusercontent.com/37763229/149002195-b4fc5aef-b60f-4bdc-85d2-480b0c7ddad6.png)

[2022-01-11 18:44] ExperimentsInHonesty commented on #756
![image](https://user-images.githubusercontent.com/37763229/149002687-b96ddf77-9f00-4ae3-b6b4-b76ded728857.png)

[2022-01-11 18:45] #1102 closed

[2022-01-11 19:04] ExperimentsInHonesty commented on #1115
Recommendation for design to redesign this proposal so that there is a location pin for the address that the user puts in, and that pin is different and larger than the others pins, and it looks like a standard map pin.  Food result pins should be brought to the front so that if the address the user provided is a pantry,  the standard map pin would appear behind the food pantry pin and larger, so

[2022-01-11 19:06] ExperimentsInHonesty commented on #1115
removed 13pt, changed to 1pt, because 13 was based on technical lift of prior solution.  When you make a new issue later (after design) it will have whatever the new assessment for size is from engineering.

[2022-01-11 19:10] ExperimentsInHonesty commented on #1115
@Benbaillou I agree with Bryan that we have not demonstrated a need for this feature at this point.  https://github.com/hackforla/food-oasis/issues/1115#issuecomment-977273280.  Do we keep all the addresses people search for?

[2022-01-12 01:49] gigicobos opened #1148 "Redesign tooltip for Organization Edit Form"
### Overview
As part of the [Heuristic Evaluation Research](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=862594579) the research team recommended the redesign of the tooltips for the Organization Edit Form. Issues  listed below:

- Some tooltips are not accessible as the font and background colors are similar (Black and dark grey).
- The location of

[2022-01-12 02:01] gigicobos commented on #1141
**Meeting 01/11/22**

_Attendees: Ning, Bryan, Ben, Gigi C._

Changes:
- We updated the order of action items on this issue to complete #1143 before creating a design.
- Created issue #1148 to redesign tooltips.

[2022-01-12 02:01] gigicobos opened #1149 "Delete"

[2022-01-12 20:40] #1034 closed

[2022-01-13 14:29] Benbaillou commented on #1135
## 2022-01-13 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119
- [ ] Task items from previous week

### Items carried over from last meeting

### New Items

- [ ]

### FYI
Contact at LA Works for Bonnie to organise a meeting to discuss the current partnership between our 2 organisations: [Denise Vi Flaten - Program Manager](https://www.linkedin.com/in/den

[2022-01-13 14:38] Benbaillou commented on #1143
### Notes of 2022-01-12 meeting - Score card meeting preparation**
Attendees: Gigi C and Gigi P, Jieun, Bryan and Ben

**How the exercice will be prepared**

1. Research Plan: Gigi P and Jieun to create a research plan by end of January
2. Dogfooding: G and J to test their scorecard exercice with Fola team
3. Recruitment: FOLA team to recruit 5 to 8 volunteers (experience and "rookie" volunteers)

[2022-01-13 17:28] Benbaillou commented on #1014
### Thursday 01/13/22

- [ ]  **Ice breake**r:  What sport do you practice on a regular basis?
- [ ]  **House Keeping**: Gigi C’s poll on Thursday meeting time change
- [ ] **Other updates**

### New Items

- [ ] **Al**l: feedback on the preparation of the score card exercices - Volunteer Dashboard
- [ ]  **Gigi P**: Consolidation: Links (e.g. figma), files, prior suggestions (e.g., #756) relevant

[2022-01-14 16:16] Benbaillou commented on #834
Note for myself:

New feature to add: Count nb of organisations done by volunteers
- Goal: track the progress of each volunteer
- Why:ensure volunteers complete their tasks in order for organisations to be verified and that volunteers complete their objectives
- How: count the number of organisations checked by volunteers after pressing CLA button "hand off" or "Submitted"

[2022-01-14 16:32] Benbaillou opened #1150 "Automate the listing updates - Organisation Form"
### Overview
**Note for my self**
Jordan new features
2 rules:

- Feature to automate organisation approved => to be approved after 6 month
- Closed permanently closed 2 month | closed 1 month

- [ ] => set a meeting with John to explain
- [ ] Mock up etc

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLAC

[2022-01-14 16:48] Benbaillou commented on #1135
## 2022-01-13  Gigi x Ben Meeting

### Task Items
- **Ben**:

- [ ] to write draft email for Bonnie
- [ ] to update Automate the selection of organisations to review - Organisation Form #1150 and #834

- **Gigi**:

- [ ] to update #679

- **Gigi and Ben**:

- [ ] Set an ad hoc meeting with John w/c 17 Jan to discuss new issues, updates and to size issue in the ""Prioritized Backlog"
- [ ] select p

[2022-01-15 19:34] gigicobos opened #1151 "Bug: Data entry volunteer is logged out when updating Pantry"
### Overview
As a data entry volunteer, I'm logged in and updating my assigned listing (organization edit form). After a few minutes, while updating the info of my listing, I'm logged out. The buttons to save progress do not show up and I can not save my listing. When I update the page, all the info is lost.

Desktop - Google Chrome

### Action Items
REPLACE THIS TEXT -If this is the beginning of

[2022-01-16 16:41] bbovenzi commented on #748
Just Lighthouse in chrome: https://developers.google.com/web/tools/lighthouse/

[2022-01-18 01:43] LIlinit commented on #1143
Ben and Gigi, please check out the issue I have updated with action items/time line that Jieun and I drafted up during our meeting Friday. She and I met briefly to hammer out some items for the card sorting activity.

[2022-01-18 17:52] Benbaillou commented on #1119
Date: 01/18/22
Did you have to update the 0/0 links above?

- [ ] No - everything was at 0/0
- [ ] yes

size, ending at: 53 => Done: issues closed or sized

features, ending at: 1 (labeled "New feature")

role, ending at: 0

milestone, ending at: 97 => Done: 3 new issues added

Number of issues in the New Issue Approval column: 31

Number of issues assigned to people in the New Issue Approval colu

[2022-01-18 17:59] Benbaillou commented on #1135
# 2022-01-18 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119
- [ ] Task items from previous week:
    - [ ] email for LA WORK

### Items carried over from last meeting

### New Items

- [ ] Slack chatbox to update Team meeting

### General Notes
-

### Task Items

### Items for next meeting
[ ] Label and milestone review and audit #1119

[2022-01-19 09:54] Benbaillou opened #1152 "Agenda for PMs Meeting"
### Overview
Agenda for PMs meeting

Current attendees:
@gigicobos
@Benbaillou

### Links Today's meeting
[Friday 21 Jan](https://github.com/hackforla/food-oasis/issues/1152#issuecomment-1018572381)

### template
[code]

[2022-01-19 09:57] Benbaillou commented on #1152
### Task Items
**Ben:**
- [ ] to write draft email for Bonnie
- [ ]  to update Automate the selection of organisations to review - Organisation Form #1150 and Record history of user logins to a table in the database #834
- [ ]  create issue for Gigi and Ben meetings

**Gigi:**
- [ ]  to update Implement Page for Admin to View Suggestions #679

**Gigi and Ben:**
- [ ] Set an ad hoc meeting with Joh

[2022-01-19 15:59] Benbaillou opened #1153 "Withdraw non useful pins | Detail Panel (org listing)"
### Overview
The meal icon appears twice in two different shapes for each organisations, which leads to the following problems:
1. Confusion
2. Non useful

### Action Items

- [ ] 1. To withdraw small pins (see mock up) - bottom right
- [ ] 2. To reduce the size of the remaining logo (see mock up) - top left

### Resources/Instructions
![Capture d’écran 2022-01-19 à 15 57 17](https://user-images

[2022-01-19 18:02] Benbaillou opened #1154 "Organization ID | remove "other" category"
### Overview

To avoid confusing the Food Seekers with too many details displayed on the listing panel and the detail panel

1. organisation identification should be limited to one category only
2. category "Other" should be removed as it does bring any value

### Action Items

**Admin Panel**
- [ ] See the feasibility to withdraw "Other"

**Map and listings**
- [ ] Re-design the detail panel and

[2022-01-20 14:22] Benbaillou commented on #1135
## 2022-01-25 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119
- [ ] Task items from previous week

### Items carried over from last meeting

### New Items

- [ ] Redefine HFLA expectations for Food Oasis

### FYIs
-

### Notes during meeting
-

### Task Items

### Items for next meeting

[2022-01-20 22:39] Benbaillou commented on #1014
### Thursday 01/13/22

- [ ] Ice breaker: What sport do you practice on a regular basis?
- [ ] Quick introduction: Seiko meets Fola's team
- [ ] Team updates

### New Items

- [ ] Gigi P: Food Oasis email address - Old and New
- [ ] Ben: Heuristic Evaluation - Food Seekers | Part II
- [ ] if time
  - [ ] #1150
  - [ ] #834

### General Notes

[2022-01-21 00:15] gigicobos commented on #1131
Hi @entrotech @Benbaillou @fancyham,

Here is the link to the changes for the Suggestions admin board:

[P2: Suggestions Administration Board V2 - 01/15/22](https://www.figma.com/file/9hPmNSsyaH2VMGNz5mffmI/Suggestions-Admin?node-id=592%3A104)

Please let me know if there are any questions.

Thank you!

[2022-01-21 14:46] Benbaillou commented on #1152
### Friday 21 Jan

### Prework

- [ ] Jordan's backlog document - Gigi to share it?
- [ ] Food Oasis Gmail account password

### General Notes

### Task items
- [ ] Seiko
- [ ] John's meeting
  -  [ ] Discuss the 3 Jordan's issues
  -  [ ] Define how we can clean the backlog
     - [ ] Duplicated issues
     - [ ] Not sized issues
     - [ ] Correct triage

### Items for next meeting

[2022-01-21 17:16] Benbaillou opened #1155 "Issue Audit"
### Overview
We need to perform a check on issues to make sure they are still all relevant

### Action Items

- [ ] List the issues considered outdated or duplicated
- [ ] Confirm what action should be taken with the assignee or creator
  - [ ] Bin
  - [ ] Prioritised

### Resources/Instructions

[2022-01-21 17:21] Benbaillou commented on #1125
duplicate of

[2022-01-21 17:33] Benbaillou commented on #1155
Issues considered duplicated:
Implement a Volunteer Check-In Process #835
Separate User location from map center. #995
Mark user's current or searched location on map #929

Issues considered outdated
- Food Seekers Interviews #964
- Implement "Percent Verified" Metric #328
- Usability Studies #892
- Review and update volunteer research process flow #920

[2022-01-21 17:47] Benbaillou commented on #1155
@gigicobos
Hi Gigi - I created this issue so we can do a first clean of potentiel issues to withdraw.

[2022-01-23 02:22] VirginiaWu11 commented on #769
Thanks John for the resource. Keeping it here so I don't lose it:
https://ui.dev/react-router-protected-routes-authentication/

[2022-01-23 21:13] fancyham commented on #1131
Thanks — added two comments re: the titling of the Suggestion record details and placement of the organization name.

Perhaps consider in the top right corner, rather than the org name, putting something about the suggestion record up there in addition to or as the primary identifier?
“Suggested correction #102929” (org name would be further down page)
“Suggestion #102929 - Correction (New)”
“Sugg

[2022-01-24 09:06] Benbaillou commented on #1150
**New Jordan's feature**
Hi @gigicobos, @entrotech @fancyham - Here is the created issue for the Jordan's new feature suggestion => automate the status of the organizations after a certain amount of time.
ex: "Approved" => "Needs verification" after 6 months

Please let us know your comments.

[2022-01-24 09:08] Benbaillou commented on #834
Hi @gigicobos, @entrotech @fancyham - please find above the last updates on this issue and the improvements needed based on Jordan's feedback.

Please provide your comments.

Thanks,

[2022-01-24 09:10] Benbaillou commented on #1152
@gigicobos - I created this issue for our meetings. It was more relavant and it is ok with Bonnie.

Please feel free to add your own items

[2022-01-24 23:51] LIlinit commented on #1143
Hello all,

Please review the Invitation Message template at the below link. If all is ok with the message, Gigi C and Ben, you can begin recruiting as soon as you would like - I recall one of you had offered to take care of that (remind me if I misremembered).

https://docs.google.com/document/d/1myRrhdK_z2OOSUeUbu0cu0Jop-N2dmuPGBFenkE6YT8/edit

Action items for Invitation Message:

-	Review / pr

[2022-01-25 01:56] gigicobos commented on #1152
Hi Ben,

Not sure what this means. Were we using another issue?

Sincerely,
Gigi

P: (646) 353-4485

On Jan 24, 2022, at 4:11 AM, Benjamin Baillou ***@***.***> wrote:

@gigicobos <https://github.com/gigicobos> - I created this issue for our meetings. It was more relavant and it is ok with Bonnie.

Please feel free to add your own items

—
Reply to this email directly, view it on GitHub <https://gi

[2022-01-25 02:00] gigicobos commented on #1143
@ryu-jieun @LIlinit noted I'll work on recruiting this Saturday and next week. I'll get advice from Jordan.

[2022-01-25 15:48] Benbaillou commented on #1143
@LIlinit @ryu-jieun. Well done for the script. I just suggested some modifications to turn it a little more "punchy". Feel free to keep them.

[2022-01-25 17:04] #1149 closed

[2022-01-25 17:05] Benbaillou commented on #1149
@gigicobos - issue closed. Let me know if it was the right things or not

[2022-01-25 17:07] Benbaillou commented on #748
@bbovenzi Thank you

[2022-01-26 15:47] Benbaillou commented on #1150
@souronion - here is an issue I created. I would love your design comments on this one.

[2022-01-26 15:48] Benbaillou commented on #834
@souronion - here is an issue I updated. I would love your design comments on this one.

[2022-01-27 07:14] ExperimentsInHonesty commented on #1135
Add to next agenda
- [ ] Is this role filled? https://github.com/hackforla/product-management/projects/8#card-74728050, if yes, move to filled, if no, discuss.

[2022-01-27 08:27] Benbaillou commented on #1152
@gigicobos - sorry I was not specific. Yes, you know we tried for 1 week to blend our PM agenda with the agenda issue between Bonnie and us. It was too much confusion, so I created one issue for each agenda.

[2022-01-27 09:32] souronion commented on #1148
**I redesigned the tooltip along with some other components of the data entry form. Here are the changes:**

1. The title of every data field is now placed above the text box;
<img width="619" alt="截屏2022-01-27 下午5 19 13" src="https://user-images.githubusercontent.com/38329749/151329244-cf741f12-3650-4718-8bfb-b3ef9784dd44.png">

2. I used the help icon as an indicator of tooltips. If a data field

[2022-01-27 10:05] souronion commented on #1148
Regarding the tooltip of "Verification Notes," I suggest that we display the instructions right next to the text box instead of putting it in a tooltip. Like this:

<img width="625" alt="截屏2022-01-27 下午6 00 30" src="https://user-images.githubusercontent.com/38329749/151336415-bb60f1c0-14b9-46ea-82a8-55c09f5b6100.png">

[2022-01-27 22:39] gigicobos commented on #1014
**Thursday 01/27/22**

1) Housekeeping
- [ ] Introduction of the team
- [ ] Questions for Bonnie: Figjam trial access, research recording's permissions

2) Team Progress:
a. Organizationedit Form:
- [ ] Research
- [ ] Recruiting
- [ ] Tooltip design: (Any other parts of the form we should redesign?)
b. Verification Notes and Status Log
c. Mock-up overview
- [ ] #996
- [ ] #1131 (Jordan)
- [ ] #115

[2022-01-31 13:42] Benbaillou commented on #1152
### 28 Jan 2021

### Prework

### General Notes
### Task items
@Benbaillou
- [ ] Set up a meeting with Bryan (ask him his expectations to lead design team)
- [ ]  Set up a "grooming" meeting with PMs, John and Bryan every 2 weeks or months to calibrate the backlog
- [ ]  Define a milestone for each meeting => create collaborations between roles + concrete project advancements - not random
- [ ]  K

[2022-01-31 17:28] Benbaillou commented on #1135
## 2022-00-00 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119
- [ ] Change Fola team meeting on VRMS

### Items carried over from last meeting

### New Items

- [ ]

### FYIs
-

### Notes during meeting
-

### Task Items

### Items for next meeting

[2022-02-01 04:19] gigicobos opened #1156 "2022 FOLA Onboarding & Off-boarding"
**Overview**
We need to have a checklist of items to do when a new team meber onboard and offboards so that the process can be consistent and fast.

Action Items

- [ ]  Copy template to comment below
- [ ]  Add name of person
- [ ]  Check off as done

#### Onboard
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check f

[2022-02-01 04:22] gigicobos commented on #1156
Shweta - Product Manager
#### Onboard
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public
- [ ] GitHub
     - [ ] Add to team write vault
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change membership to maintainer
- [ ] Figma
  - [ ] invite
  - [ ] acceptance
- [

[2022-02-01 04:23] gigicobos commented on #1156
Seiko - UX Design
#### Onboard
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public
- [ ] GitHub
     - [ ] Add to team write vault
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change membership to maintainer
- [ ] Figma
  - [ ] invite
  - [ ] acceptance
- [ ] 1pas

[2022-02-01 04:43] gigicobos commented on #1014
Hi @Benbaillou ,
I think we can close this issue if that is ok with you and create a new one for 2022.

[2022-02-01 06:56] Benbaillou commented on #1014
Sure ! Good idea. I'll do it

On Tue, 1 Feb 2022 at 05:43, gigi ***@***.***> wrote:

--
Benjamin Baillou
+44 7983 575253

[2022-02-01 07:06] Benbaillou opened #1158 "2022 FOLA Team Meeting Agenda"
### Overview
This issue tracks the agenda for the product management community of practice and weekly roll calls for projects.

[Feb 3 2022](https://github.com/hackforla/food-oasis/issues/1158#issuecomment-1029412844)

[### Google form - Agenda Suggestion - to edit
](https://docs.google.com/document/d/1-q3ch3gQJLNut9n6-Y_W_jI-1vVDYNEXwyB1wNWqbVM/edit)

- For meeting agendas before June 2021, pleas

[2022-02-01 07:07] #1014 closed

[2022-02-01 14:58] Benbaillou commented on #1119
### Date:  01/25 /22
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] size, ending at **27** (vs 27 last week)
   - [x] features, ending at **

[2022-02-01 18:50] ExperimentsInHonesty commented on #996
@gigicobos I rewrote the issue to be clearer about what the purpose of the issue is and the title.  I also added a link to the figma

[2022-02-03 21:20] Benbaillou commented on #1158
## 03 Feb 2022

### Prework
### Items from last meeting
### New items

- [ ] Shewta had to leave the USA and FOLA due to family issue
- [ ] **Bonnie**: we need to prepare the meeting between LA Works (Dennise) and us
- [ ] **Gigi P**:  to discuss the current updates and the needs of UX Researchers
- [ ] **Ben**: present milestones and 'how to get things done' for Food Oasis
- [ ] **team**: discuss

[2022-02-08 01:50] #769 closed

[2022-02-08 17:46] Benbaillou commented on #1135
## 2022-02-08 Agenda and MoM PM/Org meeting

### Prework
- [ ] Label and milestone review and audit #1119
- [ ] Ben to reach out to Tina Mo to ask her to change the owner of this [figma file](https://www.figma.com/files/team/1050838049378816186/FOLA/members?fuid=775836858007206739) to [foodoasisinfo@hackforla.org](mailto:foodoasisinfo@hackforla.org)

### Items carried over from last meeting
(Items

[2022-02-08 17:48] Benbaillou commented on #1119
## Date: 01/25 /22

- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 27 (vs 27 last week
   - [ ] features, ending at 0 (vs 0

[2022-02-08 19:12] sei1122 commented on #1150
I made a note on Figma based on Github issue #1150.
https://www.figma.com/file/9hPmNSsyaH2VMGNz5mffmI/Suggestions-Admin?node-id=640%3A106

Green color comments are my questions and I’d like to clarify.  Especially this section. 

Questions
1. Should we create 3 steps - Why => because some organizations may include more exceptions than the one above that need a manual check
1.1 The organisation is

[2022-02-10 03:42] fancyham commented on #1150
Hi all — Could you describe Jordan’s exact goals and how it might translate into the filter criteria for an organization search?

For example, it’s unclear to me what the ‘exception for 12 month old permanently closed’ rule would do for Jordan and how it translates into an if-then or search criteria statement?

Gotta translate Jordan’s ‘business rules’ into computer logic, so first to understand e

[2022-02-10 03:43] fancyham commented on #1150
Also, side thought: Please consider putting all our sketches into the main Figma document, so it’s not easily lost and it’s perhaps easier for collaboration?

[2022-02-10 03:50] fancyham commented on #1150
What I think I’m reading is:

Jordan needs to:
A. Re-validate ‘permanently closed’ places every 12 months or so to make sure they’re still permanently closed
B. Re-validate ’temporarily closed’ places every 2 months to see if they’ve reopened
C. Re-validate all other places every 6 months to ensure their info is up-to-date.

Is that right?

If that’s the case, I think group A would be an enormous

[2022-02-10 18:15] sei1122 commented on #1150
Thank you @fancyham. I read your comments and these are great insights.
I will move the sketch to the main Figma document.

We should schedule a meeting with Jordan. So we understand his goal and solve the right problems. I still try to understand the requirements.

[2022-02-11 00:22] fancyham commented on #1150
From our meeting:

Seems like Jordan may really be looking for a ‘last published date’ which currently doesn’t exist (‘accepted date’ gets erased when org is changed to ‘needs verification’ so is not useful for his purposes).

A ‘last published date’ can be calculated using records in the database from multiple fields.  If that field is added to the table and in the criteria/filter dialog, Jordan

[2022-02-14 11:10] Benbaillou opened #1160 "HIRING: 1 Junior PM + 2 Partnership PMs"
### Overview
We need 3 new PMs to join our Project

## Details

- We need 1 junior PM to back Gigi C and Ben for the foodseeker website and volunteer Dashboard
- We need 2 PM to manage the partnership relationship in close collaboration with Bonnie

### Action Items

- [x] Post 2 adds on the Product Manager board - 1 for the Junior 1 for the 2 others.
- [x] Recruit the new PMs
- [x] Onboard them

[2022-02-14 11:16] Benbaillou commented on #1160
Posts created on the board

[2022-02-15 17:26] Benbaillou commented on #1135
## 2022-02-00 Agenda and MoM PM/Org meeting

### Prework
- [ ] Contact Clara Buck from Win App
- [ ] Label and milestone review and audit #1119
- [ ] Ben and Gigi to update the [deck](https://docs.google.com/presentation/d/1pKv3Frjcadu6XYBsN55D9OmsnDDGy_gblA1hs_IWiKA/edit#slide=id.g7353973022_1_0) + [training deck](https://docs.google.com/presentation/d/1dMoBhJQM-JmTA-n4DQn_9HO0wEXlick5VfJa-PN_Efg

[2022-02-16 00:32] sei1122 commented on #1150
@Benbaillou, @fancyham, @entrotech
Created 3 key screens based on the last meeting discussion.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4525%3A8835

Questions
- Who is currently publishing the site and how does it work?
- Closed & temporary closed places are not on the Food Oasis website? If so, is the sorting works from the published date?

[2022-02-18 01:03] fancyham commented on #1155
Marked my review of the issues above. (I’m Bryan)

[2022-02-18 01:07] sei1122 commented on #1129
I had a meeting with Bonnie and Ben and learned the area boundary task. I did some research to learn what type of area boundary style other sites are using and took screenshots on Figma.

**Boundary style**
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2935%3A8  It would be good to talk

**Things to consider**
* How to display an area boundary. Is it line, filled col

[2022-02-18 01:54] souronion commented on #1148
Hi team, I made some changes to the tooltip design:

1. Use a help icon to indicate a tooltip;
2. When a user clicks/taps the help icon, display the tooltip and replace the help icon with a close icon;
3. For longer text, the user can scroll up and down to view the full content;
3. When the user clicks/taps the close icon, dismiss the tooltip.

I felt that a close icon might be useful here since s

[2022-02-18 03:17] fancyham commented on #1155
Oh, and tag, @entrotech to see if my selections are in agreement with your perspective

[2022-02-23 22:35] sei1122 commented on #1150
Key screens are updated.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4675%3A8847

I need to talk to Jordan getting feedback.

[2022-02-23 23:02] sei1122 commented on #1129
I placed design ideas on Figma.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4652%3A8814

Question
- This is only for NC district boundary or including area search.

[2022-02-24 02:43] fancyham commented on #1129
Adding screenshot here for easy reference:
![#1129 Map showing geographic regions - Screen Shot 2022-02-23 at 4 34 37 PM](https://user-images.githubusercontent.com/3376957/155446562-18ae303c-caa8-44e7-b6f2-aeb64ccb3870.jpg)

Looks good.

I’ll suggest that the initial zoom setting for the map when loading be such that the entire neighborhood area fits in view.

@ExperimentsInHonesty, @Benbaillou ,

[2022-02-24 02:54] fancyham commented on #1150
Adding screenshot of design for easy reference:

![2022-02-23 Key screens - Sei1122](https://user-images.githubusercontent.com/3376957/155448784-631a22f5-3c98-4837-ad54-26e0ef82c6b9.png)

[2022-02-24 22:17] sei1122 commented on #1129
@fancyham
Thank you for the feedback. I read the issues you mentioned.
I will attach screenshots from the next post.

[2022-02-24 22:55] sei1122 commented on #1150
@fancyham, Thanks! I will attach screenshots next time!

[2022-03-02 00:23] sei1122 commented on #1129
As our MVP, We are going to make a page that includes a list of neighborhoods with their respective URLs.

Overview
-  A page with a list of the NC URLs
- NC URL is bookmarkable.  e.g NC_id_number….
- When you click the URL, it shows the district’s boundary on the map
- Each NC mapping scale may be different.
  - If [there](url) are not many pantries and meals within the boundary, Zoom upped map v

[2022-03-04 00:33] souronion commented on #1148
**Right now on a desktop, the tooltips are working pretty well except for the following two issues:**

1. Low contrast ratio makes the tooltip of verification notes hard to read;
2. The description of verification notes gets cut off because it's too long.
   <img width="615" alt="截屏2022-03-04 上午6 12 53" src="https://user-images.githubusercontent.com/38329749/156661547-b3acfe93-8b87-4000-844a-8967a

[2022-03-04 01:04] souronion commented on #1148
Here's another small issue that is not directly related to tooltips.

When a textbox is empty, the title of the data field is displayed inside the box. This leads to two problems:
1. The form looks a little messy since the textboxes have different styles;
2. At first glance it is unclear to users which boxes are empty.

The recommended solution is to change the setting/style of the textboxes.
<img

[2022-03-08 02:44] #1116 closed

[2022-03-09 17:55] entrotech opened #1165 "Neighborhood Council Support - Draw Neighborhood Boundary on Map"
### Overview
To support embedding on a neighborhood council web site, we need to support a neighborhood_id query string parameter, and then retrieve the GeoJSON of the neighborhood (PostGIS) geometry from the neighborhood table, and render the region on MapBox. The default center of the map should be set to the geographic centroid of the neighborhood.

To use this, you will need to use a url like:

[2022-03-09 20:05] entrotech commented on #1165
This is implemented to read the neighborhood_id from the url. As you move around in the application the query string currently gets re-written by code associated with OrganizationDetails, which does not preserve the neighborhood_id part of the queryString, and the region will no longer be rendered. We need a follow-up issue to modify the query string re-writing to maintain the neighborhood_id, if

[2022-03-10 02:50] #989 closed

[2022-03-10 02:50] #1101 closed

[2022-03-10 03:54] sei1122 commented on #1150
Feedback Session with Jordan Script
https://docs.google.com/document/d/1509JrScM7dA-QhCEWiL0X1Ds-mAjzzV6H-3BZmgfXmQ/edit?usp=sharing

[2022-03-11 02:44] fancyham opened #1173 "Improve Pantry and Meal programs filter buttons"
### Overview
What: Make it easier for food seekers to filter between Pantry and Meals by fixing confusing filter buttons above the map.

Why: Currently buttons are not color-coded, and they are confusing to toggle.

- Users can select a "Meals" or "Pantries", or both options by clicking the buttons. When users click or unclick both options, the results are the same. It is not clear to users if the

[2022-03-11 03:13] fancyham commented on #1014
- We went over a couple issues
- Agreed to ask Jordan for volunteers for the card sort exercise (#1143)
- Talked about how to add issues, and finally,
- Added a new issue for the filter button colors (which was mentioned in the Heuristic Evaluation) which Seiko picked up. #1173)

[2022-03-12 21:00] hanapotski opened #1174 "Deep linking bug"
Fix this bug > https://github.com/hackforla/food-oasis/pull/1133#issuecomment-1061367435

[2022-03-15 01:19] sei1122 commented on #1150
**Feedback session on March 11, 2022.**
Attendees: Jordan, Seiko, Jhon, Bryan
This session is recorded: https://drive.google.com/drive/u/0/my-drive

What is Jordan really looking for ?
He wants full automation. When the time's come, the status changes automatically. He doesn't need to touch.

Clarify the status verification occurrence
- 6 months for opening organizations.
- 12 month if the organiz

[2022-03-15 01:24] sei1122 commented on #1150
Took screenshots Jordan's current work flow and write number of clicks.

<img width="1316" alt="Screen Shot 2022-03-14 at 6 23 24 PM" src="https://user-images.githubusercontent.com/19811032/158287506-e266af05-73c6-4602-b346-7b2b1a9518dd.png">

[2022-03-15 02:39] #926 closed

[2022-03-15 03:06] #1174 closed

[2022-03-15 04:29] sei1122 commented on #1150
Jordan's current workflow to change the status
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4819%3A899
<img width="1179" alt="Screen Shot 2022-03-14 at 9 29 39 PM" src="https://user-images.githubusercontent.com/19811032/158306673-34630768-c06a-4a53-b38f-9de9bc726417.png">
6

[2022-03-15 16:28] #1132 closed

[2022-03-18 18:06] sei1122 commented on #1150
Meeting Note: March 17, 2022
@entrotech, @sei1122
**Next Steps:**
Dev team starts development: Confirmed checks should be automatically unchecked when changing the status from Approved to Needs verification.

Seiko: start designing control panel for volunteer admin

[2022-03-23 01:30] ryu-jieun opened #1178 "Competitive analysis on search/select options"
### Overview
While improving the design of pantry and meal programs filter buttons, we wanted to explore alternative options for those buttons. Currently, users only select pantry, meal, or both options. However, there is more information that users might want to filter when they search for available pantry and meal programs (such as opening hours, type of food, eligibility, languages, etc.). Ther

[2022-03-24 17:42] sei1122 commented on #1173
Meeting Note: March 17

Showed this design idea to the team.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4845%3A9271

<img width="1263" alt="Screen Shot 2022-03-24 at 10 40 47 AM" src="https://user-images.githubusercontent.com/19811032/159977421-fc884ce0-ace1-4df2-9a81-60b3cdd94cf3.png">

- The orange color used on the button looks lighter than the website orange -

[2022-03-24 22:15] sei1122 commented on #1173
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4883%3A9016

<img width="1559" alt="Screen Shot 2022-03-24 at 3 15 24 PM" src="https://user-images.githubusercontent.com/19811032/160019114-c00a5949-26ce-4e4a-9fa5-ee37572cb2ee.png">

[2022-03-25 00:14] entrotech commented on #1101
This is now implemented as follows:
If the user has not enabled location for the site in their browser, the "GPS" (aka re-center) button will be disabled.
If the user has enabled location for the site in their browser, then when the re-center button is pressed, the map will be re-centered on the user's location, and the "start" pin, if any, will be moved to the user's location as well.

[2022-03-25 00:41] entrotech commented on #1130
@fancyham Are we ready to create a development issue for this?

[2022-03-25 00:45] entrotech commented on #904
@fancyham - This feature is implemented and deployed via Issue #1042. I believe this corresponding UI/UX issue should be closed as well.

[2022-03-25 00:55] entrotech commented on #1068
@fancyham Is there anything left to do on this? Can we create development issues if there are.

[2022-03-25 02:12] #1178 closed

[2022-03-25 02:30] fancyham commented on #1132
The changes worked for me.  I browsed with my computer set to to Hawaii time (3 hour difference from LA) and the warnings were correctly using LA time. (I’m a designer)

[2022-03-25 02:55] fancyham commented on #1101
I think I saw an issue where even when I have granted access to my location, the GPS button looks disabled.  In the screenshot below, I’ve granted access to my location when loading the site.  The white ‘target’ icon on light grey as shown here looks disabled to me, but if I roll over it, the button background turns blue, but can we instead can instead blue target rather than white?  And only use

[2022-03-25 03:02] entrotech commented on #1068
@fancyham Can we close this issue?

[2022-03-25 03:19] fancyham commented on #1101
I was using the wrong URL!

Looks good — one problem I came across:
- [ ] It seems like if I deny access to my location when first loading the site, then grant access, the site still thinks that I have denied it permanently and the GPS button doesn’t work?  The button still looks clickable (blue background) but it doesn’t seem to do anything.

To recreate:
1. Mac Safari (Monterey, latest version o

[2022-03-25 03:24] fancyham commented on #1102
Generally looks good!

In Firefox, the Food Oasis logo is missing?

Also, there now seems to be a blank footer at the bottom, (a quite tall one on Mac Safari) which I think shouldn’t be there?

![Screen Shot 2022-03-24 at 8 22 09 PM](https://user-images.githubusercontent.com/3376957/160048230-bfe9e432-b610-441d-b6d6-44a32c7c2873.jpg)

[2022-03-25 03:26] fancyham commented on #1116
Looks good — haven’t seen the overlap during today’s QA testing of other issues.

[2022-03-25 03:35] fancyham commented on #989
I tried a bunch and it seems okay to me — didn’t do exhaustive testing though

[2022-03-25 03:37] fancyham commented on #1165
@entrotech is there a list of URLs we could try for testing or a base URL to start with and try using different id numbers?

[2022-03-25 04:06] fancyham commented on #1130
Let’s go with option 2 and 3!

[2022-03-25 04:10] fancyham commented on #904
Excellent — does this move to QA now?  Any examples we can/should look at, just let us know (perhaps too early since the orgs that require appointments need to be added)

[2022-03-25 04:22] fancyham commented on #1068
@entrotech Is there a listing/URL/search term with a working version of this that I could take a look at?

[2022-03-25 16:58] sei1122 commented on #1132
Looks good to me.

[2022-03-25 17:07] sei1122 commented on #1101
I enabled location settings for Chrom browser and pressed the Re-center button, it is working :)
Location pin is pointed where I live and center on the map.

[2022-03-25 17:32] sei1122 commented on #989
looks good.

[2022-03-25 17:55] sei1122 commented on #1102
I don't see the logo on Firefox either.
The testing site, toolbar space is removed but maybe adding a bit of spacing would be nice.
Live site, map, and content cover till the end of the screen but test site has some spacing.

<img width="1490" alt="Screen Shot 2022-03-25 at 10 40 27 AM" src="https://user-images.githubusercontent.com/19811032/160173384-022c1c7b-c703-452d-8fc3-8f226f0f8dc3.png">

[2022-03-26 00:09] sei1122 commented on #1173
This is final designs of PANTRIES and MEALS buttons.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4902%3A8998

<img width="1220" alt="Screen Shot 2022-03-25 at 5 04 47 PM" src="https://user-images.githubusercontent.com/19811032/160216160-da09df9d-8a59-40a5-8632-9fa4e2d2e58a.png">

Next Steps:
- [ ] @entrotech implement this design
- [ ] test this on testing url
- [

[2022-03-28 22:33] sei1122 opened #1180 "Bug: Hover states of the button color need to be fixed"
### Overview
On the organization's detail page, When hovering the **DIRECTIONS** or **SEND CORRECTION** buttons, the button's background blue is not applied.

### Action Items
- [ ] Add blue background for the hover states.

### Resources/Instructions
<img width="577" alt="Screen Shot 2022-03-28 at 3 21 12 PM" src="https://user-images.githubusercontent.com/19811032/160497046-04f09bff-b38e-4f02-baa

[2022-03-31 21:16] GigiUxR opened #1183 "Bug: On both sites "Suggest New Listing" page opens up mid-page"
Both Mobile and Desktop Sites.   "Suggest New Listing" page  - This page opens up to the middle of the page/blank form and I had to scroll up  to the top of the page.

To recreate:
1. https://foodoasis.la/suggestion
2. User ends up in middle of the page, needs to scroll to top to know where they are

Expectation:
- Arrives at suggestion page but at top of form.

[2022-04-01 00:10] #1173 closed

[2022-04-01 00:59] LIlinit opened #1185 "Feature: "Learn about this site" does not communicate"
"Learn about this site"  - when hovering on top, it does not indicate the link is clickable. Both mobile and desktop.

- [ ] Add a hover color for the URLs so that it’s obvious that links are obvious

[2022-04-01 01:20] LIlinit commented on #1185
[https://foodoasis.la/](url)

[2022-04-01 02:30] fancyham opened #1186 "Add bug-report issue template to github"
### Overview
Let’s add a bug reporting template to make it easier for reporters, programmers, and reviewers to understand what an issue is, how to re-create it, , what happens and how it differs from expected behaviors.

### Bug Report Template:

#### Issue description
#### Steps to reproduce the issue
1.
2.
3.
#### What's the expected result?
-
#### What's the actual result?
-
#### Additional det

[2022-04-04 05:37] entrotech opened #1187 "Remove Dead Food Seeker Code"
### Overview
Remove Dead Food Seeker Code

### Action Items
Remove dead food seeker code from Deprecated folder.
Re-name Food Seeker components to get rid of index.js files for single components, and re-name files to be consistent with Component names.

### Resources/Instructions

[2022-04-04 05:53] #1187 closed

[2022-04-06 21:44] sei1122 opened #1191 "Update landing page design"
### Overview
Page: https://www.foodoasis.la/
Update the design of the center square section.
1. Currently, white and blue colors are used for the background. We should avoid using the blue color for the background because blue is the primary button color. If we overuse it, the button won't be stand out.
2. Is the copywriting is clear enough for users?
3. Green button color is intentionally selecte

[2022-04-06 21:58] #1180 closed

[2022-04-07 18:12] sei1122 commented on #1191
Here is design ideas
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2936%3A781
<img width="1025" alt="Screen Shot 2022-04-07 at 11 11 19 AM" src="https://user-images.githubusercontent.com/19811032/162269070-c387ecb4-3e75-4d42-b10a-8bef76b0ccef.png">

[2022-04-09 16:13] entrotech opened #1194 "Modify Strategies per January 2022 version of Program Guildelines"
### Overview
LADOT has been modifying the TDM Strategies and descriptions per the referenced document below. Modify the strategies, point values and tooltip descriptions to match this official document.

### Action Items
Modify the Tooltip for Bike Share Memberships to:
"Offer bike share membership passes to employees and/or residents in accordance with available pass options(applicable for locati

[2022-04-10 13:27] VirginiaWu11 opened #1195 "Logo Missing in Mac Firefox"
In Firefox, the Food Oasis logo is missing?

(Also, there now seems to be a blank footer at the bottom, (a quite tall one on Mac Safari) which I think shouldn’t be there?) - vw created new issue #1196

![Screen Shot 2022-03-24 at 8 22 09 PM](https://user-images.githubusercontent.com/3376957/160048230-bfe9e432-b610-441d-b6d6-44a32c7c2873.jpg)

_Originally posted by @fancyham in https://github.com/h

[2022-04-10 13:30] VirginiaWu11 opened #1196 "Blank Footer at the Bottom"
Also, there now seems to be a blank footer at the bottom, (a quite tall one on Mac Safari) which I think shouldn’t be there?

![Screen Shot 2022-03-24 at 8 22 09 PM](https://user-images.githubusercontent.com/3376957/160048230-bfe9e432-b610-441d-b6d6-44a32c7c2873.jpg)

_Originally posted by @fancyham in https://github.com/hackforla/food-oasis/issues/1102#issuecomment-1078616704_

[2022-04-10 14:27] VirginiaWu11 commented on #1196
firefox

<img width="551" alt="Screen Shot 2022-04-10 at 10 27 06 AM" src="https://user-images.githubusercontent.com/79432798/162624162-c566de1e-c77c-4279-9212-248774f5849b.png">

[2022-04-10 14:52] VirginiaWu11 commented on #1196
Firefox widget also missing logo
<img width="839" alt="Screen Shot 2022-04-10 at 10 50 51 AM" src="https://user-images.githubusercontent.com/79432798/162625381-0c34ad86-6f45-4657-ac41-69abc11e51b6.png">

[2022-04-10 14:57] VirginiaWu11 commented on #1195
firefox Homepage

<img width="551" alt="Screen Shot 2022-04-10 at 10 27 06 AM" src="https://user-images.githubusercontent.com/79432798/162624162-c566de1e-c77c-4279-9212-248774f5849b.png">

Firefox widget also missing logo
<img width="839" alt="Screen Shot 2022-04-10 at 10 50 51 AM" src="https://user-images.githubusercontent.com/79432798/162625381-0c34ad86-6f45-4657-ac41-69abc11e51b6.png">

[2022-04-10 23:05] fancyham commented on #1186
I added the bug report form to our New Issues templates

[2022-04-10 23:45] fancyham commented on #1186
Haha.. Not sure how to do a pull request to get it in.  Re-opening until I figure it out.

[2022-04-15 00:01] fancyham commented on #1130
@stdyrm Hey hey, we’ve come to a decision on the footer design, if you’ve still got time to work on it.

I think you have enough here to get started but lemme know if you’d like additional detail and happy to meet up with you or at CfHI time.  If you need a development issue and can’t create one, lemme know and I can try ( JD’s out for a few weeks.)

[2022-04-15 01:55] ExperimentsInHonesty commented on #1156
#### Onboard Bryan (retroactively on 2022-04-14)
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ```#fola-reasearch```
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, wil

[2022-04-15 19:34] ExperimentsInHonesty commented on #1014
Please add this to this week's agenda and get it done during the meeting
- [ ] Taking a picture of the team [CTA Instructions](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

[2022-04-18 14:09] stdyrm commented on #1130
@fancyham Hey sorry I've been MIA, still overseas and it's been difficult to make extra time ... we can talk this over at the CFH meeting if you're available, I may need a refresher on what additionally needs to be done after PR 1130

[2022-04-21 20:27] ryu-jieun commented on #1173
This issue has been solved and the new design has been updated on the public FOLA website.

[2022-04-21 20:37] ryu-jieun commented on #1132
All the opening hours are set in LA time.

[2022-04-21 20:42] ryu-jieun commented on #1101
It's working on my safari (iphone 11).

[2022-04-21 20:44] ryu-jieun commented on #1103
I think this issue is directly related to #1101?

[2022-04-21 20:51] ryu-jieun commented on #1102
Agree with @fancyham & @sei1122. There is a blank footer at the bottom both on the testing & public sites.

[2022-04-21 20:54] ryu-jieun commented on #1116
looks good both on the computer and mobile!

[2022-04-21 20:58] ryu-jieun commented on #989
Looks good

[2022-04-21 21:11] ryu-jieun commented on #756
Please see the attached video for more detail:

https://user-images.githubusercontent.com/78619802/164552739-c72b22ed-280e-40fb-95cc-978b2d0ed7de.MP4

This issue appears on the Chrome browser on iPhone 11.

This issue was found during the heuristic evaluation - #1114

Reference: https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0

[2022-04-21 21:26] ryu-jieun opened #1199 "Pre-filled "Send Corrections" form"
### Overview
In the "Send Correction" form for some organizations, the "Corrections" field is prefilled with the "Notes" information from the organization. This field should be empty so that users can write a message.

### Action Items

- [ ] Fix the bug

### Resources/Instructions
Example:
![IMG_2177](https://user-images.githubusercontent.com/78619802/164554549-11d5da17-ab74-494b-bd94-ca471c6ef0c

[2022-04-21 21:35] ryu-jieun opened #1200 "Improve "Send Corrections" form - Cancel & Send buttons"
### Overview

"Cancel" and "Send" buttons in the "Send Corrections" form look very similar to each other and users could accidentally click the wrong button. It would be better to make the "Cancel" button less significant in a different color.

You can find the "Cancel" and "Send" buttons in the "Send Corrections" form on each organization's detailed page.

![Screen Shot 2021-12-07 at 13 55 59](ht

[2022-04-21 21:43] ryu-jieun opened #1201 "Resizing the hamburger menu on food seeker mobile site"
### Overview
The hamburger menu on the top right does not fit the header. The image should be adjusted to fit the header.
This issue appears on Food seeker Mobile Site (iPhone, Chrome, and Safari)

![IMG_2175](https://user-images.githubusercontent.com/78619802/164556768-78991673-3295-4098-ae1d-2db357204d66.jpg)

### Action Items

- [ ] Resize the image

### Resources/Instructions
See item #30 in t

[2022-04-21 22:53] sei1122 commented on #1200
Where are these CANCEL and SEND buttons located?

[2022-04-22 00:05] ryu-jieun commented on #1200
They are in the "Send Corrections" form on each food pantry/meal program's detailed page.

[2022-04-22 00:40] sei1122 commented on #1200
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2936%3A7814

Button idea

<img width="599" alt="Screen Shot 2022-04-21 at 5 27 15 PM" src="https://user-images.githubusercontent.com/19811032/164574046-5cd563cc-594d-4846-aa78-29c273cb4920.png">

[2022-04-22 03:20] sei1122 commented on #1200
@entrotech,
This design is reviewed with team and good to go.

[2022-04-22 18:40] fancyham commented on #679
Hi folks, is this issue completed?  I see it’s in the ‘done’ column of the Project Management [kanban board](https://github.com/hackforla/food-oasis/projects/8) but is still open — is it actually complete?

[2022-04-22 18:45] fancyham commented on #1088
We are trying this out with an [Embeddable Widget 1.0](https://github.com/hackforla/food-oasis/milestone/8) milestone.

[2022-04-22 18:55] fancyham commented on #1140
- Development issue is #1165

[2022-04-22 18:58] fancyham commented on #1140
I believe this is completed with
- #1129
- #1165

[2022-04-22 18:58] #1140 closed

[2022-04-22 18:59] fancyham commented on #962
I believe this is completed — we’re working on refinements like a nicer footer and special features as requested by neighborhood councils right now.

[2022-04-22 18:59] #962 closed

[2022-04-22 19:01] fancyham commented on #1129
I believe this is completed and implemented in #1165 ?

Please test that and make confirm that you’re cool with the implementation, and if you’re good with the changes, close this issue or post revisions to be implemented!

[2022-04-22 19:07] fancyham commented on #1165
Cool!

- [ ] When you @entrotech have a chance, could you list some test URLs so we can play with the regions?
- [ ] Maybe we shouldn put embedding instructions and a lookup table of neighborhoods for that custom URL on the wiki?

Once we can QA (@sei1122), I think we can close this and a bunch of other issues in the [Embeddable Widget milestone](https://github.com/hackforla/food-oasis/milestone/8

[2022-04-22 19:18] fancyham commented on #1130
Got in touch with @stdrym — he’s got #2 working locally and will look at getting #3 next 🤙

[2022-04-22 19:22] fancyham commented on #1165
Sorry, just realized we need this: added action items to revise instructions for the new neighborhood-displaying URLs

[2022-04-22 19:53] fancyham opened #1202 "Deep link to current view of map"
### Overview
Goal: Make it easier to share a link to a specific location on the map

Why:
On Google Maps (on the web), as one pans around and zooms, the URL itself updates automatically.

This allows people to easily share what they’re looking at with someone else.  The URL, when opened, takes the recipient directly to the view that the sender was looking at.  This URL can also be bookmarked.

Cou

[2022-04-22 20:05] fancyham opened #1203 "Bug: Embedded widget layout changes when searching for location"
### Overview
When using the embedded widget:

Typing in a location to search incorrectly displays the header and hides the footer.

### To reproduce
1. Go to embedded version of FOLA (https://www.hackforla.org/projects/food-oasis at the bottom)
![Screen Shot 2022-04-22 at 9 59 41 AM](https://user-images.githubusercontent.com/3376957/164786170-913d5a0f-645b-43aa-8946-6e2f1e409662.jpg)

2. Type in a

[2022-04-23 01:18] sei1122 opened #1204 "Design System update"
### Overview
We need to update the **Design System** to design more efficiently. When I’m designing, I refer to the design system color, font, button, and components. Some of the items are not the latest so I need to back and forth website and design system.

### Action Items

- [ ] Review the current design system with the team
- [ ] Audit Food Oasis site
- [ ] Update design
- [ ] Approval by tea

[2022-04-24 06:34] fancyham opened #1205 "Usability: allow user to try GPS button multiple times"
### Overview

It seems like if I deny access to my location when first loading the site, the site still thinks that I have denied it permanently and the GPS button doesn’t work for the rest of the session/ The button looks clickable (blue background) but it doesn’t seem to do anything.

### To recreate:

Mac Safari (Monterey, latest version of Safari)
1. Click ‘Use my current location’, but do NOT

[2022-04-24 06:38] fancyham opened #1206 "Usability: change tooltip for GPS button to better describe its function"
### Overview
Can we change the GPS button tooltip (on the map/organization view) from ‘re-center’ to ’show your location’ (Google calls it “show your location”, Apple uses “show your current location”). This would be a better description than ‘re-center’.

currently, ‘re-center’ could be confused with the text field to the button’s left, making it sound like we’re re-centering on that address, whe

[2022-04-24 12:24] nitin094-hub commented on #1206
Can i take up this issue?

[2022-04-24 17:02] fancyham commented on #1206
BTW, here are the prioritized backlog items: https://github.com/hackforla/food-oasis/projects/8

[2022-04-27 23:32] sei1122 commented on #1150
Meeting note: April 20, 2022
Preset filter and the edit screen designs

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5110%3A907
<img width="978" alt="Screen Shot 2022-04-27 at 4 32 12 PM" src="https://user-images.githubusercontent.com/19811032/165647845-126e9c32-b491-4300-8e14-fca798424f53.png">
2

[2022-04-27 23:36] sei1122 commented on #1150
Preset filter edit screen design iterations.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5136%3A9285
<img width="802" alt="Screen Shot 2022-04-27 at 4 34 58 PM" src="https://user-images.githubusercontent.com/19811032/165648103-8bed9f1a-4c6f-47e4-99bc-c110f5d134fa.png">

[2022-04-28 22:13] sei1122 opened #1207 "Avoid using button color for background"
### Overview
Review the website interface and change the colors. Currently, button colors blue and orange are used for background color on the About Us, Donate, and FAQ  pages. Button colors should be used minimum so that users recognize buttons easily.

### Action Items

- [x] Review pages
- [x] Design
- [x] Team's approval
- [ ] Frontend Development

### Resources/Instructions
Here are some exam

[2022-04-28 22:30] sei1122 opened #1208 "Update Suggest a New Listing"
### Overview
Update Suggest a New Listing page
https://www.foodoasis.la/suggestion

1. Show the title when landing this page.
-> To find the page title, need to scroll up to the top.
2. Add validation.
-> Without filling out any info in the text field, we can send the form. Also, is anyone checking info after sending this?
3. Use the same title size and style as other pages to be consistant

### A

[2022-04-29 01:45] fancyham commented on #1208
Issue 1 is also noted here: [#1183](https://github.com/hackforla/food-oasis/issues/1183)

[2022-04-29 01:46] fancyham commented on #1183
Related to #1208

[2022-04-29 01:49] fancyham commented on #1003
@entrotech I think we do this already — perhaps this issue can be closed?!

[2022-04-29 02:04] fancyham commented on #1186
Added Github’s standard bug report template with minor edits (combined the Desktop and Smartphone configuration into a single section) to our New Issue templates.

[2022-04-29 02:04] #1186 closed

[2022-05-03 07:41] stdyrm commented on #1130
@fancyham I think changes for option 2 were already merged in Dec 21? but have a PR for option 3; if you have multiple maintainers in the TENANT_CONFIG, they will show up side-by-side on the widget footer. #1210

[2022-05-04 21:56] fancyham commented on #1130
@stdyrm excellent!

[2022-05-06 01:42] fancyham commented on #1204
From our meeting with @entrotech
- Programmers are using color palettes from figma
- Anything more involved than that, even when designers create CSS, that CSS usually only works on one device and at once size…
- but actually programmers have to make it work on all devices and browsers which requires tweaking and things like that.

Often Figma specs or figma font sizes don't translate to the web s

[2022-05-10 00:06] fancyham commented on #1143
Updates:

We haven't heard back from Jordan so we realized we can use our volunteer log-in database to find volunteers and their email addresses and get in touch with them directly.

@entrotech did a query on the database showing recently active and who likely called and updated org info:
"To obtain an indication of the active volunteers, I ran a query to get all the application users that have mo

[2022-05-12 23:47] #1196 closed

[2022-05-12 23:52] #1195 closed

[2022-05-13 00:14] entrotech opened #1211 "Bug:"
#### Describe the bug

When the app is embedded in a host site via an iframe, the Normal application Header should not be displayed and the footer is customized for the tenant and "maintainer". However, if you then use the location control to search for a new address, the application header appears and the widget footer disappears - this is a bug.

#### Steps to reproduce the issue

Start an appli

[2022-05-13 00:18] entrotech opened #1212 "Update NPM Dependencies"
### Overview
A dozen of so NPM packages have security vulnerabilities.

### Action Items
Refactor to update NPM packages that are out of date.

### Resources/Instructions

[2022-05-16 21:14] #966 closed

[2022-05-17 01:19] #1212 closed

[2022-05-17 01:59] entrotech commented on #904
@fancyham Can we close this issue?

[2022-05-17 02:01] entrotech commented on #1068
We have not created the "tag" indicating that walk-ins are welcome yet.  This should be assigned to a developer.

[2022-05-18 00:25] entrotech opened #1216 "Bug: Full-stack docker container build fails"
#### Describe the bug

The GitHub actions that build the full-stack container fail to build the container (see screenshot below for error log). The problem appeared to be that we upgraded to React 17 (and later version 18), and NPM was modified in version 7 to check peer dependencies and fail if not all the peer dependencies are satisfied.  That is, many of the packages used by the client app have

[2022-05-18 00:29] #1216 closed

[2022-05-18 01:37] ardada2468 commented on #1185
I got this.

[2022-05-18 16:18] #1185 closed

[2022-05-19 06:42] fancyham commented on #904
@entrotech If there aren’t any examples to QA yet, yeah, let’s close it.  We’ve got eager QA folks :)

[2022-05-19 06:44] fancyham commented on #1068
Let us know if there’s any stuff design can help with on that!

[2022-05-20 00:28] entrotech commented on #1165
I updated the wiki with instructions. Ready for QA.

[2022-05-20 01:15] fancyham commented on #1129
Wiki page with the neighborhood listings is here:

https://github.com/hackforla/food-oasis/wiki/Embedding-Food-Oasis-in-Your-Web-Site

QA folks please review!

[2022-05-20 01:23] #1130 closed

[2022-05-20 02:38] fancyham commented on #965
Zooming out a bit on this one — what question are we trying to answer with this survey?

If we're trying to find out if there's a need for a Spanish (and other) -language free food directory, I'd say we already know the answer.

Demographic and food-insecurity data, and [previous literature research we did for Los Angeles](https://docs.google.com/document/d/1SN1n2ZZKf8AOhkQUFlEICNkagRuazDyzEcRpxUT

[2022-05-20 02:41] fancyham commented on #12
Can this possibly be done on-the-fly with google translate?  At least for the short-term?

What other solutions are out there?  It'd be amazing if the UI and the org's individual details and prose descriptions were translated, even imperfectly, into multiple languages.  Something like Google Translate seems ideal.

Is that even possible with React?

[2022-05-20 05:01] sei1122 commented on #1129
Looks good :)

[2022-05-20 07:40] fancyham commented on #1129
Horray!  Thanks everyone!

[2022-05-20 07:40] #1129 closed

[2022-05-20 07:41] fancyham commented on #1130
Yay!

[2022-05-20 07:56] fancyham commented on #1127
Some actions we can take that we discussed today:

- [ ] Find out what analytics we currently have (might review source code of site — I saw only Firebase Analytics (AKA Google Analytics)
- [ ] Get everyone interested access to those analytics
- [ ] Discuss among team what stats are useful for us
- [ ] Identify gap between what we have currently and what we want
- [ ] Implement what we can

[2022-05-20 07:58] fancyham commented on #1144
Some actions we can take that we discussed today and noting them here.  Maybe move these to sub-tasks or to issue description at top?

- [ ]   Review what analytics packages we currently have (might review source code of site — I saw only Firebase Analytics (AKA Google Analytics)
- [ ]   Get everyone interested access to those analytics
- [ ]   Discuss among team what stats are useful for us
- [ ]

[2022-05-24 01:24] #1134 closed

[2022-05-24 01:24] #1121 closed

[2022-05-24 01:28] entrotech opened #1223 "Update Landing Page Design"
### Overview
The UI/UX team proposed some design modifications to the Landing page in Issue #1191. Need to implement these changes

### Action Items
- [x] Make changes to look like wireframe in Issue #1191.
- [ ] Review with UI/UX team.

### Resources/Instructions

[2022-05-24 01:46] entrotech commented on #958
We don't seem to be able to replicate this problem now.

[2022-05-24 01:46] #958 closed

[2022-05-24 01:48] entrotech commented on #856
We do not seem to be able to replicate this problem now.

[2022-05-24 01:48] #856 closed

[2022-05-24 22:29] entrotech opened #1224 "bug: Verification Admin Screen Won't Display"
#### Describe the bug

When you log in as an admin, the Verification Admin screen does not display.

#### Steps to reproduce the issue

Log in with an Admin Account.
Application attempts to open the Verifcation Admin screen, but fails.
In the Browser Tools Console, the following error is displayed:

![image](https://user-images.githubusercontent.com/9939032/170142254-6aa286bf-17ab-439f-8938-f18bdd

[2022-05-24 22:36] #1224 closed

[2022-05-24 22:47] entrotech opened #1226 "Bug: neighborhood is not being automatically calculated when a stakeholder is entered or edited."
#### Describe the bug

When a stakeholder is inserted or edited, the neighborhood_id should be automatically calculated and saved to the database, but it is not.

#### Steps to reproduce the issue

1. Enter or change the address of a stakeholder from the Stakeholder Edit screen, using an address withing the LA city limits.
2. Execute a query on the Verification Admin screen that shows the modified

[2022-05-24 23:08] entrotech opened #1228 "Verification Admin: Allow Admin to elect to clear the confirmation checkboxes when using Needs Verification dialog"
### Overview
On the Verification Admin screen, the admin can check one or more stakeholder checkboxes and press the "Needs Verification" button to change one or more stakeholders to the Needs Verification status. For previously verified information, this is uses to initiate re-verification.  Jordan Smith, the main admin for the volunteer training sessions, pointed out that when he is doing this, h

[2022-05-24 23:10] entrotech commented on #1228
This is a first step toward automating the admin process - discussed in Issue #1150

[2022-05-24 23:13] entrotech commented on #1150
Created Issue #1228 to implement the "Stage 1" step in the issue description above.

[2022-05-25 04:51] entrotech commented on #1228
This is what the dialog box looks like now:
![image](https://user-images.githubusercontent.com/9939032/170182135-61e6653b-1c96-46e2-aff1-30da132f7f0c.png)

The default is to clear the confirmation checkboxes. If, for some reason, the admin does not want to uncheck the confirmation checkboxes, they can check this option on the dialog.

[2022-05-27 00:35] fancyham commented on #751
I believe we ended this as 'we aren't going to pursue this' right now.

Should this issue be moved to the ice box or closed out as some sort of "WON'T FIX"?

[2022-05-27 00:56] entrotech commented on #1191
I converted this from a UI/UX issue to a dev issue, and moved back to the Prioritized Backlog for a developer to pick up.

[2022-05-27 05:33] sei1122 commented on #1191
@LIlinit
 I attached designs that we’d like to test.  You can access the design file from this link
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2936%3A7813

<img width="273" alt="Screen Shot 2022-05-26 at 10 24 46 PM" src="https://user-images.githubusercontent.com/19811032/170635212-ccf816b6-5b68-41b1-a3f4-7428fee726a1.png">

Here are some questions but feel free t

[2022-06-01 04:15] sei1122 commented on #1131
Before designing this issue, I’d like to clarify things below.

Figma file:
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4982%3A9019

### Source of the data
The "Suggestions" will come from three places:
1. Suggest New Listing ✅
2. Send Correction ✅
3. Organization Email Reminder -> where can we find it?

<img width="1317" alt="Screen Shot 2022-05-31 at 9 03 48 PM"

[2022-06-01 04:50] sei1122 opened #1232 "Clear the searched filter items from admin dashboard"
### Overview
When we use Search Criteria, we can't clear the filter items from the searched page.
To clear the filter items, we need to open the Search Criteria page and clicked the buttons back to be original state.

It would be great to clear the filtered items from the filtered view.

### Action Items
- [x] Design
- [ ] Implementation
- [ ] Test
- [ ] Launch

### Resources/Instructions
<img wid

[2022-06-01 23:45] fancyham commented on #1131
Good questions!  I’ll do my best to answer based on my understanding:

For item 3 above, we haven’t built the **Organization Email Reminder**, but the Milestone for that project is https://github.com/hackforla/food-oasis/milestone/15 and https://github.com/hackforla/food-oasis/issues/996 which has a design-in-progress PDF mockup.

I believe @entrotech has more detail on **“Status”** but my underst

[2022-06-02 10:08] devnikesh commented on #1191
Hi team, Can I work on this issue I've done the desktop version. If yes, please assign me the issue and let me know which mobile design is selected. Here's the Screenshot of the Desktop version.

![Food-Oasis](https://user-images.githubusercontent.com/63302392/171606365-12e453c5-7de1-4464-9000-4c3d391e7537.png)

[2022-06-02 16:48] sei1122 commented on #1191
@devnikesh, the User Researcher will conduct the A/B testing.
So let you know when it is done.

[2022-06-03 00:54] #1200 closed

[2022-06-05 04:50] fancyham commented on #1098
Looks like it's working okay now:
- Centering was taken care of in #1165 by showing a neighborhood boundary.
- The layout problems continue if embedded with large margins on small device, but in the [wiki's embedding instructions](https://github.com/hackforla/food-oasis/wiki/Embedding-Food-Oasis-in-Your-Web-Site) we say use full 100% width which would work on an iPhone 5/SE.  So ensuring responsiv

[2022-06-05 04:52] fancyham commented on #1165
QA: Looks good!

I followed the wiki instructions for one neighborhood and it worked as advertised.  Easy to follow instructions, too.

QA done — closing issue!

[2022-06-05 04:52] #1165 closed

[2022-06-05 04:53] fancyham commented on #1098
I think these issues are all taken care of, so closing!

[2022-06-05 04:53] #1098 closed

[2022-06-05 23:36] entrotech opened #1233 "Update Open Graph Image"
### Overview
Open Graph is implemented, but a good image isn't included. Make the Open Graph image the Food Oasis logo.
### Action Items
- [x] Fix

### Resources/Instructions
https://ogp.me/

[2022-06-05 23:38] #1233 closed

[2022-06-07 02:06] sei1122 commented on #1232
Here is design

Figma file
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2936%3A7815

<img width="786" alt="Screen Shot 2022-06-06 at 7 05 56 PM" src="https://user-images.githubusercontent.com/19811032/172280181-f071c516-1027-42b2-8927-e4b4dfd5ad7a.png">

[2022-06-09 17:23] sei1122 commented on #1131
@fancyham, @entrotech

I created a user flow to see the overall steps.
Currently, we don’t have a way to check whether the info comes from a trusted source or not.
All the information must be verified before the information goes on the website.

Figma file
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5414%3A9263

<img width="1005" alt="Screen Shot 2022-06-09 at 10 2

[2022-06-10 00:56] entrotech opened #1238 "Upgrade From React Data Grid"
### Overview
The react data grid is now on major version 7 ( https://github.com/adazzle/react-data-grid). The app currently uses version 6, and it is a significant upgrade that has may breaking changes.  We may want to take this opportunity to switch out for a completely different react grid - e.g. the new Material UI Data Grid.

### Action Items
- [ ] Evaluate the Material-UI Data Grid and see if

[2022-06-10 01:02] entrotech opened #1239 "Upgrade to Material UI 5.8"
### Overview
The application currently uses @material-ui version 4.12.  The current version is @mui/material@5.8.3. Upgrade the app to the new major version.  It seems to be a radical upgrade and will be challenging.

### Action Items
- [ ] Read up on how to migrate to the new version.
- [ ] Upgrade and debug
- [ ] Test, test, test!!

[2022-06-12 18:37] devnikesh commented on #1208
**Overview**

1. Fixed the "Page opens up mid-air" issue
2. Implemented Validation for email, empty submission, required few information, min-max.

**Suggestions**

- The form is longer vertically, we should split it in two columns
- Adding a Loading Spinner for "Send Suggestions" button, this will enhance the user experience

Is there any new design issued for the "Suggest a New Listing" page. Fo

[2022-06-12 18:48] devnikesh commented on #1208
**Overview**

1. Fixed the "Page opens up mid-air" issue
2. Implemented Validation for email, empty submission, required few information, min-max.

**Suggestions**

- The form is longer vertically, we should split it in two columns
- Adding a Loading Spinner for "Send Suggestions" button, this will enhance the user experience

Is there any new design issued for the "Suggest a New Listing" page. Fo

[2022-06-13 06:28] fancyham commented on #1208
Nice!  Opening the window to the top is a great start.

About the validation:

First, thanks for building this out, @devnikesh — seeing it in action is really helpful to me as a designer to see unexpected downstream effects.

I think the validation shown in the video above is too strict for our goals?

I could imagine someone not knowing the street address or zip code of a food pantry, or doesn’t

[2022-06-13 18:13] devnikesh commented on #1208
@fancyham Thanks for reviewing it. I've made few changes.

-  Made all fields optional, except the Organization Name and Category
- Added validation for Phone numbers
- Updated “Changes to hours” to "Hours"

Waiting for @entrotech's input on adding Url Field and review on the newly Updated Form. Also @fancyham and @sei1122 please let me know what needs to be updated or added.

https://user-images.

[2022-06-13 23:15] fancyham commented on #1208
Thanks!

Could you confirm that you can enter a phone number like this “+1 (121) 283-1833,1,2;3,# x923 (talk to Joanne)”?  (the command and semicolon are pauses)

If not, perhaps better/easier to have no phone number format validation.  There’ll be a human reviewing and validating the information manually so we don’t have to worry about fields being ‘ready to publish’.

@sei1122 @entrotech what do

[2022-06-13 23:16] sei1122 commented on #1208
@devnikesh
Thank you for the update :)

I made a prototype to show the suggested design.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2936%3A7816

Here are changes

- Change the "Suggested New Listing"  Title style. Use the same phone size and the case to the About or Donate page.

- Make form 2 columns for desktop and tablet screen ( As you suggest, if you can do 2

[2022-06-13 23:30] sei1122 commented on #1208
@fancyham,
The category may not necessary but it would be good to check how the information is validated.

I'd like to add validation to prevent keep sending empty data.

[2022-06-14 00:24] entrotech commented on #1068
I think we can work on adding the tag "Walk-ins Welcome" suggested by @Benbaillou  on Dec 8, 2021. Then that should finish this issue.

There doesn't seem to be an agreement about showing the hours on the list, so we'll hold off on that unless/until we come to an agreement, and then we would create a new issue.

[2022-06-14 00:27] entrotech commented on #1057
This was completed and deployed to the Hack for LA and Food Cycle sites a while ago.

[2022-06-14 00:27] #1057 closed

[2022-06-14 02:22] sei1122 commented on #1208
Meeting note:

Required filed is org name only. Having one required field prevents empty submission.

<img width="1084" alt="Screen Shot 2022-06-13 at 7 20 13 PM" src="https://user-images.githubusercontent.com/19811032/173479731-436bee96-5c0c-4703-b201-ef5db31de06b.png">

[2022-06-15 00:10] fancyham commented on #1120
Good question

When the user selects a location they enter organization-detail view.  And in that view, if the user hovers over other pins on the map with the cursor, I think nothing should happen. No pin highlighting — so basically like it is now.

So this would be a change for the list-and-map view only.

[2022-06-15 00:33] sei1122 commented on #1131
The current design, both Correction info and Suggests a New listing data go to the Suggestions Admin Board.
At the last meeting, we found out the admin user needs to back and forth between pages.

To improve this, we pivoted direction.
1. Correction info ----> Verification dashboard column
2. Suggest a New Listing ----> Suggestions Admin Board

Here is the new user flow for the 1 and 2
<img width=

[2022-06-15 02:40] #1199 closed

[2022-06-15 02:41] #1153 closed

[2022-06-15 03:58] entrotech commented on #12
It is certainly possible to internationalize a React application, but we would need to decide what language needs to be internationalized and for how many languages.  Make no mistake - making Food Oasis a fully-customized multi-lingual site is a huge project, and it only seems worthwhile if we translate not only the static text on the web application, but also all of the listing data as well. Just

[2022-06-16 08:27] fancyham commented on #12
I wonder if partial translations are useful?

For example, a first phase could translate only the labels and generated text such as hours open. But the free form text would stay as English. (Or whatever original language??)

A second phase might be to either hand-translate (a huge, huge task) or perhaps a machine-learning translation is possible?

I also wonder if in the longer term, if we can tri

[2022-06-16 09:06] fancyham commented on #12
Check out this automatic translation in Safari on my iPhone SE 2016.  (I switched the UI language to spanish first)

My Spanish isn’t good enough to judge quality but It works with React loading.

maybe a solution would be to display instructions for how to turn browser translations on?

https://user-images.githubusercontent.com/3376957/174034791-a4e305a8-721a-4e73-a50b-ff2ee9459501.MOV
(Let me kn

[2022-06-16 17:19] fancyham commented on #1131
Looks really good!

On the “Suggest a new listing”
- You might already be on the same page but we might be able to save some copying and pasting if we:
  - Have a button for each new org suggestion (column 2) that creates a draft org record and copies over the simple fields like “organization name” and similar matching text fields automatically.
  - More complex fields like “hours” could be displa

[2022-06-17 02:39] fancyham commented on #1191
Recapping our team meeting, we are currently looking at comparing:
current version, A-2, and B-2
![#1191 landing page variations](https://user-images.githubusercontent.com/3376957/174214021-7d87bffc-7271-46dd-a47c-ebf34e1d053e.jpg)

[2022-06-17 07:36] sei1122 opened #1242 "Prevent sending empty data on Send Correction"
### Overview
Currently, users can submit the form without filling out any field. We need to set at least one required field to prevent sending empty data.

### Action Items

- [x] Add star icon on Corrections field
- [x] Add verification on Correction field
- [x] Show the "Please enter corrections" Warning and change the stroke to red when a user presses SEND button without entering the Correction

[2022-06-17 18:46] devnikesh commented on #1208
**Update:**

- Updated the "Suggested New Listing" Title style as in other pages.
- 2 columns for desktop and tablet screen.
- Added icon for required field (as implemented in other forms).
- Required only the Organization name.
- Successfully submitted the data and reviewed in the Suggestions Administration.

@sei1122 the two column design looks really good, it actually makes it more usable and a

[2022-06-17 20:29] sei1122 commented on #1208
@devnikesh, as you mention, we can center the description. The current description on the desktop is too narrow so it would be good to update.

Also, when the required field is not filled and press the button, can you display the warning "Please enter the Organization Name" and the text field outline makes it red.

Here is a design
<img width="1759" alt="Screen Shot 2022-06-17 at 1 25 17 PM" src="

[2022-06-19 08:43] devnikesh commented on #1208
**Update:**

- Spaced Full Width and Centered the Description on Desktop
- Updated the Warning text for Organization Name as "Please enter the Organization Name"

https://user-images.githubusercontent.com/63302392/174472312-8f375706-e02b-4f7d-a304-1615a25d102c.mp4

[2022-06-22 04:41] sei1122 commented on #1131
I updated the user flow and designed key pages.
Hope we can find a simple design solution and test user flow.

Figma file link
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5680%3A9463

user flow
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5524%3A9295
<img width="1282" alt="Screen Shot 2022-06-21 at 9 36 46 PM" src="https://user-image

[2022-06-22 22:17] fancyham opened #1245 "Bug: foodoasis.net goes to old site"
#### Describe the bug

On my devices, http://foodoasis.net goes to the old site (the one from about a year ago with the fruit and veggies in the background)

#### Steps to reproduce the issue

(if applicable, please specify platform (iOS, Android, Windows, Mac version) and brower)

1. Go to http://foodoasis.net

#### What's the expected result?

The current site, which is http://la.foodoasis.net o

[2022-06-22 22:17] fancyham commented on #1245
@sei1122 If you’re curious, here’s how the old site looked and how they used the blue color background on the map UI screen, and some other colors for buttons (like the chartreuse for the ‘search’ button)

[2022-06-22 22:41] sei1122 commented on #1245
Nice :)
Looks like the background image change every time.
I didn't know the chartreuse and looked up. haha
Nice yellow ish green.

It might be nice to add a few more colors to our current website.

[2022-06-23 22:53] sei1122 commented on #1208
Thank you for the video!
Overall looks good.
I will test once I can see this on https://devla.foodoasis.net/  and let you know.

[2022-06-24 21:01] fancyham commented on #12
Had a good discussion about this:

Immediate MVP steps:
- [ ] Design a way to detect(?) and tell non-English-reading visitors about their browser's translate function, and show them how to turn it on for their browser
- [ ] Analytics to measure how many people are visiting and using the translation function now, how many are visiting with their device's default language being something other than

[2022-06-24 21:07] fancyham opened #1246 "FOLA Onboard & Offboarding: UX Design and User Research"
### Overview
This is a checklist of items to do when a designer or researcher onboards and offboards so that the process can be consistent and fast.

We'll use the comments field in this issue as a shared checklist for our onboarding tasks.

### Action Items
- [ ] Check to see if the org template for this process has new steps in it, and if it does, update this issue and its template with content

[2022-06-24 21:10] fancyham commented on #1246
I created a checklist based on https://github.com/hackforla/food-oasis/issues/1156 :)

Adding John
@sei1122 @JohnHaoHuang

New member:
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
- [ ] Write your info on the [Roster](https://docs.google.com/spreadsheets/d/1--JQ5WTLpQcBkSC5wbvQKFZ3Mw8OoHK9ToyXrymVGnM/edit?usp=sharing)
- [ ] Access [Figma Team file](https://www.figma.com/t

[2022-06-24 21:45] fancyham opened #1247 "Feature idea: Search for updated updated organization records"
### Overview
- This is a lower priority than other advanced search terms, but if we get to #947 , this would be a possible addition:

Since we know when an organization's info has been updated or new orgs have been added, it could be a big time saver to indicate or search for items that have been recently updated.

Use cases are:
"I'm an organization that passes on information I find on Food Oasis

[2022-06-24 22:48] fancyham commented on #947
This would be an additional filter: Filter by last updated date
#1247

[2022-06-25 00:43] sei1122 commented on #1246
This is great! Thanks :)

[2022-06-25 23:14] hanapotski opened #1248 "Add typescript to backend app"
## Instructions
- pick files from the controllers, services and routes folders and add your initials to it along with a 🍔/🌭 icon so we'll know which files are currently being worked on
- checkout this [branch](https://github.com/hackforla/food-oasis/pull/1258)
- create a new branch - `1248-add-types-<filename>`
- change the file extensions to `.ts`
- add types
- create a PR pointing to [1248-insta

[2022-06-26 02:04] LIlinit commented on #947
I posted up the Food Oasis link in a couple of the Reddit forums (e.g. "Foodstamps") in which people are in dire need of food assistance and are sharing info . In such a post, I also asked people to share their thoughts right there in the forum with me about the web tool and so far have received this useful one:

[2022-06-26 18:41] devnikesh commented on #1232
**Update:**
- Added Clear Button for quick filtering to default
- Implemented the logic for Clear Button (Few bugs, working on it)

Please let me know if anything needs to be added or updated.

https://user-images.githubusercontent.com/63302392/175829047-cd762bb8-4abd-4f58-bcc5-29b0ec4ebce1.mp4

[2022-06-28 02:34] #949 closed

[2022-06-28 02:55] #1208 closed

[2022-06-28 03:00] entrotech commented on #1208
I did a subsequent PR #1249  to further relax most string validation rules.  Changed State filed to minimum of 2 characters, since US states have a two-character abbreviation. Omitted format validation for phone numbers to prevent user frustration at guessing the acceptable punctuation of the phone number.  This is merged to the development environment for @sei1122 to check out.

[2022-06-28 05:11] GigiUxR opened #1250 "Advisory Contacts"
Store names / contact info of any person who is a potential resource for FOLA

- [ ] Need to locate shared drive document for ongoing contact list to update
- [ ] How do we keep track of our engagement / information received with such contacts?

[2022-06-28 16:54] sei1122 commented on #1208
I just tested it on the development site on desktop, tablet, and mobile.
Looks good to me.

One thing. Organization Name is required filed and currently one string validation. I wonder that is too short?
How about set min 5 characters?

[2022-06-30 21:38] #1203 closed

[2022-06-30 23:35] #1226 closed

[2022-07-01 21:44] GigiUxR opened #1253 "DRAFT: Donor as user"

[2022-07-07 19:59] sei1122 commented on #1131
@entrotech, @fancyham
Here is the final of the Suggested Correction's Flow and Design. I wrote comments on the Figma file.
Let me know if you need anything.

<img width="515" alt="Screen Shot 2022-07-07 at 12 57 21 PM" src="https://user-images.githubusercontent.com/19811032/177861089-6350cc05-115b-4ad6-a53b-ccc4fc6de8db.png">

Figma file
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Desig

[2022-07-08 01:53] fancyham commented on #834
Hi folks, is this currently in progress?

[2022-07-13 01:21] itserindean commented on #1160
Could this be moved to in progress?

[2022-07-13 01:25] itserindean commented on #963
Could this be moved to in progress?

[2022-07-14 03:20] fancyham commented on #1228
We discussed a radio-button UI to keep or clear the checkboxes, and we launched it, and let Jordan know that we've added this new feature.

@entrotech, Rather than have a formal QA/acceptance test from Jordan, perhaps we go ahead and close this issue?  It looks good from the design side of things!

[2022-07-14 03:26] fancyham commented on #1102
Seems to be fixed

[2022-07-14 03:31] fancyham commented on #989
Yes - it works!  The URL given in the issue description won't work but the new deep link URL does seem to work.

The final deep link URL is something like this:
https://foodoasis.la/organizations?latitude=34.0470527045858&longitude=-118.241670138212&org=little_tokyo_towers&id=4877

Someday, it would be nice to specify an org name query in the URL, but I believe that currently, the most important p

[2022-07-14 03:40] fancyham commented on #1127
Would like to see what is being put into the search field — are people adding organization names?  I'd try that if I knew about a pantry.

- #1115
- #1112

[2022-07-14 20:39] itserindean commented on #730
The only action item is completed, what should the status of this be?

[2022-07-14 22:14] sei1122 commented on #1131
Based on last week's meeting, I created 2 design ideas.
1. Use the current dashboard and detail view modal and redesign them.
2. One-page style - this design doesn't use a dashboard.

<img width="552" alt="Screen Shot 2022-07-14 at 3 12 03 PM" src="https://user-images.githubusercontent.com/19811032/179097334-70cc9ca3-9aa6-4022-a4bc-bb4468fdef34.png">

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJb

[2022-07-14 22:21] sei1122 commented on #1131
Last week, we talked about using these 3 states: New, Created, and Rejected. However, when I made a state diagram, I found out we need to have one more status that handles the completion of the states.

Here is the state diagram
<img width="588" alt="Screen Shot 2022-07-14 at 3 20 30 PM" src="https://user-images.githubusercontent.com/19811032/179098179-e127da5c-1edf-42b2-ab92-c09029d26fa6.png">
ht

[2022-07-14 22:38] sei1122 opened #1259 "Change the navigation order"
### Overview
Change the navigation order to

1. Find Food
2. About Us

We use the Find Food UI most so it would be good to start from Find Food navigation.

### Action Items

- [ ] Discuss this update with the team
- [ ] Send to dev team for update.

<img width="1080" alt="Screen Shot 2022-07-14 at 3 28 25 PM" src="https://user-images.githubusercontent.com/19811032/179099836-1713a325-7e72-4e68-81a

[2022-07-14 23:20] lodenrogue commented on #1259
I think this should do the trick: https://github.com/hackforla/food-oasis/pull/1260

[2022-07-15 00:29] sei1122 opened #1261 "Adjust spacing for the Org detail view"
### Overview
Adjust spacing for org's detail view. In the current interface, information grouping is not clear.
Data title H2 has the same margin both top and bottom and it is not clear whether the data belong to the top or bottom title.

### Action Items
- [ ] Create sample design
- [ ] Review the design
- [ ] Development

### Resources/Instructions
Here is suggestions.
<img width="960" alt="Scre

[2022-07-20 19:31] fancyham commented on #1156
Onboard Erin Dean @itserindean

Hi Erin - I’m using a checklist template from above — please check off items that are already complete and ping me for anything that’s missing please

#### Onboard
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ```#fola-reasearch```
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not

[2022-07-21 16:44] sei1122 commented on #1131
Based on the last week's feedback, I updated the cross-functional user flow and the designs.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=4982%3A9019

**Things to consider**
- Is there a good way to check the duplicated org?
- If the admin finds duplicated org but there is new info from a tipster, how admin communicate this to a volunteer? e.g via email or chat?
- S

[2022-07-21 17:45] fancyham commented on #1131
For “If the admin finds duplicated org but there is new info from a tipster, how admin communicate this to a volunteer? e.g via email or chat?”

Perhaps your new ‘suggestions’ flow could be useful for this — basically admin could convert the new listing info into a suggestion (or write a new one):

[2022-07-23 15:49] Nechir-89 commented on #1248
Hi @hanapotski
Please correct me if I'm wrong, by saying "installing typescript"  you mean installing typescript vscode extension, right

[2022-07-23 15:54] hanapotski commented on #1248
@Nechir-89 you can just branch off from this branch https://github.com/hackforla/food-oasis/pull/1258

That branch has typescript installed 👌

[2022-07-23 16:40] Nechir-89 commented on #1248
Thanks for letting me know,
I wasn't able to see the branch in the branch list at first, so here is what I did to see it:
- I ran ($git fetch origin)          // to get all remote branches
- and then ($git checkout 1248-install-typescript) to switch the branch

[2022-07-24 23:12] ExperimentsInHonesty commented on #1156
#### Onboard 2022-07-24 Erin Dean (onboarding retroactively)
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ```#fola-research```
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not hap

[2022-07-25 16:56] sei1122 commented on #1191
UX research is done by @GigiUxR.
Here is Gigi's presentation.
https://stonybrook.voicethread.com/share/20395451/

Next step, based on the research we decide on the design.

[2022-07-25 23:57] staceyrebekahscott commented on #1160
@itserindean As per your comment from 2 weeks ago, I am determining that we can mark this issue as done. I will add comments and close it out.

[2022-07-26 00:00] staceyrebekahscott commented on #1160
Moved listings for PMs to Filled column on Product Open Roles board.

[2022-07-26 00:00] #1160 closed

[2022-07-26 00:14] #904 closed

[2022-07-26 00:26] #1068 closed

[2022-07-26 02:41] staceyrebekahscott commented on #489
@fancyham Bryan- can you give some insight as to why you assigned yourself this issue and moved it into In Progress? I'd like to get a sense of what priority this should have at this time.

[2022-07-26 05:20] fancyham commented on #489
@staceyrebekahscott, I don’t remember!  Looking at the date it might have been to try to find out how to add someone. Anyway,   I unassigned myself just now.

[2022-07-26 22:36] staceyrebekahscott commented on #489
Assigning this issue to myself for now. FOLA needs an update on the HfLA page, the Wiki page, and a few other places. A new issue needs to be planned and I'm keeping this issue open as a reminder for myself to plan it out.

[2022-07-27 00:23] #955 closed

[2022-07-27 00:23] #921 closed

[2022-07-27 00:26] #903 closed

[2022-07-27 00:37] #835 closed

[2022-07-27 00:37] #742 closed

[2022-07-27 00:46] #756 closed

[2022-07-27 00:49] #1146 closed

[2022-07-27 00:52] itserindean commented on #756
I think this issue as described no longer repros. if I misunderstand, please reopen.

[2022-07-27 00:54] #504 closed

[2022-07-27 07:47] staceyrebekahscott commented on #1088
As part of the Impact Sprints initiative, I am tasked with revising the milestones. Assigning this to myself as a reminder to either revise this issue or create a new, more current issue.

[2022-07-27 07:51] staceyrebekahscott commented on #1253
@GigiUxR When reviewing the project board, you created this issue but there is no description. What was the reason you added this to the board, and why is it titled as a Draft?

[2022-07-27 08:11] staceyrebekahscott commented on #1087
@rylantalerico What was your reason for adding this to the In Progress column? There is no one assigned to it.

[2022-07-27 08:15] staceyrebekahscott commented on #1115
@fancyham You had assigned this issue to yourself about 2 weeks ago, but it is in the Prioritized Backlog column. Is this an issue you are actively working on or would like to be working on?

[2022-07-27 08:22] staceyrebekahscott commented on #1119
@itserindean FYI, moved this to In Progress and added myself, Rylan and Yi Min as assignees. Note that I have also assigned myself to issue #1088 as per my conversation with Bonnie asking me to review and revise the milestones to include Impact Sprint goals.

[2022-07-27 19:19] staceyrebekahscott commented on #956
A conversation is happening now regarding the possibility of working with CalFresh as a partner with Food Oasis as part of the Impact Sprints work. This issue as is will likely be closed, but I am assigning it to myself for now as a reminder to expand on the Partnership in a new issue.

[2022-07-28 07:24] fancyham commented on #1115
This is something that I wanted to flag as a priority and to bring back up with the group— for me, this feature is probably on par with adding ‘advanced search’/filters… maybe a little lower priority (but much more technically difficult)It’s very common to search for orgs by name that one is familiar with but we don’t currently support it. It would require some reworking on the programming side bu

[2022-07-28 23:14] sei1122 commented on #1150
Meeting note July 28:
When we finish developing the published date column on the Verification admin table,  We schedule a meeting with Jordan.
We'd like to ask
- How does he think the Auto uncheck confirm feature (this has already been implemented and published)
- What does he think about adding filter options on Criteria Search?

[2022-07-29 04:57] sei1122 commented on #1191
Meeting note July 28:

We decided on these designs.
Desktop: New design with map
Mobile: White background.

Next design meeting, finalize the detail of the design.

[2022-07-29 21:33] staceyrebekahscott commented on #897
@entrotech @rylantalerico Following up on the discussion during the meeting on this issue, is this also similar to issue #379 and if so can these issues be merged?

[2022-07-29 21:57] fancyham opened #1265 "Bug: Hawaii and McKinney landing pages’ background are showing the wrong maps"
#### Describe the bug

hi.foodoasis.net should show a map of the Hawaiian islands in the background.
mckinney.foodoasis.net should show map of McKinney in the background

#### Steps to reproduce the issue

0. As seen on https://github.com/hackforla/food-oasis/wiki
1. Go to the following websites
[la.foodoasis.net](https://la.foodoasis.net/) or [foodoasis.la](https://foodoasis.la/) - Los Angeles Co

[2022-07-29 22:11] staceyrebekahscott commented on #1016
@fancyham Can you provide a breakdown of your status on this issue:
- Current activity?
- Blockers?
- How close to completion?

[2022-07-29 22:15] staceyrebekahscott commented on #1131
@fancyham @sei1122 What are the next actions that should be taken to move this forward, as per the comment above?

- Does this need approval for next steps? If so, it should be moved to the Questions/In Review column
- Does the Dev team need to do work on this?

[2022-07-29 22:19] staceyrebekahscott commented on #1232
@sei1122 As you originally created this issue, based on the work that has been done, what are the next steps needed here?

@devnikesh Has any work been done on this since your last comment on June 26? If so, please detail what has been done.

[2022-07-30 00:20] fancyham commented on #1016
I’m about 90% done — the link above is the latest version.  I hope to complete it in the next week or so.

[2022-07-30 01:44] GigiUxR opened #1266 "Improve consistency of hyperlink behavior on "Donate" page"
Problem:
Buttons on the Donate page are not consistent in its response. For instance,  "Donate" button responds to hover with change in color but the other buttons shown below with arrows do not respond to hovering at all.

Priority:
3 - Nice to have

Heuristics Violated:
 #1 Visibility of system Status

Recommendations:
Make all hyperlinks match the "Donate" button when cursor hovers above them.

[2022-07-30 01:45] GigiUxR commented on #1266
<img width="755" alt="Screen Shot 2022-07-29 at 9 44 58 PM" src="https://user-images.githubusercontent.com/31794055/181865502-81568029-dac1-4a94-a3d1-e1d45584947d.png">

[2022-07-30 02:09] staceyrebekahscott commented on #324
@entrotech What is your assessment of what this work would entail given the current status of the project; as this issue was created in April 2020 and there have been many changes since then, are the Action Items identified in the Overview still applicable?

[2022-07-30 02:17] staceyrebekahscott commented on #1250
Added list above to issue #937 . Closed this issue as it overlaps with #937

[2022-07-30 02:17] #1250 closed

[2022-07-30 02:18] staceyrebekahscott commented on #937
Store names / contact info of any person who is a potential resource for FOLA

- [ ]  Need to locate shared drive document for ongoing contact list to update
- [ ]  How do we keep track of our engagement / information received with such contacts?

The checkboxes above were identified in issue #1250 , which has been closed because it overlaps with the objective of this issue.

[2022-07-30 17:04] sei1122 commented on #1131
@staceyrebekahscott,
Here is an update based on this week's meeting.
This issue has 2 sections.
1. org data correction
(https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5876%3A9657)

<img width="433" alt="Screen Shot 2022-07-30 at 9 59 29 AM" src="https://user-images.githubusercontent.com/19811032/181933939-796ccd71-c24c-457c-b5a7-743394e487f1.png">

2. suggest a new li

[2022-07-30 17:26] sei1122 commented on #1232
@staceyrebekahscott, @devnikesh,
oh, I missed checking that @devnikesh sent.

That looks good. After this goes to the dev environment site. I will test myself again.
@devnikesh, let me when this merged with https://devla.foodoasis.net/

[2022-08-01 03:49] devnikesh commented on #1232
@staceyrebekahscott the visual part is done also the functional, but there are still some bugs. As discussed on meeting currently we are working on adding `typescript to backend`. Probably I will hop on to this after `types` has been added to backend or after this week. @staceyrebekahscott, @sei1122  I will update you if any progress has been made.

[2022-08-01 18:07] staceyrebekahscott commented on #1266
Approved issue, added labels and milestone and moved to the Bugs column for Dev team action.