[2022-08-02 07:27] staceyrebekahscott commented on #1155
Need to review whether this process makes sense or a simplified process should replace it.

[2022-08-02 08:13] staceyrebekahscott commented on #1119
Started spreadsheet to reevaluate labels and milestones: [Labels and Milestones Revised Aug 2022](https://docs.google.com/spreadsheets/d/1CHMUTNB_Y7R--nQ3AGYuRvfbm4nHWr8hDXQ2Xt6QGT4/edit#gid=999295171)

Label review is necessary because there are too many labels to be useful. Reducing # of labels and clarifying their usage will make them more effective, and improve issue workflow.
- not being used

[2022-08-02 08:44] staceyrebekahscott commented on #1088
Determined that this issue details work that is being done in #1119. Due to this redundancy, this issue can be closed.

[2022-08-02 08:44] #1088 closed

[2022-08-02 20:15] staceyrebekahscott commented on #1087
Closing issue #938 - It pertains to reorganizing the Google Drive. As it originated in April 2021, it is outdated and a new issue should be created to match the organizational needs of the new Drive. Upon completion of this issue, we should revisit the need to develop rules on how and where files should live in the new Drive.

[2022-08-02 20:18] staceyrebekahscott commented on #938
As this issue originated in Apr 2021, it is outdated and should be closed. As per comments in issue #1087 , upon completion of that issue we should revisit the need to develop rules on how to manage the nee Drive.

[2022-08-02 20:18] #938 closed

[2022-08-02 20:24] staceyrebekahscott commented on #1087
@fancyham @entrotech What is the current status of files being moved over from the old drive to the new one? Is there any progress notes or doc that was tracking if all of the files have been moved or how much more there is to do?

The internship was working on this and has a process built for how to best get this completed, but I'd like to get a sense of where this is currently before we can star

[2022-08-02 20:42] staceyrebekahscott commented on #1143
@rylantalerico @GigiUxR A reminder to add notes to this issue explaining the Research Project you launched in the fola Slack channel.

Is it possible to explain this issue and the work being done in the context of the other issues listed as related or as dependencies:

- Original issue is #320
- Dependencies are #1142 , #1141 , #1148

I moved all of the issues listed above to Prioritized Backlog a

[2022-08-02 23:01] staceyrebekahscott commented on #1242
@entrotech @Nechir-89 I see a PR in progress. What is the priority on this and when can we expect this to be resolved so we can close this issue?

[2022-08-03 00:26] staceyrebekahscott commented on #730
@entrotech @JohnHaoHuang I see there was a PR associated with this issue. Is there a reason for this issue to still be open or can we close it out?

[2022-08-03 00:27] fancyham commented on #730
I believe @JohnHaoHuang is working on this. We’ve been reviewing screens he’s been working on and it’s getting close.

Currently looking at a ‘flatter’ flow that doesn’t use a toast that we think feels better and should be easy to implement.

JHH, could you post a screenshot of what you’ve got so far so the programmers and PMs can get an in-progress snapshot?

[2022-08-03 00:31] fancyham commented on #684
How is this looking?  We have deep linking now which I think was a huge component of this.

Do we now have a share button?  Where does it live?

The browser share button, I think, works now, but that wouldn’t work for embedded FOLA (I think)

Perhaps we need a “share” or “copy url” button on each listing so that we support this function on embedded maps?

[2022-08-03 00:50] staceyrebekahscott commented on #1183
This is identified as a bug in the title of the issue, so I am moving it to the Bugs column for immediate review.

[2022-08-03 01:51] staceyrebekahscott commented on #963
This issue is outdated, links go to old Drive/ Access Denied message. It may pertain to work being done as part of the Impact Sprints, as figuring out ways to make it easier for orgs to update their own listings has been discussed. Will create a new issue with Impact Sprints label to address this if that objective is going to be addressed.

[2022-08-03 01:59] #963 closed

[2022-08-03 02:03] staceyrebekahscott commented on #1120
Moved to Icebox, as this is a "nice to have" and issues with more priority should be addressed and completed before this is considered.

[2022-08-03 02:26] staceyrebekahscott commented on #679
Re-closing this issue as all associated PRs appear to be resolved and closed.

[2022-08-03 02:26] #679 closed

[2022-08-03 02:31] staceyrebekahscott commented on #368
@entrotech Moving to Questions/ In Review column. Links in Overview section go to old Drive/ Access Denied. Should this issue be revised and addressed, or is the original reason for the issue become outdated and issue can be closed?

[2022-08-03 02:36] staceyrebekahscott commented on #920
@rylantalerico I think this issue is redundant to the work you and Gigi are doing with the Research Project and #1143. If so, I recommend this issue be noted and closed. Can you take a look and advise?

[2022-08-03 02:45] staceyrebekahscott commented on #964
Moving to Icebox. This could be part of Impact Sprints long term goals, and may have a connection to work with Partners.

[2022-08-03 02:48] staceyrebekahscott commented on #1205
Moved to Bugs Column, as the milestone identified is Bug Fixes.

[2022-08-03 03:18] staceyrebekahscott commented on #912
Moved to Icebox as API work should be considered as part of a long term goal for Food Oasis.

[2022-08-03 03:19] staceyrebekahscott commented on #326
Moved to Icebox, as API work should be considered as a long term goal of Food Oasis.

[2022-08-03 03:22] staceyrebekahscott commented on #324
Adding to Questions/ In Review as I believe Security should be prioritized. But work needs to be reassessed and new issue created, as the original proposed tasks may be stale and not applicable to the current environment.

[2022-08-03 03:45] staceyrebekahscott commented on #1245
Found in Issues list but had not been added to the project for proper triage. Overview identifies this as a bug, so I triaged accordingly and added to Bugs column.

[2022-08-03 03:53] staceyrebekahscott commented on #1155
- Moved several issues to Bugs and Questions/ In Review.
  - Sent @ messages asking questions, to be resolved or reprioritized during team meeting or before if possible.
- Reviewed and Reprioritized issues.
- Started identifying existing issues that might be considered part of Impact Sprints.
- Created Label "Impact Sprints" and added it to issues.
- Closed outdated and resolved issues that had no

[2022-08-03 04:12] staceyrebekahscott opened #1269 "Submit updated Food Oasis project details to Hack for LA Website Team"
### Overview
Details about the Food Oasis project on the HfLA website needs to be updated to reflect current team, links and Overview details.

### Action Items
- [x] Verify details in Overview
  - [x] Status
  - [x] Partners
  - [x] Location
  - [x] Tools
  - [x] Languages
  - [x] Technologies
  - [x] Meetings
  - [x] Project descriptions
- [x] Verify Resources are relevant and links work properl

[2022-08-03 04:15] staceyrebekahscott commented on #1269
Currently assigned to myself, but will pass along to Gordon Ruby once it is confirmed he is has been added to the Food Oasis repository.

[2022-08-03 04:18] staceyrebekahscott commented on #489
Created issue #1269 to address HfLA website update.

[2022-08-03 04:18] #489 closed

[2022-08-03 04:36] staceyrebekahscott commented on #748
Moved to Questions/ In Review as performance assessment should be prioritized, but would like a fresh opinion on the process and tools to accomplish this.

[2022-08-03 13:17] itserindean commented on #1156
#### Onboard -- Gordon Ruby 8/3/22
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ~```#fola-research```~ does not exist
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, w

[2022-08-03 13:27] itserindean commented on #1156
#### Onboard Rylan Talerico
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ~```#fola-research```~ does not exist
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, will hap

[2022-08-03 13:27] itserindean commented on #1156
#### Onboard Stacey Rebekah Scott 8-3-22
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ~```#fola-research```~ does not exist
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happen

[2022-08-03 13:29] itserindean commented on #1156
#### Onboard Yi Min Ng 8-3-22
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ~```#fola-research```~ does not exist
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, will h

[2022-08-03 16:47] Nechir-89 commented on #1242
Well, thanks for commenting, I'm really close to have this done and I'm planning to have it done on tomorrow (Thursday, Aug 04).

[2022-08-03 17:03] staceyrebekahscott commented on #1242
As per the update, I am moving the issue back to In Progress until it needs further review.

[2022-08-04 00:02] fancyham commented on #1087
I don’t have the current status — perhaps someone or the intern can run a diff to compare the two hierarchies of folders and files?

I do recall that lots of files went missing in early 2021 — files on the shared folder were yanked from the shared folder and returned to the owners, and any one needing to access those files via their links (which stayed the same) had to request access from the orig

[2022-08-04 00:14] fancyham commented on #1183
It looks like this may be a “focus” issue — the text entry focus is defaults to the email field (which is at the bottom), rather than starting in the organization field (which is the top field).

You can tell because when loading the page, the text entry cursor is in the email field.

[2022-08-04 04:29] fancyham commented on #1202
This seems related to these deep-linking issues:
- #684
- #989

The idea is to let the user copy the URL from the browser, text it to a friend, and their friend can see exactly what the user sees.

The URL should recreate the app state.

I think the main new feature here is that the URL in the browser URL field would ideally automatically update as the user navigates around.

This feature would al

[2022-08-04 16:37] JohnHaoHuang commented on #730
@fancyham @staceyrebekahscott @entrotech Here is the latest design update for this issue. Please review and let me if there are any concerns. Thank you.

**Figma File**
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2943%3A7813

**Screenshots for the latest update**
<img width="1032" alt="Screen Shot 2022-08-04 at 9 25 56 AM" src="https://user-images.githubusercontent

[2022-08-04 22:28] staceyrebekahscott commented on #871
Issue is 18 months old. Moving to Icebox for later priority assessment. May need to be closed as Stale and rewritten.

[2022-08-04 22:35] entrotech commented on #1191
There is already a development issue for this #1223, we just need to update it once the design team finalizes the wording and designs for this issue.

[2022-08-04 22:39] entrotech commented on #1183
This was addressed by Issue #1208

[2022-08-04 22:39] #1183 closed

[2022-08-04 23:46] entrotech commented on #1245
Modifed the DNS record in AWS Route 53 for www.foodoasis.net.  This seemed to fix, though I was not able to figure out how to change the A record for the apex domain foodoasis.net.

[2022-08-04 23:46] #1245 closed

[2022-08-04 23:56] entrotech opened #1271 "Add Suggestions Count column to Verification Admin grid"
### Overview
The idea is to add a column to the Verification Admin grid that shows how many pending suggestions are associated with each listing.

### Action Items
- [ ] Add this count to the Stakeholder Select query service
- [ ] Display on the Verification Admin grid.

### Resources/Instructions
See https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=5876%3A9657, screens

[2022-08-04 23:57] entrotech commented on #1271
Needs approval from @rylantalerico before proceeding

[2022-08-05 00:04] entrotech opened #1272 "Display pending Corrections on the Organization Edit form"
### Dependency
- #1273

### Overview
We need to have the pending suggestions show up on the top of the organization edit form, so that we know to process that and resolve those when we are revalidating a listing.

#### Details
Pending suggestions should appear on the Organization Edit form above the tab frame as shown in Mockup B

Screen Mockup B
![Image](https://github.com/user-attachments/assets

[2022-08-05 00:10] entrotech opened #1273 "Add Suggestion History Tab to Organization Edit Form"
### Overview
Add Suggestion History Tab to Organization Edit Form. This will include all suggestions made prior to the last approval. (Newer suggestions will appear above the tab frame on the same form.)

### Action Items
- [ ] Use the modified StakeholderGetByIdservice endpoint from Issue #1272
- [ ] Create a new tab to display the suggestions prior to the last approval.
- [ ] Are notes and statu

[2022-08-05 00:11] entrotech commented on #1273
Needs approval from @rylantalerico

[2022-08-05 00:14] entrotech commented on #1131
For corrections to existing listings, created development Issue #1271, #1272, #1273

[2022-08-05 01:22] itserindean commented on #1245
PM agrees this looks fixed on my devices

[2022-08-05 01:50] fancyham commented on #1191
@sei1122 and @GigiUxR — any thoughts?

[2022-08-05 01:56] fancyham commented on #1191
@itserindean : says that 'Search' doesn't quite match our functionality, but Locate (what we use now) does.

Gigi may do some competitive analysis to see what other folks do if time allows.

Consensus from everyone weekly meeting:
Let's stick with existing wording "Locate free food in Los Angeles" (or Hawaii, McKinney, etc.) for now and it's easy to change later if new data comes in.

[2022-08-05 02:12] fancyham commented on #1245
Looks good and foodoasis.net and la.foodoasis.net now show the current site with the map of LA in the background, as expected.

So passes QA 👍

Thanks for fixing!

[2022-08-05 02:18] fancyham commented on #1265
These work properly (checked the dev site only — public sites are still currently wrong) — thanks for fixing them.
https://devhi.foodoasis.net
https://devmckinney.foodoasis.net

This one don't have the right map — I don't think we ever created them, though.
So better question is should these be on the wiki page (https://github.com/hackforla/food-oasis/wiki)?
https://devca.foodoasis.net
https://dev

[2022-08-05 03:14] fancyham commented on #1139
?? question — How important are these to the administrator or database users? (so we can prioritize)

[2022-08-05 03:17] staceyrebekahscott commented on #996
Issue #1131 must be completed before work can continue on this issue.

[2022-08-05 03:52] staceyrebekahscott commented on #730
@fancyham @sei1122 A reminder to add notes from UI meeting tonight as to next steps for John.

Moving issue back to In Progress.

[2022-08-05 04:11] staceyrebekahscott commented on #996
Moved to Icebox as per my chat with Bryan. This fits into a medium to long term milestone.

[2022-08-05 08:00] sei1122 commented on #1191
This is the final design
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6216%3A10697
<img width="758" alt="Screen Shot 2022-08-05 at 12 59 38 AM" src="https://user-images.githubusercontent.com/19811032/183030842-d4f7973c-0bc8-44f2-9e30-9fffd3ae8fa6.png">

[2022-08-05 13:49] Nechir-89 commented on #1242
All changes have been added to Pull request #1257 and now it just needs a review and approval.
@entrotech @staceyrebekahscott @hanapotski

[2022-08-06 17:05] itserindean opened #1274 "Finalize text for recruiting designers and researchers and post ad"
### Overview
We need to recruit more designers and researchers to keep up with the 5 new PMs on our team. We need an ad on github so people in the H4LA onboarding funnel make it to us.

### Action Items

- [x]  find similar items from the past from our team even if a for a different discipline
- [x] find similar items from the past for same discipline even if from a different team
- [x] write init

[2022-08-06 17:08] itserindean commented on #1274
examples of posts from our team:
Could only find posts for PM
![image](https://user-images.githubusercontent.com/37763229/162998736-844482ea-4e3a-4e83-a704-5d8588b7fd4b.png)

**Project Name**: Food Oasis LA

**Volunteer Opportunity**: We are looking for Product Managers with experience and/or connections in the Food Rescue Ecosystem. As a PM you'd be working on targeting organizations to embed our

[2022-08-06 17:13] itserindean commented on #1274
![image](https://user-images.githubusercontent.com/37763229/162992303-b0fae60e-1886-45ce-93c1-d1a27a909327.png)

**Project Name**: Hack for LA Website

**Volunteer Opportunity**:
We are looking for designers to join our current team. Here you'll have the opportunity to work on the [hackforla.org](https://www.hackforla.org/) site, designing solutions that support both the needs of our users and the

[2022-08-06 17:14] itserindean commented on #1274
Example of researcher role description:
------
UX Researcher
This team member plays a critical role in the design process. They are responsible for providing answers to challenging and often unexplored questions about a product’s design. In order to do this, they will conduct research, collaborate with cross-functional teams, and assist the entire user experience team in ensuring that the consumer

[2022-08-06 19:09] fancyham commented on #730
Made some suggestions for wording on password reset link confirmation page

[2022-08-08 01:10] itserindean commented on #1274
Inital Draft text
---------
![image](https://user-images.githubusercontent.com/37763229/162998736-844482ea-4e3a-4e83-a704-5d8588b7fd4b.png)

**Project Name**: Food Oasis LA

**Volunteer Opportunity**: We are looking for a UI/UX researcher who can collaboratively work with stakeholders and conduct surveys and interviews for our initiatives.

**Duration**: ongoing  (~6 hrs week)

**Weekly Meeting**:

[2022-08-08 16:02] sei1122 commented on #1274
- Design Team meeting - Thursdays 7:00pm - 7:30pm Pacific time  ---> yes this is ongoing
- Slack name of person to contact in the channel: John Darragh (should we direct it to an active Designer-- Bryan?) ---> candidate contact to Bryan or me.

[2022-08-08 17:20] sei1122 commented on #327
@entrotech, @fancyham, @staceyrebekahscott
We can close this issue since we have
- Send Correction
- Suggest a New Listing (https://www.foodoasis.la/suggestion)

<img width="597" alt="Screen Shot 2022-08-08 at 10 17 43 AM" src="https://user-images.githubusercontent.com/19811032/183475811-e33def65-48c2-46d8-a1a0-e3247027b5b4.png">
<img width="926" alt="Screen Shot 2022-08-08 at 10 18 42 AM" src="ht

[2022-08-08 22:33] staceyrebekahscott commented on #1090
Moved to Icebox. Determined this is a "nice to have" feature but not a priority now.

[2022-08-08 22:44] staceyrebekahscott commented on #1144
Website Analytics needs to be made a priority as we are moving towards adding Food Oasis on more websites. Making this a goal of the Impact Sprints and moving to Prioritized Backlog.

[2022-08-08 23:05] staceyrebekahscott commented on #1127
@itserindean FYI, I am marking this as a priority of the Impact Sprints and have added the proper label, and marked the milestone as Project Organization (this might change). Note that I also moved #1144 , which was in Icebox and is related to this issue, as per the Tracked In marker at the top, to the Prioritized Backlog. Just wanted to bring that to your attention as you start work on this issue

[2022-08-08 23:13] entrotech commented on #1223
@GigiUxR Can you review this in devla.foodoasis.net and see if it has everything  you wanted?

[2022-08-08 23:13] staceyrebekahscott commented on #956
@itserindean FYI, another issue that mentions analytics. The discussion around CalFresh and the Impact Sprints is slightly different from just finding out analytics, so I'll loop you in once I have a clearer idea how we are going to partner with them. The partnership might start with a conversation about analytics, as per the Overview, but I need a bit more time to sort out the specifics.

[2022-08-08 23:17] staceyrebekahscott commented on #1119
Selected milestones for all issues in In Progress and most in Prioritized Backlog. The ones not properly marked are Dev and I am not sure how they will fit into the new milestones. And the current milestones are subject to change, but they are the matched to the most relevant of the current milestones in Github.

[2022-08-09 00:01] sei1122 commented on #1223
I tested on laptops, tablets, and mobile.
Overall looks good.

I have one suggestion about the hover state.
- hover button color: change to #0A3865 (This color is used in other buttons)
- hover link color: #31C658 (this green is better contrast)

Here is example
<img width="905" alt="Screen Shot 2022-08-08 at 5 00 24 PM" src="https://user-images.githubusercontent.com/19811032/183534497-db7d8bee-06

[2022-08-09 16:15] itserindean commented on #1156
#### Offboard Benjamin Baillou 8/9/22

- [ ] Remove from Google calendar invite
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, will happen in future
   - [ ] [Thursday at 6pm PT - All-team meeting]
   - [ ] [DAY - Design team meeting] - currently not happening, will ha

[2022-08-09 18:35] fancyham commented on #947
- This is related to this unresolved but closed issue: #62

[2022-08-09 19:00] itserindean commented on #947
Prioritizing the following user stories:
_Which are we tracking this? (if not how easy would it be?)_

**MVP**
1. Open to all? (this should be designed so that we could add to the criteria in the future)
-not tagged as ID required?
-not tagged as address required?
-not tagged as age restrictions?
-not tagged as appointment required
-not tagged as required bible study?
-not tagged as for shelter re

[2022-08-09 19:15] itserindean commented on #947
For dev: which of these are we tracking in the database?

- [ ] is it open to everyone?
- [ ] is ID required?
- [ ] is home address required?
- [ ] are there age restrictions?
- [ ] is an appointment required
- [ ] is there a required bible study?
- [ ] is it for shelter residents only?
- [ ] days a place is open
- [ ]  hours a place is open
- [ ] Open Now?
- [ ] Do they speak Spanish?
- which lan

[2022-08-09 21:12] entrotech commented on #947
Issue #62 was apparently implemented on the legacy version of the application in 2017, two years before the rewrite.

[2022-08-09 21:59] fancyham commented on #1274
@itserindean Both research and designer looks good!

For researcher candidates, they can reach out to me — (@GigiUxR let us know if you'd like to be an alternative contact, also)

[2022-08-09 22:19] entrotech commented on #947
Keep in mind that there is a huge cost in trying to collect extremely detailed information about pantry and meal program offerings and other details. To put this in context, almost all other pantry and meal program listing sites only include name, address, web site, phone number and sometimes hours and a small text description, and will simply say "call ahead to verify this information".

E: Many

[2022-08-09 22:29] entrotech commented on #1250
@staceyrebekahscott @GigiUxR @rylantalerico

In [this folder](https://drive.google.com/drive/folders/1uFhAwa8dMbAT4jCwIefjKSEofBk54ho5) there is a spreadsheet called "Outreach Tracking" that has a partial listing of contacts.

The same folder has a link to a deleted document that was much more comprehensive called "Food Oasis networking". This was what Jenny used to maintain that had many more con

[2022-08-10 01:18] fancyham commented on #947
Thanks for the detailed response!  Glad to see hours and days is possible.  That one seems to be in high demand and a hefty design problem that we can get started on right away.

We’ll have to evaluate how important the rest are for the future — effort vs effect, perhaps with some user research.

Some of my thoughts for documentation’s sake:

Re: eligibility
Age, veteran, residency, mailing addres

[2022-08-10 05:14] itserindean commented on #947
Thanks for all the insight @entrotech!

re: hours/days
I agree it's great that's currently possible!

re: delivery
 @fancyham I think there may have been a slight miscommunication as I was trying to convey that LA is _well-covered_ by public transit (not always particularly convenient routes point to point but you're never very far from a bus stop.)
My initial thought is that delivery/meals on whe

[2022-08-10 16:12] itserindean commented on #1274
from @GigiUxR on slack
[Gigi P]I won't be in front of my computer for awhile. It's easier for me to answer here for now. For UX researcher, they will be helping with user flow maps, guerilla style research, competitive analysis, usability studies, and benchmarking
Someone with a research background is ideal

[2022-08-10 21:51] staceyrebekahscott commented on #1265
@entrotech Reopened issue, as I just checked the Hawai'i public site: https://hi.foodoasis.net/, and the TX public site: https://mckinney.foodoasis.net/. The CA map still shows as the background image.

[2022-08-10 23:19] itserindean opened #1278 "Remove one of duplicate similar icons"
Problem:
The two similar icons on the same area are kind of distracting.

Severity 1 - Cosmetic problem only: need not be fixed unless extra time is available on project

Heuristics Violated:
8:  Aesthetic and minimalist design

Recommendations:
It would be good to delete one of these icons.

### Action Items

- [ ] Design team proposes which should be removed
- [ ] Design mocks up how it would lo

[2022-08-10 23:21] itserindean opened #1279 "there are many "optional" fields in send correction UI"
Problem:
In the send correction UI on both Desktop & Mobile Sites there are many "optional" fields (Name, Phone, Email).
![Screen Shot 2022-08-10 at 11 05 04 AM](https://user-images.githubusercontent.com/107142453/183984944-e55ca2ca-1164-4215-8a79-a21c2f424b3d.png)

Step to repro:
goto foodoasis.la
goto map view by entering an address or using current location
Click on "details" for any listing
Cl

[2022-08-10 23:23] itserindean commented on #1279
I created this with sevrity 1, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
0 = I don’t agree that this is a usability problem at all

I think we want the barrier to submitting corrections to be very low--hence only correction is required, but if the submitter wants t

[2022-08-10 23:26] itserindean opened #1280 ""Your Phone" field allows users to type in any characters other than numbers"
Problem:
"Your Phone" field allows users to type in any characters other than numbers and "-" or ".". It means it doesn't let users know when they accidentally put wrong or unnecessary information.
![Screen Shot 2022-08-10 at 12 18 05 PM](https://user-images.githubusercontent.com/107142453/184002226-216056f1-75a1-447d-9a9a-f89de6bda2d6.png)

Step to repro:
goto foodoasis.la
goto map view by enteri

[2022-08-10 23:27] itserindean commented on #1280
I created this with severity 1, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
0 = I don’t agree that this is a usability problem at all

I don't think this will practically help users catch errors who are legitimately trying to enter a phone number. My guess is that mo

[2022-08-10 23:28] itserindean opened #1281 "Update FAQs content"
### Problem:
No FAQs content for
-  food seekers,
- partners who want to embed our site
- social workers who want to help clients
- food pantry site that wants to add themselves to database

also
- FAQ for volunteers doesn't cover what the volunteer work is
- FAQ for donors does't cover where to donate/who you're donating to/that it's about financial donations not food donations.
- our glossary do

[2022-08-10 23:29] itserindean commented on #1281
I created this with severity 1, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
2- Minor usability problem: fixing this should be given low priority

I think we should have FAQ addressing questions for the primary users of our site (which i'm assuming is foodseekers.)

[2022-08-10 23:32] itserindean opened #1282 ""Food Pantry" category is not really visible as it is located at the bottom of the address area. I"
Problem:
"Food Pantry" category is not really visible as it is located at the bottom of the address area. It could be moved to the top as this category is one of the key information that users want to see.

![Screen Shot 2022-08-10 at 12 35 08 PM](https://user-images.githubusercontent.com/107142453/184004721-e2fd2327-9787-422b-b5d7-6e3ff1b2942f.png)

Step to repro:
goto foodoasis.la
goto map view

[2022-08-10 23:36] itserindean commented on #1282
I created this with severity 1, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
0 = I don’t agree that this is a usability problem at all

The food pantry label does show up at the top of the listing in the list of results which I think it's more useful when distinguishi

[2022-08-10 23:41] itserindean opened #1283 "Fields in "Send Correction" should have input constraints"
Problem:
All the fields in the "Send Correction" do not have input constraints. Input constraints help both organizations and users as it prevents organizations from reading an extremely long message and users from spending long time writing a long message.

![Screen Shot 2022-08-10 at 12 42 47 PM](https://user-images.githubusercontent.com/107142453/184006012-789da3d2-8642-4f1c-b6d8-c7dd06d33b8e.p

[2022-08-10 23:42] itserindean commented on #1283
I created this with severity 2, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
0 = I don’t agree that this is a usability problem at all

Do we have any evidence this is a real problem for organizations? As  a user on other sites I"ve ben frustrated when trying to provi

[2022-08-10 23:44] itserindean opened #1284 "Blue color for just one word in the About heading makes it seem like a hyperlink but it is not."
Problem:
“ABOUT…” The blue color for just one word in the heading makes it seem like a hyperlink but it is not. Mobile & Desktop.

![Screen Shot 2022-08-10 at 12 53 11 PM](https://user-images.githubusercontent.com/107142453/184008033-6291d3dc-949d-4f92-99eb-d2fc591e9ab3.png)

Step to repro:
goto foodoasis.la
click on hamburger menu
Click on "About"

Severity 2- Minor usability problem: fixing this

[2022-08-10 23:53] itserindean opened #1285 "Headers on FAQ/About/Donate are smaller than the subheaders"
Problem:
Headers on FAQ/About/Donate are confusing because the overarching header "About Food Oasis LA" "Donate" FAQs" are smaller than the subheaders lower on the page.
![Screen Shot 2022-08-10 at 4 52 05 PM](https://user-images.githubusercontent.com/107142453/184042305-34cd7d24-fe4c-424a-b9c4-f9affb8deba8.png)
![Screen Shot 2022-08-10 at 4 51 32 PM](https://user-images.githubusercontent.com/1071

[2022-08-11 00:19] sei1122 commented on #1279
The issue is related.
https://github.com/hackforla/food-oasis/issues/1242

We talked to @entrotech and set the requirement to Correction and the rest is optional. As @itserindean mentioned above, we wanted submission to be the minimum possible.

I think we can close this issue.

[2022-08-11 00:30] sei1122 commented on #1282
We discussed the team and we decided to remove the icon because it isn't useful.
You can see the updated version at
https://devla.foodoasis.net/

Next release and it should be updated.

<img width="472" alt="Screen Shot 2022-08-10 at 5 26 31 PM" src="https://user-images.githubusercontent.com/19811032/184045165-f56e98d3-a71c-4d04-8ef9-e252a67eebb0.png">

I think this issue can be closed.

[2022-08-11 00:49] itserindean commented on #1285
I created this with severity 2, as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5ecVQhOBAPNFvzOyySSeJFNtJ34Bx6Ti2cnLma0/edit#gid=0)
but I think the severity should be:
 1 - Cosmetic problem only: need not be fixed unless extra time is available on project

I agree this isn't ideal but I'm not sure it's actually confusing anyone. Also these pages are not the

[2022-08-11 01:05] itserindean opened #1286 "Blue headers on FAQ/About/Donate erroneously suggest they are hyperlinks"
Problem:
Headers on FAQ/About/Donate are confusing because blue color suggests they are hyperlinks which they are not

![Screen Shot 2022-08-10 at 5 53 31 PM](https://user-images.githubusercontent.com/107142453/184047583-1ee47a69-3286-402c-b164-f415f9e95e27.png)

Step to repro:
goto foodoasis.la
click on hamburger menu
Click on "About" or "FAQ" or "Donate"

Severity 1 - Cosmetic problem only: need

[2022-08-11 01:13] itserindean opened #1287 "There should be "(Currently) Closed" and "Open Soon" tags in addition to "Open Now" & "Closing in xx minutes","
Problem:
There are tags "Open Now", "Closing in xx minutes", and "Temporarily Closed", but not "(Currently) Closed" and "Open Soon".
![Screen Shot 2022-08-10 at 3 56 46 PM](https://user-images.githubusercontent.com/107142453/184037528-98bc9379-7ab9-4a5c-a193-f88ae26a907d.png)

Severity 2- Minor usability problem: fixing this should be given low priority

Heuristics Violated:
2 Match between system

[2022-08-11 02:05] fancyham commented on #1090
This is actually a pretty important one for food seekers, especially those without cars.

[2022-08-11 02:07] sei1122 commented on #1278
We discussed the team and we decided to remove the icon because it isn't useful.
You can see the updated version at
https://devla.foodoasis.net/

Next release and it should be updated.

<img width="472" alt="Screen Shot 2022-08-10 at 5 26 31 PM" src="https://user-images.githubusercontent.com/19811032/184045165-f56e98d3-a71c-4d04-8ef9-e252a67eebb0.png">

I think we can close this issue

[2022-08-11 02:07] fancyham commented on #1090
Icebox might be the right place but this probably comes after “filters for days/hours open” and language in importance for many folks. I’ve added it to the Food Seeker UI 2.0 to try to keep it on our radar. It might end up in 3.0 or elsewhere.

[2022-08-11 03:53] yiminng opened #1288 "FAQ needs easy way to contact FOLA if question not answered"
### Problem:
Both Desktop and Mobile Sites
If I cannot find the answer to my question on the FAQs page, I would expect to find the contact information for further inquiries to appear close by. However, I have to look through the page to realize there is no contact information and then hunt for it on another page (currently it is in the "[About Us](https://foodoasis.la/about)" page )

Steps to repr

[2022-08-11 04:30] yiminng opened #1289 "Footer of Main Site"
### Overview
1. Both Desktop and Mobile Sites
“Food Oasis” in the footer indicates clickable text when hovering above it by responding with a lighter shade of green. But it is not.

![Screen Shot 2022-08-10 at 9 18 39 PM](https://user-images.githubusercontent.com/109191409/184064132-46c13576-fa53-42bd-8a26-93c3707d8aa5.png)

2. Do we need a footer? - Currently the hamburger bar disappears after sc

[2022-08-11 04:31] yiminng commented on #1289
I think this can be a Level 1 = Cosmetic problem only: need not be fixed unless extra time is available on project as it currently does not affect how users mainly use the app.

[2022-08-11 04:53] itserindean commented on #1278
duplicate of #1153

[2022-08-11 04:53] #1278 closed

[2022-08-11 05:06] yiminng opened #1290 "Visual changes to indicate hyperlinks in "About Us" and "FAQ""
### Overview
Hyperlinks in About and FAQ page does not change colour when hovering over hence not conveying that they are links that can be clicked on.

Steps to repro:
goto foodoasis.la
goto FAQs - For Volunteers
goto About Us - Our Team

Heuristics Violated:
#1 Visibility of system status

Severity Level 2 as described in [the heuristics spreadsheet](https://docs.google.com/spreadsheets/d/1UCoj5

[2022-08-11 05:08] yiminng commented on #1290
1. I think it can be Severity Level 1 = Cosmetic problem only: need not be fixed unless extra time is available on project as it is currently underlined (indicating it is something different than regular text)
2. Adding PM Volunteers as it pertains to volunteer information in static page

[2022-08-11 21:17] rylantalerico commented on #1150
@entrotech Ready for dev tasks!

[2022-08-11 23:00] entrotech commented on #1280
We had to create the phone number field as free-form entry, because some of the existing data had other information crammed into the phone field. For example, it might have something like `(310) 901-5994 (ask for Martha)` or `(310) 901-5944 (mobile)`. In some cases there were multiple phone numbers in the single field.

[2022-08-11 23:04] entrotech commented on #1283
Can anyone describe what kind of constraint would be at all helpful? About all you can do with a single-field free-form text entry is put a minimum and/or maximum number of characters constraint, which strikes me as pretty arbitrary and not helpful.

[2022-08-11 23:44] sei1122 commented on #1131
Here is a note about how to do
**Suggest a new listing**

I asked @entrotech about which he thinks better.
1. Design all the features and send them to development.
2. Make a happy path/MVP first and add features later.

Here is from John
I'd say the first step is to get @rylantalerico involved in reviewing the proposed flow.  After that, in the spirit of agile development, I think we could create

[2022-08-12 03:38] JohnHaoHuang commented on #730
@entrotech Here is the latest design update for this issue. Please review and let me know if there are any concerns or questions. I will also be participating in the development meeting on Monday August 15. Thank you.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2943%3A7813

<img width="785" alt="Screen Shot 2022-08-11 at 8 14 20 PM" src="https://user-images.github

[2022-08-12 19:58] #1126 closed

[2022-08-12 20:06] staceyrebekahscott commented on #947
@JohnHaoHuang As per the chat in the fola Slack channel, assigning this to you and moved it into In Progress.

[2022-08-12 20:10] staceyrebekahscott commented on #996
@sei1122 Assigned to you as per the conversation in the fola Slack channel, and the reprioritization as as per @rylantalerico

[2022-08-12 20:16] staceyrebekahscott commented on #1204
@sei1122 Can you review this issue and its updates and reassess the priority for me in your opinion? If it is impacting your ability to design more efficiently should this be made more of a priority, or can it be closed if the current system is working well enough for most people on the team?

[2022-08-12 20:26] staceyrebekahscott commented on #917
Closing this issue as not planned, as it includes outdated links. But it is relevant to #991 so I am adding current logos to the scope of that issue.

[2022-08-12 20:26] #917 closed

[2022-08-12 20:30] staceyrebekahscott commented on #991
Updated issue title and included current versions of the logo as part of the scope.

[2022-08-12 20:50] sei1122 commented on #1204
If we have 4 designers on our team, I'd like to do it because more people are affected to create for design, and nice to have the standard. If not, we can wait.

[2022-08-12 21:23] staceyrebekahscott commented on #1204
@sei1122 OK. Thanks for your assessment. I'll leave the issue where it is for now and once we have more designers we can move this up in priority.

[2022-08-13 01:58] staceyrebekahscott commented on #1288
@sei1122 @fancyham How difficult is it to make changes to the text on the website? And am I assessing the time accurately when I label this as Size: 2pt?

[2022-08-13 02:00] staceyrebekahscott commented on #1288
Moving this to Prioritized Backlog as Heuristics is a metric I have made a priority for the Impact Sprints 2022.

[2022-08-13 02:04] staceyrebekahscott commented on #905
@rylantalerico I am moving this into the Prioritized Backlog and labeling it as an issue I would like to be addressed as part of the Impact Sprints. Is this something you can work to address within the next 2 weeks?

[2022-08-13 02:12] staceyrebekahscott commented on #328
@entrotech @rylantalerico This issue is now more than 2 years old. What is the current assessment of this in terms of priority, how critical is it in the data validation workflow, and how long will it take to implement?

I want to make anything to do with the data validation to be a priority for the Impact Sprints 2022, but because of the age of this issue with no work having been done on it, I th

[2022-08-13 02:35] sei1122 commented on #1288
Changing text is not hard.
But do we have Food Oasis email and does anyone check regularly?

[2022-08-13 02:59] staceyrebekahscott commented on #1253
Moving to Icebox as we need to assess if this is a critical metric for Food Oasis, and given current priorities of the Impact Sprints 2022, this should be reevaluated after October when the sprints are completed.

[2022-08-13 03:02] staceyrebekahscott commented on #1154
Moving to Icebox, to be reassessed after October when the Impact Sprints 2022 are complete.

[2022-08-13 03:06] staceyrebekahscott commented on #1269
@yiminng Would you be able to work on this issue as part of general PM project organization work? You will need to work with someone on the HfLA website team to follow the proper process. And it would be worth it to have the process documented in our Drive for future updates.

[2022-08-13 03:10] staceyrebekahscott commented on #1096
@entrotech @fancyham Moving this to the Icebox. No movement has been made on this since the issue was created in Nov 2021. Has this been identified as a major issue for the Devs?

[2022-08-13 03:14] staceyrebekahscott commented on #1045
@entrotech Checking in on the priority of this issue as it was opened in Oct 2021 and no movement has been made. Given the size of the issue, and current priorities discussed at the last team meeting, can this be moved to the Icebox for reassessment after the Impact Sprints?

[2022-08-13 03:18] staceyrebekahscott commented on #1239
Sent John a question on combining this issue with #1045 and reassessing priority.

[2022-08-13 03:20] staceyrebekahscott commented on #1238
@entrotech Same questions here as I asked in #1045 re: priority of this given the priorities of the Impact Sprints 2022. How will this impact those priorities?

[2022-08-13 03:21] staceyrebekahscott commented on #1045
None of the current milestone fit what this issue addresses. Once new milestones have been approved, will update accordingly.

[2022-08-13 03:22] staceyrebekahscott commented on #1239
None of the current milestone fit what this issue addresses. Once new milestones have been approved, will update accordingly.

[2022-08-13 03:22] staceyrebekahscott commented on #1238
None of the current milestone fit what this issue addresses. Once new milestones have been approved, will update accordingly.

[2022-08-13 03:29] staceyrebekahscott commented on #320
Automation moved this to Done when Seiko closed it, but she reopened it and it remained in the Done column. Moved back to Prioritized backlog for reassessment along with dependent issues.

[2022-08-13 03:36] staceyrebekahscott commented on #1288
@sei1122 Yes, the emails get forwarded to the PMs so it would be seen if someone submits a question.

What would be the workflow for making changes to the text on the site?

[2022-08-13 03:45] staceyrebekahscott commented on #1201
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 03:49] staceyrebekahscott commented on #996
@sei1122 What is your time estimate on this issue, given what has already been checked off in the Overview? Do you think you can get this done within the next 2 weeks?

I am adding the heuristics issues to the Prioritized Backlog as it is a priority for the Impact Sprints 2022, so I want to get an idea of when you might be able to pick up your next issue.

And keep in mind we are looking to add mo

[2022-08-13 03:52] staceyrebekahscott commented on #1290
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 04:40] sei1122 commented on #996
This issue takes more than 2 weeks. I need to talk about how far it is done, validate the design, and may need user testing too.

I can take Heuristic issues first if it is the priority. Let me know which issue I should work on

[2022-08-13 04:55] staceyrebekahscott commented on #1286
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 04:56] staceyrebekahscott commented on #1285
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 04:57] staceyrebekahscott commented on #1287
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 05:00] staceyrebekahscott commented on #1147
Identified the epic issue #1144 as a priority for Impact Sprints 2022, prioritizing this as the same.

[2022-08-13 05:03] sei1122 commented on #1288
My suggestion is
- Create a Contact US page. This is the easiest for the user as long as PM or someone takes care of the email. If we do this, remove the Contact section from the About section to reduce redundancy.

The above comment was suggested to change the FAQ to Contact but the FAQ contact is not fit the Contact title.

[2022-08-13 05:04] staceyrebekahscott commented on #1003
@entrotech Following up on Bryan's question from April, and confirming what you explained to me in Slack re: how the Hawai'i Food Oasis site works, has everything in the Overview for this issue been completed?

[2022-08-13 05:07] staceyrebekahscott commented on #1127
Moving this to In Progress, as per the process of only having people assigned to issues they are actively working on.

[2022-08-13 05:16] staceyrebekahscott commented on #1155
- Labeled, and moved Heuristics issues to Prioritized Backlog as I am making them a priority for the Impact Sprints 2022.
- Sent messages asking questions on priority reassessment and workflow processes.
- Reprioritized issues based on Impact Sprints 2022 priorities as discussed during the team meeting on 08/11/22.

[2022-08-13 05:24] staceyrebekahscott commented on #418
@entrotech Issue is from May 2020. Moved it to Icebox. Does this issue need to be rewritten or refreshed considering its age?  Given the Impact Sprints 2022 priorities, is this OK to be in the Icebox for now until after the sprints are completed?

[2022-08-13 05:27] staceyrebekahscott commented on #1261
This appears to be related to Heuristics, adding Impact Sprints 2022 label, and to Prioritized Backlog.

[2022-08-13 05:28] staceyrebekahscott commented on #1271
@rylantalerico Following up on John's question on approval of issue and priority.

[2022-08-13 05:30] staceyrebekahscott commented on #1273
@rylantalerico Following up on John's question re: approval and priority.

[2022-08-13 05:42] staceyrebekahscott commented on #1281
Moving to Prioritized Backlog, as Heuristics are an Impact Sprints 2022 Priority.

[2022-08-13 05:45] staceyrebekahscott commented on #1282
@GigiUxR As per Erin's comments, do you still think this is a usability issue? If so, please explain.

Moving to Questions/ In Review.

[2022-08-13 05:52] staceyrebekahscott commented on #1242
@entrotech @hanapotski Moving to QA and following up on @Nechir-89 request for review and approval. What are the next steps here?

[2022-08-13 05:57] staceyrebekahscott commented on #1279
@GigiUxR I am concurring with @itserindean and @sei1122 that this is not a usability issue and is being handled by the related issue #1242 as Seiko mentions. Marking this issue closed. Please advise if you think this should be reopened and addressed.

[2022-08-13 05:57] #1279 closed

[2022-08-13 05:57] staceyrebekahscott commented on #1279
Added Impact Sprints 2022 label, as I was considering all Heuristics issues as a priority for the sprints.

[2022-08-13 06:02] staceyrebekahscott commented on #1284
Making heuristics a priority for Impact Sprints 2022, moving to Prioritized Backlog.

[2022-08-13 06:06] staceyrebekahscott commented on #1283
@GigiUxR As per the comments above from @itserindean and @entrotech , can you advise on the reasoning for the constraints given the concerns they expressed?

Moving to Question/ In Review.

[2022-08-13 06:12] staceyrebekahscott commented on #1280
@GigiUxR Can you advise on how we should proceed here, given the comments from @entrotech and @itserindean ?

Moving to Questions/ In Review.

[2022-08-13 06:16] staceyrebekahscott commented on #1272
@rylantalerico Please advise on approval and prioritization.

Moving to Questions/ In Review.

[2022-08-13 06:22] staceyrebekahscott commented on #1112
@fancyham I am confused by this workflow- you closed it in Nov, but then it was moved to Prioritized Backlog then Icebox, but it remains closed. Is this something that still needs to be addressed, please add details as to your reasoning.

Moving to Questions/ In Review.

[2022-08-13 06:29] staceyrebekahscott commented on #1096
There is currently no milestone that matches this type of issue. Once milestones are revised, issues will be reassessed.

[2022-08-13 06:40] staceyrebekahscott commented on #1119
Selected milestones for issues in Prioritized Backlog, Waiting and Icebox. Any issues with the Missing: Milestone label does not fit into any current milestone. Started updating Missing: Size labels.

[2022-08-13 06:53] staceyrebekahscott commented on #1232
@devnikesh Checking in on an update- have you made any progress here?

[2022-08-13 06:56] staceyrebekahscott commented on #1125
Upon reviewing the several documents in Drive for the Roadmap, this will need to be evaluated as a PM team. Will work to get a regular weekly meeting for the PMs scheduled.

[2022-08-13 06:59] staceyrebekahscott commented on #1016
@fancyham Checking in on progress- is this ready for a PM review?

[2022-08-13 07:01] staceyrebekahscott commented on #1131
Moving to Questions/ In Review pending Rylan's response to the comment above.

[2022-08-13 07:02] staceyrebekahscott commented on #1150
Added John as assignee as this is ready for Dev work.

[2022-08-13 07:03] staceyrebekahscott commented on #684
@VirginiaWu11 Following up on Bryan's questions in the comment above- please advise.

[2022-08-13 07:31] staceyrebekahscott commented on #1274
I'll also draft a version of these positions for the Food Oasis page on Democracy Lab. As per Impact Sprints 2022, we are going to be using Democracy Lab as an additional recruiting tool to the HfLA process. We will need to develop an explainer for the on boarding process, as DLab adds an additional layer to an already complicated process.

[2022-08-13 17:58] staceyrebekahscott commented on #996
@rylantalerico FYI, as per Seiko's comment above and Heuristics being an Impact Sprints 2020 priority, I am moving this to the Prioritized Backlog. I'd like to get as many of the Heuristics issues handled by the end of August as possible, and then we can revisit this one as a priority in early September.

[2022-08-13 18:02] staceyrebekahscott commented on #1266
@sei1122 I am not sure if this falls into something UI-UX handles, but take a look and let me know if you can work on this.

[2022-08-14 19:05] sei1122 commented on #1266
I can work on this issues.

[2022-08-15 17:09] devnikesh commented on #1232
@staceyrebekahscott  not much for now, I have some question regarding this, will communicate with other developers in the tomorrow's meeting.

[2022-08-15 17:55] sei1122 commented on #1131
I updated the Figma file for MVP and wrote the points need to be clarify with team. Next step is to discuss the interaction and design with @entrotech, @fancyham, and @rylantalerico and finalize.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6426%3A11578
<img width="1144" alt="Screen Shot 2022-08-15 at 10 52 06 AM" src="https://user-images.githubusercontent.com/1981

[2022-08-16 03:47] staceyrebekahscott commented on #1284
@sei1122 Assigned to you.

[2022-08-16 05:38] staceyrebekahscott commented on #1087
Moving this to the Icebox to be reprioritized after the Impact Sprints.

[2022-08-17 17:11] itserindean commented on #1285
assigned to Seiko because also related to  https://github.com/hackforla/food-oasis/issues/1286 & https://github.com/hackforla/food-oasis/issues/1284

[2022-08-17 17:11] itserindean commented on #1286
assigned to Seiko because also related to  https://github.com/hackforla/food-oasis/issues/1285 & https://github.com/hackforla/food-oasis/issues/1284

[2022-08-17 21:23] staceyrebekahscott opened #1291 "Partnership Engagement: Los Feliz Neighborhood Council"
### Overview
We would like to establish a partnership with the Los Feliz Neighborhood Council and have them embed Food Oasis onto their website. This is a goal identified for Impact Sprints 2022.

**Epic Issue**
#1341 Empower LA Data

Los Feliz NC has expressed interest in the Food Oasis tool in the past. We need to reengage with them and find out more of their current priorities regarding food in

[2022-08-18 00:42] entrotech opened #1292 "Add zoom and tenant_id columns to neighborhood table"
### Overview
Neighborhoods should be specific to a tenant. They also need to have a default zoom level, so that when a neighborhood is specified in an embedded widget, the zoom level is appropriate.

### Action Items
- [x] Create the zoom and tenant_id columns in the neighborhood table.

### Resources/Instructions

[2022-08-18 00:44] #1292 closed

[2022-08-18 04:12] itserindean commented on #1003
following up on "perhaps this can be closed" as of 8/17/22 I noticed all the non LA versions of our site still use the LA about/FAQ/Donate.
[la.foodoasis.net](https://la.foodoasis.net/) or [foodoasis.la](https://foodoasis.la/) - Los Angeles County
[ca.foodoasis.net](https://ca.foodoasis.net/) - Areas of California outside of LA County
[hi.foodoasis.net](https://hi.foodoasis.net/) - The Hawaiian Is

[2022-08-18 04:25] itserindean opened #1294 "Bug: Sign up for monthly updates link on Donate page gives 404 error"
#### Describe the bug

If a user tries to sign up for our newsletter they get a a 404 missing page error.

#### Steps to reproduce the issue

(if applicable, please specify platform (iOS, Android, Windows, Mac version) and brower)

1. Go to https://foodoasis.la/donate
2. Click on 'Sign Up'
3. See error

#### What's the expected result?
Expect to get prompted to enter email address for newsletter
-

[2022-08-18 04:40] staceyrebekahscott commented on #1003
@itserindean The Food Oasis sites are set up as a multi-tenant application that share the same code base. They have the ability to change what is on the static pages, the About/FAQ etc. But the reason the LA info is on there is because the other sites don't  have dedicated teams regularly supporting them to create this locally relevant content. I have made inquiries into the Hawai'i site, and Sant

[2022-08-18 04:48] staceyrebekahscott commented on #1112
@fancyham Following up on my comment from 08/12- please clarify if something still needs to be addressed on this issue.

[2022-08-18 05:44] staceyrebekahscott opened #1295 "Food Oasis 2022 Presentation Slide Deck"
### Overview
We need a new slide deck for the current state of Food Oasis. This can be used as an introduction and overview for new partnerships, as well as when on boarding new team members.

Slide deck should include all current FOLA logos, a brief history of the project, current objectives, and medium and long term goals.

### Action Items
To be developed in more detail once issue goes into In

[2022-08-18 05:49] staceyrebekahscott commented on #1294
Moving to Bugs column for immediate review.

[2022-08-18 06:08] staceyrebekahscott opened #1296 "Partnership with LA Works"
### Overview

We are updating our working partnership with LA Works. Jordan Smith is leaving at the end of 2022, and has already reduced hours for training.

We are going to work on designing a role for a designated Volunteer coordinator focused PM. They will develop and conduct trainings using LA Works as a volunteer recruiting platform.

### Action Items
We need to have a better understanding of

[2022-08-18 06:26] staceyrebekahscott opened #1297 "Bug: Link to "Attend a Training Session" in the For Volunteers section of website leads to an Error 404"
#### Describe the bug

In the For Volunteers section on the FAQ page of the website, the link to "Attend a training session" leads to an Error 404 page.

#### Steps to reproduce the issue

1. Go to [Food Oasis FAQ](https://la.foodoasis.net/faqs)
2. Click on Attend a training session link in the For Volunteers section
3. See error

#### What's the expected result?

The link should lead to LA Works:

[2022-08-18 06:27] staceyrebekahscott commented on #1297
Moved to Bugs column for immediate review.

[2022-08-18 06:31] staceyrebekahscott commented on #1294
Created issue #1297 to address similar issue. It appears none of the links on the website are currently working.

[2022-08-18 06:38] yiminng opened #1298 ""Meals" and "Pantries" buttons "Details" page of a meal program/pantry"
### Overview
Mobile and Desktop Sites (iPhone, Chrome & Safari)
1. "Meals" and "Pantries" buttons do not work when users are on "Details" page of a meal program/pantry.
2. If users click “List”, it closes the “Details” page without letting users know and goes back to the list.

[Food Oasis.pdf](https://github.com/hackforla/food-oasis/files/9368189/Food.Oasis.pdf)

Steps to repro:
go on a "Details"

[2022-08-18 06:41] staceyrebekahscott opened #1299 "Tech used by Neighborhood Councils (Open Community Survey project)"
### Overview
The [Open Community Survey](https://github.com/hackforla/open-community-survey/projects/1) project has information on the tech used by the neighborhood councils. We need to connect with them to gather and evaluate that information in planning our partnership outreach.

### Action Items
Reach out to project leads on Open Community Survey project and ask them to share what they have on

[2022-08-18 06:48] yiminng opened #1300 "Bug: Food Seeker page not loading on Mac Safari"
#### Describe the bug

Search function does not work on Mac Safari site

#### What's the expected result?
to have map or listing show up

#### What's the actual result?
Search error

#### Additional details / screenshot
- Video recording (https://user-images.githubusercontent.com/109191409/185315333-fe8c74cf-9199-4b95-94ae-c5603a646ae4.mov)

#### Device configuration
- Device: [Desktop computer]
-

[2022-08-18 06:51] staceyrebekahscott opened #1301 "Hack for LA projects with current relationships with LA Neighborhood Councils"
### Overview
Hack for LA has partnerships with some neighborhood councils through other projects.

### Action Items
We need to understand:
- What other projects have existing partnerships?
  - [Open Community Survey](https://www.hackforla.org/projects/open-community-survey)
  - [311 Data](https://www.hackforla.org/projects/311-data)
- What is the nature of the partnerships?
  - 311 Data: The 311 D

[2022-08-18 07:16] yiminng commented on #1223
looks good, we just need dev to update colours and main site

[2022-08-19 00:56] entrotech opened #1302 "Remove Footer from Application"
### Overview
The footer, including the Logo and main menu items is considered redundant throughout the application.  Remove it (except for the widget footer, which provides branding when FO is embedded on 3rd party sites.

### Action Items
- [ ] Remove the footer (circled in the screenshot)

### Resources/Instructions
![image](https://user-images.githubusercontent.com/9939032/185519503-8782b4e1-cf

[2022-08-19 01:00] entrotech opened #1303 "Add margin above header for Login, Registration, Forgot Password Screens"
### Overview
On the Login-related screens, it would look better if there was some margin above the header (i.e. Food Oasis Logo and Hamburger Menu).  Add some margin above the header on these pages.

### Action Items
- [x] Login Page
- [x] Registration Page
- [x] Forgot Password Page.

### Resources/Instructions
Issue #730 is the design issue for this, and has references to the corresponding Figma

[2022-08-19 02:01] entrotech opened #1304 "Consider design changes to the application header for mobile devices."
### Overview
John Huang suggested that the mobile header as shown in the Resources below might be better if we used the normal Food Oasis logo, instead of the "stacked" one, and possibly eliminate the "Locate Free Food In Los Angeles" text as well.

- The logo in this view doesn’t match the logo used elsewhere on the site
- This version of logo (white text knocked out of green background) saves ho

[2022-08-19 02:32] fancyham commented on #1284
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6467%3A10939

[2022-08-19 02:32] fancyham commented on #1285
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6467%3A10939

[2022-08-19 02:32] fancyham commented on #1286
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6467%3A10939

[2022-08-19 02:42] entrotech opened #1305 "Fix links to LA Works Volunteer Opportunity"
### Overview
The link to volunteer with LA Works for Food Oasis has changed to https://volunteer.laworks.com/opportunity/a0C3l00000r3wLvEAI

### Action Items
Modify the LA Works links wherever they appear in the application

### Resources/Instructions

The old link was https://www.laworks.com/opportunity/a0C3l00000iCS6GEAW

[2022-08-19 03:17] fancyham commented on #1304
Thanks everyone for the discussion.

- The logo is different from the desktop, so confusing branding. Looks like a mistake.
- The problem with the existing is that the logo is so small that it’s pretty illegible.
- The text looks clumsy, often with a weird line break, and a bit like an ad.

Based on our conversation, I put together four variations (please feel free to add more)

I tried to find a

[2022-08-19 03:35] staceyrebekahscott commented on #730
@JohnHaoHuang A reminder to add notes for what is happening on this issue, as per discussion during team meeting.

[2022-08-19 03:38] staceyrebekahscott commented on #991
@JohnHaoHuang @sei1122 Moving this issue to the Prioritized Backlog. I'd like to encourage thinking about a redesign of the site, but I'd like to wait until Seiko is finished with her Heuristics issues. I like what is happening with the color scheme changes and perhaps we can use those elements in the new design plans.

Focus on making progress on your current issues, but this would be next in lin

[2022-08-19 03:51] staceyrebekahscott commented on #1304
I like B, A, C, D.

The carrot alone looks too much like Instacart's logo. Not sure if that might become a problem.

[2022-08-19 04:06] staceyrebekahscott commented on #1302
@entrotech As per the team meeting discussion, the issue here was that the hamburger menu did not disappear for all of us when scrolling up and down the page. For those who had it disappear, they found it useful to have the menu on the bottom.

And when testing it again, I noticed that the hamburger did disappear on the About Us page, but it stayed on FAQ, Donate. and Suggest New Listings. I'm usi

[2022-08-19 04:13] staceyrebekahscott commented on #1304
Approved and moved to Prioritized Backlog, pending assignment by UI-UX team.

[2022-08-19 04:51] prasanta10 commented on #1305
I would like to contribute to this issue.

[2022-08-19 05:09] itserindean commented on #1304
In order, I prefer:  B, C, A, D.

[2022-08-19 18:26] staceyrebekahscott commented on #1302
Approved issue and moved to Prioritized Backlog.

[2022-08-19 18:30] staceyrebekahscott commented on #1128
Moving issue to the Icebox, as partnership with Aloha Harvest is not active at this time.

Increasing collaboration with the other Food Oasis locations is medium/ long term goal.

[2022-08-19 18:37] staceyrebekahscott commented on #1302
This issue was created based on our conversation during the team meeting, but there was already a Heuristics issue in the Waiting Column- #1289 . Closing issue #1289 as more notes have been made on this issue.

[2022-08-19 18:39] staceyrebekahscott commented on #1289
Issue #1302 was created as per the team meeting discussion, addressing the concerns of this issue. Closing as not planned as issue is now a duplicate.

[2022-08-19 18:39] #1289 closed

[2022-08-19 18:51] staceyrebekahscott commented on #1305
Moving to Bugs column. This is a duplicate of #1297 and it appears as if PRs have been created on both issues. Sending a message on Dev Slack channel for clarification.

[2022-08-19 19:14] sei1122 commented on #1304
I like B, C, A, D

C could be good if we were scandalized by each location have own area name beside logo like in Hawaii and Santa Barbara.

[2022-08-19 19:16] JohnHaoHuang commented on #730
**Mostly focus on bottom footer and AB test for Header logo and text.**

August 18, 2022 Thursday Notes:
1. Toast messaging is ready to be implement.
2. Center and add top margins to the "back to login" button on the send password link to email page read for implementation. (please refer to Figma file for more detail)
3. Remove footer (logo and navigation) from static pages (pages with no scrollin

[2022-08-19 21:39] entrotech commented on #1297
The correct link should be https://volunteer.laworks.com/opportunity/a0C3l00000r3wLvEAI
The old one was  https://www.laworks.com/opportunity/a0C3l00000iCS6GEAW

This link is referenced on the Los Angeles, McKinney, Santa Barbara and Portland sites by the
"VOLUNTEER" and "BECOME A VOLUNTEER" buttons on the Donate page, and
"Attend a training Session" link on the FAQs page.
"

[2022-08-19 21:40] entrotech commented on #1305
Dupllicate of Issue #1297

[2022-08-19 21:40] #1305 closed

[2022-08-19 21:53] #1297 closed

[2022-08-19 23:11] entrotech commented on #1265
The changes have not yet been released to production., so you will only see them in the dev environment until the next release.
As @fancyham mentioned, custom maps were only created for Los Angeles, Hawaii, and McKinney, so the remaining sites (Santa Barbara, California and Oregon) still show the Los Angeles map.

We do need to decide which sites to keep:

- We were working with the Code for Portl

[2022-08-19 23:52] entrotech opened #1310 "The foodoasis.la domain expires on 9/7/22. Transfer needs to be initiated by 8/31"
### Overview
Historically, we have used the foodoasis.la domain. It is hosted on hover.com, but cannot be renewed there, since Hover no longer supports the "la" top-level domain.  This is probably due to the fact that the la top-level domain is technically for the country of Laos. Though other sites in Los Angeles have also used this TLD in the past, I suppose it is considered bad form to hijack L

[2022-08-20 00:02] entrotech commented on #1294
@staceyrebekahscott I changed this to a Product Management Issue.  The problem is that we don't really have a monthly newsletter, and the PMs need to decide if we want to start one, get rid of the reference from our site, or do something else.  The button was linked to a domain that is no longer active, probably managed by Jenny Mikesell.  I don't know if the mailing list was ever implemented. It

[2022-08-20 05:10] fancyham commented on #1304
Thanks, keep ‘em coming!
@entrotech @rylantalerico @JohnHaoHuang @GigiUxR and anyone else I missed

[2022-08-20 07:21] staceyrebekahscott commented on #327
As per Seiko's comments, closing this issue.

[2022-08-20 07:21] #327 closed

[2022-08-20 07:24] staceyrebekahscott commented on #1135
Closing this issue, as we now use an on going doc to keep team meeting notes, and that process works well for the team.

[2022-08-20 07:24] #1135 closed

[2022-08-20 07:26] staceyrebekahscott commented on #1158
Closing this issue, as we use an on going doc for team meeting notes, and that process works well for the team.

[2022-08-20 07:26] #1158 closed

[2022-08-20 07:27] staceyrebekahscott commented on #1152
Closing this issue. We will be restarting PM meetings and I'd like to use the same on going doc format that has been working well for the team meetings.

[2022-08-20 07:27] #1152 closed

[2022-08-20 07:32] staceyrebekahscott commented on #315
@fancyham @sei1122 Is this issue still relevant? It was created in April 2020 and no work has been done on it.

Please advise if this can be closed out.

[2022-08-20 07:34] staceyrebekahscott commented on #316
@fancyham @sei1122 Is this issue still relevant? It was created in April 2020 and no work has been done on it.

Please advise if this can be closed out.

[2022-08-20 20:45] sei1122 commented on #315
This is the same as #315 so we can close.

[2022-08-20 20:51] sei1122 commented on #315
We haven't done it for 2 years so we can close this.

[2022-08-20 20:55] sei1122 commented on #316
We can close this since we haven't worked on it for 2 years.

[2022-08-21 00:45] entrotech commented on #1300
@yiminng I have a MacBook running MacOS Monterrey 12.5.1, and I'm able to run Food Oasis with no problem on Safari 15.6.1. It seems like your network is OK, since you are getting the location drop-down to show choices, which requires your internet to work, so I'm not sure what the issue might be.  I will poll the other devs and see f anybody has a Mac and can reproduce your issue.

[2022-08-21 01:13] entrotech commented on #1294
As a (maybe temporary work-around, I commented out the box about signing up for a newsletter:

Before:
![image](https://user-images.githubusercontent.com/9939032/185771236-10315bb3-2ce9-4748-82d7-88c1f5daf491.png)

After:
![image](https://user-images.githubusercontent.com/9939032/185771250-2307ff9c-3bad-4e5b-94f0-97db89bede8e.png)

[2022-08-21 07:49] itserindean commented on #1294
I think this is a great solution until someone is found to write a newsletter.

[2022-08-22 00:06] sei1122 commented on #1300
I have Macbook Air and I tested the site on Safari. It worked on my end.

[2022-08-22 04:51] staceyrebekahscott commented on #316
As per Seiko's comment, closing this issue.

[2022-08-22 04:51] #316 closed

[2022-08-22 04:52] staceyrebekahscott commented on #315
As per Seiko's comment, closing this issue.

[2022-08-22 04:52] #315 closed

[2022-08-22 05:02] staceyrebekahscott commented on #1294
I agree. A newsletter is not a priority at this time so removing the option from the site is a good solution.

Closing this issue.

[2022-08-22 05:02] #1294 closed

[2022-08-22 05:13] staceyrebekahscott opened #1315 "Volunteer Options on Donate page are redundant"
### Overview
There are 2 Volunteer options on the Donate page that link to the same page on LA Works website. One of the should be removed as they are redundant (the orange has less information and should be removed from the site).

<img width="1142" alt="Screen Shot 2022-08-21 at 10 05 45 PM" src="https://user-images.githubusercontent.com/98001560/185843543-4b246c44-4f57-471b-b006-b9115e91440d.pn

[2022-08-22 05:16] staceyrebekahscott commented on #1315
@entrotech @itserindean @rylantalerico @yiminng I think the Volunteer option in orange should be removed, as it is a redundant feature on the Donate Page. Please advise if you agree/ disagree.

Moving to Questions/ In Review.

[2022-08-22 05:19] staceyrebekahscott commented on #1310
@ExperimentsInHonesty Bonnie- how do the domain purchases work with HfLA? And do you have any advice as to how we should handle this situation?

[2022-08-22 05:22] staceyrebekahscott commented on #748
@entrotech What is your opinion on how critical this is and how should we be conducting performance evaluations?

[2022-08-22 05:24] staceyrebekahscott commented on #920
@rylantalerico @GigiUxR Following up on my question as to whether this is redundant to the work being done in issue #1143 .

Please confirm if this issue should be closed out. If no response by this week's team meeting, I'll assume it can be closed out.

[2022-08-22 05:30] staceyrebekahscott commented on #1265
As per John's comments, a separate issue will be created to address the questions about the CA and Oregon websites, and the Santa Barbara map.

Checked and confirmed proper maps show up for TX and HI.

Closing this issue.

[2022-08-22 05:30] #1265 closed

[2022-08-22 05:32] staceyrebekahscott commented on #324
@entrotech Following up- how should we be thinking about security on our site right now? Are the questions in the Overview still relevant considering the issue was created in April 2020?

[2022-08-22 05:35] staceyrebekahscott commented on #1282
@GigiUxR Following up on Erin's comments- please advise if this is still a usability issue that should be addressed. If no response by this week's meeting, we will go with Erin's assessment and close this issue.

[2022-08-22 05:36] staceyrebekahscott commented on #1283
@GigiUxR Following up on John and Erin's comments- please advise if this is still a usability issue that should be addressed. If no response by this week's meeting, we will go with their assessment and close this issue.

[2022-08-22 05:38] staceyrebekahscott commented on #1280
@GigiUxR Following up on John and Erin's comments- please advise if this is still a usability issue that should be addressed. If no response by this week's meeting, we will go with their assessment and close this issue.

[2022-08-22 05:41] staceyrebekahscott commented on #1271
@rylantalerico Please advise on John's question on approval and priority of this issue. If no response by this week's meeting, this will be moved to the Icebox for later evaluation.

[2022-08-22 05:42] staceyrebekahscott commented on #1272
@rylantalerico Please advise on John's question on approval and priority of this issue. If no response by this week's meeting, this will be moved to the Icebox for later evaluation.

[2022-08-22 05:46] staceyrebekahscott commented on #1242
@entrotech @hanapotski Following up on @Nechir-89 request- what are the next steps on this issue?

[2022-08-22 05:54] staceyrebekahscott opened #1317 "Remove Food Oasis site for Oregon"
### Overview
We were working with the Code for Portland brigade of CfA for a while, but they determined that the Oregon Food Bank has a comprehensive pantry/ meal program listing [here](https://www.oregonfoodbank.org/find-support), and decided that a Food Oasis site for Oregon would be redundant. I think this site can be dropped.

### Action Items

- Consult with PM team to confirm this site can b

[2022-08-22 05:56] staceyrebekahscott opened #1318 "Remove Food Oasis Site for Northern CA"
### Overview
The California site was proposed by Joel Parker-Henderson (a former member of HfLA) during 2019, specifically to address food insecurity in Northern California due to the wildfires that year, but the scope was pretty large, and we were never able to collect comprehensive data across the state. We also ran into some resistance from food banks (i.e. the Redwood Food Bank) that did not w

[2022-08-22 06:01] staceyrebekahscott opened #1319 "Engagement with Santa Barbara County"
### Overview
The Santa Barbara site was discussed between Jenny Mikesell, myself, Julia Blanton of Community Environmental Council 9https://cecsb.org/) , Hillary Si and Katie Maynard of UCSB. I created the site, but none of us really followed up to populate their site with data or market it. I think there is an opportunity there, as these folks seem to be pretty plugged into the food insecurity an

[2022-08-22 06:02] staceyrebekahscott commented on #1319
Moving to Icebox as this is a long term goal.

[2022-08-22 06:07] staceyrebekahscott commented on #1317
@itserindean @rylantalerico @yiminng The details in the Overview were provided by @entrotech . I concur with his assessment that this site can be dropped. Please advise if you concur or not.

[2022-08-22 06:08] staceyrebekahscott commented on #1318
@itserindean @rylantalerico @yiminng The details in the Overview were provided by @entrotech . I concur with his assessment that this site can be dropped. Please advise if you concur or not.

[2022-08-22 06:11] itserindean commented on #1318
I concur.

[2022-08-22 06:12] itserindean commented on #1317
I concur.

[2022-08-22 06:16] itserindean commented on #1280
Noting for posterity that it was @ryu-jieun rather than @GigiUxR who identified this as an issue in the Heuristics exercises, but as Gigi is our only active researcher at the moment, it will have to be her who weighs in...

[2022-08-22 06:16] itserindean commented on #1283
Noting for posterity that it was @ryu-jieun rather than @GigiUxR who identified this as an issue in the Heuristics exercises, but as Gigi is our only active researcher at the moment, it will have to be her who weighs in...

[2022-08-22 06:17] itserindean commented on #1282
Noting for posterity that it was @ryu-jieun rather than @GigiUxR who identified this as an issue in the Heuristics exercises, but as Gigi is our only active researcher at the moment, it will have to be her who weighs in...

[2022-08-22 06:25] itserindean commented on #1315
I agree. I like the "Want to give your time instead?" phrasing that justifies this button on the donate page. What if we did something like this: (Rough mockup by PM not designer for illustration only...)  also, i was on the fence about making teh button "volunteer" instead of "become a volunteer"

![Screen Shot 2022-08-21 at 11 21 30 PM](https://user-images.githubusercontent.com/107142453/1858528

[2022-08-22 23:27] staceyrebekahscott commented on #1315
I like this mockup. And I think just "Volunteer" for the button works best.

[2022-08-22 23:49] entrotech opened #1320 "Make changes to Login-Related Screens"
### Overview
This issue addresses a number of mostly minor changes to the Login and Registration - related screens. Note that changes to these screen concerning the Header #1303 and #1304 and Footer #1302 are addressed in separate issues.

### Action Items
- [ ] On the Forgot Password screen, remove the Register link and center the Login Link, renaming it to "Return to Login".
- [ ] On the same sc

[2022-08-23 00:07] entrotech commented on #730
@JohnHaoHuang Can you review the wireframes in the Figma for consistency of the casing of the labels on the buttons across these screens? Some all all capitals and some are title casing (capitalized first letters only). For example, "SIGN IN" and "BACK TO LOGIN", vs. "Send Password Reset Link" and "Reset Password".

Also, the Forgot Password operation will fail if the email entered is not found in

[2022-08-23 00:11] staceyrebekahscott commented on #1112
Upon closer review, this issue reads as similar to issue #1115 , which is in the Prioritized Backlog.

Moving this issue to Done column.

[2022-08-23 00:13] staceyrebekahscott commented on #1127
@itserindean Upon reviewing this issue more closely, wasn't some of this addressed in the Heuristics evaluation?

It seems like the scope of this issue is broad and needs a bit of refining to clarify, and possibly broken down into multiple issues.

[2022-08-23 00:42] staceyrebekahscott opened #1321 "Build a Slide Deck for an introduction to Food Oasis / Presentation at Brigade Congress 2022"
### Overview
We need a slide deck that we can use to introduce Food Oasis to new team members, new partnerships, etc. It should be about 6-8 slides. If more specifics are needed, ex: for a presentation to a potential new partner, we can add slides to customize.

### Action Items
Slides should include:

- Overview of Food Oasis (why it was created, how long has it been in effect, who is it for)
- W

[2022-08-23 00:42] staceyrebekahscott commented on #1321
@itserindean Assigned to you.

[2022-08-23 00:43] JohnHaoHuang commented on #730
@entrotech Thank you for pointing that out.
The consistency of the labels are consistent now.  The first letter of each word is capitalized. For example, "Reset Password" and "Send Password Reset Link".

You are right. When the forgot password operation fails, keep the toast message and leave them on the forgot password page until they enter a valid email; otherwise toast message instruct them to

[2022-08-23 00:46] entrotech opened #1322 "Configure Web API server for node debugging"
### Overview
As part of issue #1248, @hanapotski changed the server.js file to server.ts. Now the launch.json file needs to be updated to allow debugging the Web API server in VSCode.

### Action Items
(TBD)

### Resources/Instructions

[2022-08-23 01:00] JohnHaoHuang commented on #1320
Yes. The blue button label should all have capitalization on each word. For example, "Send Password Reset Link".

That is right, for an unsuccessful password reset link, when the entered email does not exist in the data base or invalid, then the border line will turn red and a red message will display an error message for the user. Something like "the email does not match within data or is invalid

[2022-08-23 01:08] itserindean commented on #1127
@staceyrebekahscott no, I don't think any of this was addressed by heuristics.
@entrotech has sent me instructions for accessing the Google analytics for our site and I have now been added to the correct 1password vault (devOPs) so I can set it up on my end. I'll have more of an update at tomorrow's PM meeting.

[2022-08-23 01:12] itserindean commented on #1315
@staceyrebekahscott @sei1122  should we roll this into the updates for #1284 , #1285 & #1286 ?

[2022-08-23 01:54] entrotech commented on #1223
The hover state change was implemented on Issue #1191

[2022-08-23 01:54] #1223 closed

[2022-08-23 02:27] staceyrebekahscott commented on #1127
@itserindean OK, Maybe I am misunderstanding one of the Action Items listed above, re:  Determine point of improvement backed with UX researches, or the overview in general is confusing to me.

I look forward to your update, and a clearer explanation of what we can learn from the analytics.

[2022-08-23 02:30] staceyrebekahscott commented on #1315
That makes sense to me if it is not too much work for Seiko.

[2022-08-23 02:43] itserindean commented on #1315
Also I agree with @staceyrebekahscott that it should just say "volunteer"

[2022-08-23 02:48] staceyrebekahscott commented on #1119
Closed Milestone: [Embeddable Widget 1.0](https://github.com/hackforla/food-oasis/milestone/8): No open issues, All issues closed.

[2022-08-23 02:55] staceyrebekahscott commented on #1320
@VirginiaWu11 Approved issue, added Milestone and moved to In Progress.

[2022-08-23 05:49] sei1122 commented on #1315
I will include this update to #1284, #1285 & #1286

[2022-08-23 18:27] itserindean commented on #1321
I created an initial draft in powerpoint and converted it to google slides so anyone could make changes/comment. It's particularly lacking in details about:
-Why Food Oasis is different from other Food pantry directories
-How to get involved through partnering

Open to notes/suggestions on ANYTHING
https://docs.google.com/presentation/d/1lZfIqgZEHGBZiUUgQzu1G0oh2JGR-aMzZPby-NE4zZ0/edit?usp=sharing

[2022-08-23 19:06] staceyrebekahscott commented on #1321
@itserindean The link is giving me an Access Denied message. Is it located in the FOLA Shared Drive?

[2022-08-23 19:11] itserindean commented on #1321
It is in the FOLA Shared Drive: Food Oasis > 00_PMO > PM Documents. I'll change permissions to anyone with link

[2022-08-23 23:45] staceyrebekahscott commented on #1315
@sei1122 If it makes sense with your workflow, please see if you can consolidate these issues so we don't have so many open. If you think you're close to having them completed, then wait and close out all 4. In other words, don't do more work to consolidate if you are almost done. Issue has been assigned to you.

[2022-08-24 00:29] itserindean commented on #1310
@entrotech  Did this happen early? I'm getting an Error 1016 DNS error for foodoasis.la as of this afternoon.

[2022-08-24 00:36] #920 closed

[2022-08-24 00:42] rylantalerico commented on #1272
@staceyrebekahscott This is a priority, and is approved.

[2022-08-24 01:00] itserindean commented on #1321
@rylantalerico
Open to notes/suggestions on ANYTHING. I mentioned above a few things in particular it's lacking...
https://docs.google.com/presentation/d/1lZfIqgZEHGBZiUUgQzu1G0oh2JGR-aMzZPby-NE4zZ0/edit?usp=sharing

[2022-08-24 01:10] itserindean commented on #1274
---------
### Final text for approval RESEARCHER

---------
![image](https://user-images.githubusercontent.com/37763229/162998736-844482ea-4e3a-4e83-a704-5d8588b7fd4b.png)

**Project Name**: Food Oasis LA

**Volunteer Opportunity**: We are looking for a UI/UX researcher who can collaboratively work with stakeholders and conduct surveys and interviews for our initiatives. You will be helping with u

[2022-08-24 01:46] GigiUxR commented on #1282
This is no longer a usability issue.

[2022-08-24 01:59] GigiUxR commented on #1280
@staceyrebekahscott @entrotech @itserindean It seems that this would impact us more on the back end than the front user end and therefore not such a major usability concern. Are we ending up making extra efforts on the back end to clean the data  from erroneous / miscellaneous info such as parentheses, dashes, letter , etc.?

[2022-08-24 02:02] GigiUxR commented on #1279
@staceyrebekahscott @itserindean @sei1122 I agree with closing the issue.

[2022-08-24 02:03] fancyham commented on #1274
Both look good to go with my one change for the researcher:

Someone with a research **or food security or systems** background is ideal, but not necessary and we will help train anyone who is interested.

Thanks!

[2022-08-24 02:04] GigiUxR commented on #1281
@staceyrebekahscott @itserindean I agree with raising the severity to 2.

[2022-08-24 02:09] staceyrebekahscott commented on #1318
@entrotech We confirmed as a PM team that this site can be removed. Please proceed.

[2022-08-24 02:10] staceyrebekahscott commented on #1317
@entrotech We confirmed as a PM team that this site can be removed. Please proceed.

[2022-08-24 04:19] sei1122 commented on #1274
Looks good!

Thank you!

[2022-08-24 05:05] itserindean commented on #1274
@fancyham "food security" or "food insecurity"?

[2022-08-24 05:27] itserindean commented on #1282
closing per @GigiUxR comment that this is no longer a usability issue

[2022-08-24 05:29] itserindean commented on #1280
From @entrotech's comment I don't believe we're doing anything to clean this up. Let's close as won't fix since it's not really a usability concern.

[2022-08-24 06:39] sei1122 commented on #1315
The design is close to finalization.
After this week's review and I need to do more iterations, I will consolidate the issue.

[2022-08-24 12:31] gigi commented on #1274
Hi guys. Id like to help but I dont live in LA...
It seems you invited the wrong nickname)

[2022-08-24 16:02] itserindean commented on #1274
Apologies for that, Alexey. I was trying to indicate the Slack aliases and forgot that github would interpret the first name as a github handle.

[2022-08-24 16:57] fancyham commented on #1096
This is a usability thing (for the internal FOLA team).

Created a new milestone to track FOLA internal team tools and usability.  This will be useful for analytics as well.
https://github.com/hackforla/food-oasis/milestone/17

[2022-08-24 17:01] sei1122 commented on #1285
- Updated the body font-size from 14px to 18px.
- Design Tablet and mobile screen sizes are added.
- Create accent color background options

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6467%3A10939

<img width="535" alt="Screen Shot 2022-08-24 at 9 54 51 AM" src="https://user-images.githubusercontent.com/19811032/186478108-441811ad-0a0d-46c4-ad33-7affd05bb612.png">

[2022-08-24 17:02] fancyham commented on #1274
@itserindean yup, “food security” — that’s how it’s used in the world (e.g. “annual food security conference”, not “annual food insecurity conference”)

[2022-08-24 17:10] fancyham commented on #1285
If possible, can we make the column widths narrower to make text easier to read on wide devices?  Something perhaps around twice as wide as the mobile sketch above? (in the 2nd row)

Here are some examples of wide vs really-wide text.  I think we’ve got “super-wide” text, making it hard to read.  :)
https://baymard.com/blog/line-length-readability

[2022-08-24 17:30] itserindean commented on #1274
@fancyham updated above. Thank you for the clarification and education.

[2022-08-24 17:43] staceyrebekahscott commented on #1310
@itserindean I just checked and the domain is working now. Not sure why that Error came up before.

[2022-08-24 17:48] staceyrebekahscott commented on #1272
Moving to Prioritized Backlog, as per Rylan's assessment.

[2022-08-24 17:54] #1282 closed

[2022-08-24 17:59] fancyham commented on #1112
This is a duplicate of #1115 so it should be closed as a duplicate, if that’s possible.

[2022-08-24 18:05] fancyham commented on #315
Yes, this is closed.   To add some history here:
After talking with entrotech, we decided that checkbox fields were too constraining for most things right now and rather than create an ontology of checkboxes and fields that work in one region but not another, we should continue to use freeform text, with the idea that in the future, we’d like to add text and keyword search and may add a more free-

[2022-08-24 18:11] fancyham commented on #316
Adding history here:

Same reasoning as #315.  Do want to eventually create region-specific tagging and Eligibility and Requirements checkboxes are a good place to start in the future.

Ended up doing freeform text fields for now.

This type of thing would eventually support advanced search in the future though.

[2022-08-24 18:55] fancyham commented on #684
Update:
We do now have deep linking working to link to a specific organization, and we do have a share button that works with the caveats below, so almost done with this issue.

The “share” button on each org’s details screen.:
![FOLA Design System – Figma](https://user-images.githubusercontent.com/3376957/186497470-025dc50f-9b2c-411e-b784-177aaa00e4fc.png)

which on iOS brings up the system share

[2022-08-24 18:56] fancyham commented on #684
Corrected image in previous comment

[2022-08-24 20:55] sei1122 commented on #1285
I created a sample. I checked the WCAG guideline and it mentioned lines of text should be **80 or fewer characters**
So I set the design under 80 characters per line.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6621%3A12125

<img width="410" alt="Screen Shot 2022-08-24 at 1 51 42 PM" src="https://user-images.githubusercontent.com/19811032/186521028-25cbb925-ea38-4

[2022-08-24 21:04] itserindean commented on #1285
I think this looks great now! Nice work, @sei1122

[2022-08-25 01:18] fancyham commented on #1285
Looks great!  It feels easier for me to read for sure.  The text still looks kinda small to me though.  How's it reading for everyone else?

I had some time so I added some variations:
-  with larger body text and taller leading,
- also tried adding photos (as future options), with/without icons, and tried removing color to see how it feels.

Also, I like the dusty sage green by itself, but I wond

[2022-08-25 06:33] fancyham commented on #1016
Nope, not yet

[2022-08-25 06:53] sei1122 commented on #1285
I agree. It is a good idea to use a bigger text size for better legibility.
I'm wondering if we change the font size, any affect with other pages.
I just quickly check the map pages, it looks ok but need to ask @entrotech.

If we want to look into more font, it would be good to close current one and move on to this issue
https://github.com/hackforla/food-oasis/issues/991

I looking at the font siz

[2022-08-25 17:39] staceyrebekahscott commented on #1156
@itserindean I have updated my comment for my On Boarding. Please check to make sure all has been addressed, and we can consider me fully on boarded.

[2022-08-25 17:45] staceyrebekahscott commented on #1155
Issues are being actively assessed as we reorganize around Impact Sprints. After the sprints, I'd like to reconsider how we run the board, with the intention that a regular review of the issues will be unnecessary. Until then I am moving this to the Icebox, for later consideration.

*PMs- Please don't take up this issue as I would like to lead the planning of this. Thanks!

[2022-08-25 17:50] staceyrebekahscott commented on #1291
I had a meeting with Mellina Stoney- Partnership Manager at Code for America, and we discussed a new approach to partnerships for FOLA. Moving this to Icebox, as the neighborhood council engagement may become a medium to long term goal. Partnerships with our more current partners, such as Food Cycle LA, are being pushed to priority.

[2022-08-25 19:18] staceyrebekahscott commented on #1280
Agreed. Closing issue as won't fix.

[2022-08-25 19:18] #1280 closed

[2022-08-25 19:40] staceyrebekahscott commented on #1274
@itserindean @fancyham I believe the terms Food Security and Food Insecurity are both correct depending on what the subject is.

The goal to achieve Food Security for populations might be the work of large organizations, such as what the Global Food Security Conference is about.

But individuals experience Food Insecurity, and there are researchers and organizations, such as Food Banks, that work

[2022-08-25 19:46] staceyrebekahscott commented on #1274
@itserindean If you haven't posted these yet, can we see what one looks like with the Food Oasis Logo, instead of the photo of the pile of beets? We have discussed that photos of fresh vegetables is not an accurate depiction of what goes on at food pantries, which is why the main page design was changed from the fresh fruits and veggies to the Map. I think the simple Food Oasis logo would look nic

[2022-08-25 20:25] staceyrebekahscott opened #1323 "Develop Roadmap and Milestones for Impact Sprints"
### Overview
To create a focus for the team and to execute on the specific goals of the Impact Sprints, I am developing a roadmap to extend through the end of the Sprints, approx. the end of September 2022.

### Action Items

- Write out a roadmap for the next 5 weeks focusing on the Volunteer Engagement and Partnership goals of the Impact Sprints.
- Once this sprint is finished, we will reassess

[2022-08-25 20:27] staceyrebekahscott commented on #1125
Closing this issue as Stale. The issue of creating a new roadmap and milestones will be addressed by issue #1323.

[2022-08-25 20:27] #1125 closed

[2022-08-25 20:53] itserindean commented on #1274
@staceyrebekahscott I like the Food Oasis logo (Added above.) I haven't posted yet because i'm waiting to hear from @gigicobos from Research.

[2022-08-25 23:40] staceyrebekahscott commented on #1119
Added New Milestone: [Process Improvements- Impact Sprints 2022](https://github.com/hackforla/food-oasis/milestone/20)
Added New Milestone: [Volunteer Engagement- Impact Sprints 2022](https://github.com/hackforla/food-oasis/milestone/19)
Added New Milestone: [Partnership Engagement- Impact Sprints 2022](https://github.com/hackforla/food-oasis/milestone/18)

Closing this issue as completed, as a ne

[2022-08-26 00:51] itserindean commented on #1274
@fancyham @sei1122-- @staceyrebekahscott hadn't had a chance to weigh in previously so I added a 2nd review to the process and am rebranding this phase as that. I made some tweaks to the researcher text based on her feedback here and offline to say: "Someone with a research background or who has experience working with individuals experiencing food insecurity is ideal, but we will train anyone who

[2022-08-26 02:21] sei1122 commented on #1274
Looks good.

[2022-08-28 03:12] VirginiaWu11 commented on #1320
@JohnHaoHuang Hey John, I believe all our buttons in the application have all letters capitalized. Are we changing all buttons to first letter of each word capitalized or only for specific buttons?

[2022-08-28 15:49] itserindean commented on #1310
@entrotech Can you clarify if hover.com will no longer renew registration AND no longer host? As I've been researching I've found some providers that can not handle registration for .al sites but will host if we register elsewhere.

[2022-08-28 16:25] itserindean commented on #1310
on 8/25 at our team meeting we agreed we should find a new registrar and continue to support the .la domain for the time being due to how many partners link to that site which represents about 15% of our incoming traffic to the site (According to [google analytics for the site](https://drive.google.com/file/d/19rI8EVEkehYj5O_Lmu41Ap1Ji0f6w4Qd/view?usp=sharing))

I put together [this research]([url

[2022-08-28 16:29] itserindean commented on #1310
Also I noticed that some sites will not transfer domains within 7 days of expiration which give us a soft deadline of August 31 to make a change. 3 days

[2022-08-28 17:10] itserindean opened #1326 "agenda: how to transfer domain registration for foodoasis.la"
### Overview
- [ ] Bring Bonnie up to speed on #1310.
- [ ] Present[ research on alternative sites for registration](https://docs.google.com/spreadsheets/d/1pyiPueqeJlfBopJOZDYBxR-2s_8JCwQKqgLgkFljZzU/edit?usp=sharing)
- [ ]questions
   - [ ] How do domain purchases work with Hack for LA?
   - [ ] How do we spend money/get reimbursed?)
   - [ ] Are there any best practices for choosing a registrar

[2022-08-28 21:54] JohnHaoHuang commented on #730
@entrotech I've communicated with one of the developers working on one of the sub issue for the toast message (#1320). I have review the entire application and decided it would be easier to have all the buttons capitalize for all letters. For example, "RESET PASSWORD" and "SEND PASSWORD RESET LINK". I apologize for inconvenience.

[2022-08-28 21:56] JohnHaoHuang commented on #1320
@VirginiaWu11 Hi Virgina, Thank you for pointing that point. After reviewing the screens, please keep all the buttons capitalize. I have also updated the Figma File and other post regarding the toast message. For example, "RESET PASSWORD" and "SEND PASSWORD RESET LINK".

[2022-08-29 01:12] GigiUxR commented on #1274
@fancyham @itserindean @sei1122 @staceyrebekahscott:  Erin, thanks for your suggestion with "but we will train.." but I am hesitant in placing that sort of emphasis especially since we already state "Ideal".   I suggest something like the following:

"Experience is not required and anyone interested helping people having trouble finding food is welcome to apply."  This way people may assume rightf

[2022-08-30 01:23] #1242 closed

[2022-08-30 01:31] entrotech commented on #1242
This has been deployed to devla.foodoasis.net.  @staceyrebekahscott - Need to have PM and/or designer review to see if the user experience is satisfactory.

[2022-08-30 13:08] ExperimentsInHonesty commented on #1310
@itserindean Message seen.  Looking into it now.

[2022-08-30 13:42] ExperimentsInHonesty commented on #1310
I have started the transfer but I am not sure its going to work.  Because some of the requirments we can't seem to meet. Let's see how it goes

Here is the info from inside porkbun
![image](https://user-images.githubusercontent.com/37763229/187452868-4f2ef04e-72ce-48a8-a892-c9f17d0c28b6.png)

Posting this here for discussion purposes
[Querying whois.nic.la]
[whois.nic.la]
Domain Name: FOODOASIS.LA

[2022-08-30 13:46] ExperimentsInHonesty commented on #1310
info from current registrar hover
![image](https://user-images.githubusercontent.com/37763229/187453136-78f3dade-851f-422c-beec-8eb5bcbeb445.png)

Owner/admin/tech email: foodoasis@hackforla.org
billing: travis@hackforla.org (no one uses that account at HfLA anymore, we should have changed it long ago.  If it requires a confirmation, I can log into the account and take control of it, and then chan

[2022-08-30 15:07] ExperimentsInHonesty commented on #1326
I left a note on  https://github.com/hackforla/food-oasis/issues/1310

Q:  How do domain purchases work with Hack for LA?
A: I register them, I expense them

Q: How do we spend money/get reimbursed?)
A: Code for America only allows three people on the expense account, and I am one of them.  So I can buy things and expense them against funds we have from donations.  Mostly I just pay for stuff out

[2022-08-30 15:14] ExperimentsInHonesty commented on #1310
@itserindean @entrotech  It looks like it might go through.  Here is the email I got from Hover
![image](https://user-images.githubusercontent.com/37763229/187474309-bae1f20d-56b4-4893-af01-a4aacbe348b2.png)
I will still need to log into porkbun and buy extra years (I can't do that until its transferred).

[2022-08-30 16:09] itserindean commented on #1310
@ExperimentsInHonesty Thanks for all of the updates!

[2022-08-30 17:30] staceyrebekahscott commented on #1242
@entrotech I just sent 2 Send Corrections forms and both allowed me to send without filling anything in. No warning to fill in the Corrections field when sending it blank.

[2022-08-31 04:07] staceyrebekahscott commented on #1321
FOLA needs to build a Communications Guide. This is a set of collateral that we can use to make slide decks and with our logo and consistent branding. Upon searching in the Drive, most of the slide decks about FOLA are different. This guide will make it so we can have consistency going forward.

See link to Code for America's guide for their Get Your Refund Project: [Get Your Refund Communications

[2022-08-31 04:28] staceyrebekahscott commented on #964
Reprioritizing this issue, as I would like us to start organizing to engage with users for research. May need to rewrite issue as was written in April 2021.

[2022-08-31 04:39] staceyrebekahscott commented on #1295
Closing this issue. I created a duplicate issue #1321

[2022-08-31 04:39] #1295 closed

[2022-08-31 04:53] staceyrebekahscott commented on #325
Would like to consider whether we should do this before or after we do user research. I imagine some things identified by users may also be accessibility issues, but I think it might be beneficial for prioritizing if we get user feedback on the website as it is now. This way we can build the features that our particular user base needs first, rather than relying on a general set of accessibility g

[2022-08-31 04:58] staceyrebekahscott commented on #466
Closing this issue as outdated. We do need to update our listing on the website, but I don't think creating a process for updates that don't happen that often is a good use of our time. HfLA website already has a process for this.

Current issue: #1269

[2022-08-31 04:58] #466 closed

[2022-08-31 05:04] staceyrebekahscott commented on #702
This issue was marked as Done on in Dec 2020, but it was not properly closed. Labels were added after this point, even though issue was marked Done. Closing issue.

[2022-08-31 05:04] #702 closed

[2022-08-31 05:06] #694 closed

[2022-08-31 05:08] #563 closed

[2022-08-31 05:09] #517 closed

[2022-08-31 05:11] #952 closed

[2022-08-31 05:11] #930 closed

[2022-08-31 05:12] #924 closed

[2022-08-31 05:14] staceyrebekahscott commented on #870
Re-closing issue. One of the current UX researchers will develop a new issue.

[2022-08-31 05:14] #870 closed

[2022-08-31 05:16] #373 closed

[2022-08-31 05:18] #505 closed

[2022-08-31 05:21] #809 closed

[2022-08-31 05:22] #456 closed

[2022-08-31 05:22] #695 closed

[2022-08-31 05:22] #483 closed

[2022-08-31 05:33] staceyrebekahscott commented on #937
At this stage of the project, we should be seeking advice from partners and users rather than a board of advisors. A new plan for partnership engagement is in process for the Impact Sprints 2022.

There may be a need to develop an advisory board in the future, but I don't think it needs to be an issue at this time.

Closing this issue as outdated.

[2022-08-31 05:33] #937 closed

[2022-08-31 05:36] staceyrebekahscott commented on #892
Closing this issue as outdated, as it was created in Aug 2021.

The current UX researchers should develop their own plan for how to conduct user research.

[2022-08-31 05:36] #892 closed

[2022-08-31 05:42] staceyrebekahscott commented on #319
It appears that this issue is being resolved by #368 and #834

Closing issue as outdated.

[2022-08-31 05:42] #319 closed

[2022-08-31 05:48] staceyrebekahscott commented on #481
Closing issue as outdated.

This bug issue has been in the icebox since August 2020. If it is still a problem it would have been addressed.

[2022-08-31 05:48] #481 closed

[2022-08-31 05:51] staceyrebekahscott commented on #482
Closing issue as outdated.

Issue has been in the Icebox since Aug 2020. If it was still a problem, it would have been identified.

[2022-08-31 05:51] #482 closed

[2022-08-31 05:57] staceyrebekahscott commented on #747
Closing this issue as outdated.

It has not been worked on since Nov 2020 and has been in the Icebox since Mar 2021. If this was an issue affecting a large number of users, it would have been addressed by now.

[2022-08-31 05:57] #747 closed

[2022-08-31 06:12] staceyrebekahscott commented on #1017
Closing this issue as outdated.

This issue was created in Aug 2021 but no work seems to have been done. The current UX researchers should develop their own process for testing usability.

[2022-08-31 06:12] #1017 closed

[2022-08-31 06:14] staceyrebekahscott commented on #1318
@entrotech A reminder to proceed with removing this site.

[2022-08-31 06:14] staceyrebekahscott commented on #1317
@entrotech A reminder to proceed with removing this site.

[2022-08-31 06:22] staceyrebekahscott commented on #1300
I just tested this on my iMac on Safari and also got a search result error. Said there was no listings available in my area. I am running older OS and Safari versions so that might account for the error on my end.

[2022-08-31 06:26] staceyrebekahscott commented on #1151
@entrotech How can we determine if this is still a bug that needs to be worked out? I assume it would have been reported by a more recent data entry volunteer if the problem was critical and happening repeatedly.

[2022-08-31 21:14] sei1122 commented on #1285
@fancyham and I had a meeting last week. Based on the feedback I updated the design.
Hope this can be final. If there is some detail we'd like to change like icons or images, I recommended closing the current 4 issues that are attached to this design and creating a new issue.

<img width="605" alt="Screen Shot 2022-08-31 at 2 09 44 PM" src="https://user-images.githubusercontent.com/19811032/187783

[2022-08-31 21:46] itserindean commented on #1285
I like the relative sizes of these headers! Nicely done! Let’s hand this over to engineering to implement.

[2022-09-01 00:19] staceyrebekahscott commented on #1291
For Bonnie:

- When was the most recent conversation with John regarding a partnership with Food Oasis?
- What other HfLA projects have a partnership with the Los Feliz council?
  - What is the context of those partnerships?
- What is the main reason that a partnership with Los Feliz would benefit Food Oasis?
- What info should I know about John that would be helpful when engaging with him?
- Was

[2022-09-01 03:40] staceyrebekahscott commented on #956
Decided to close as not planned, as the issue's scope is stale and the reason indicated for reaching out is not in line with the current direction of the project.

[2022-09-01 03:40] #956 closed

[2022-09-01 03:59] itserindean commented on #956
Agree with your reasons for closing @staceyrebekahscott

[2022-09-01 04:01] staceyrebekahscott opened #1328 "Bug: Volunteer Portal: Button to pass listing along does not appear"
#### Describe the bug

On the page to update the listing, there should be a button to pass the issue along to another volunteer, and on my screen there was no button option. Screenshot is of the Identification page, but I checked all pages and there is no button.

What is the user’s goal?: To be able to pass the issue along to another volunteer.

#### Additional details / screenshot

<img width="1

[2022-09-01 04:35] sei1122 commented on #1328
I joined a volunteer session and this is an organization I validated.
There are 3 buttons at the button.

Once volunteers sign up for the Food Oasis account and Jordan can assign organizations to volunteers.
The organization's data interface is basically the same but the buttons are different between admin and volunteer.

<img width="703" alt="Screen Shot 2022-08-31 at 9 27 11 PM" src="https://use

[2022-09-01 05:51] sei1122 commented on #1242
I just tested. Looks good to me.

[2022-09-01 05:53] #1191 closed

[2022-09-01 05:56] sei1122 commented on #1259
This is implemented and published live site

[2022-09-01 05:56] #1259 closed

[2022-09-01 17:13] staceyrebekahscott commented on #1242
I just tested it again and it still allows me to send a blank form, no prompt to complete the correction field.

[2022-09-01 18:47] staceyrebekahscott commented on #1150
@entrotech Following up on this, as it was approved for dev tasks by Rylan 3 weeks ago. Is this in your pipeline to proceed on with the dev team?

[2022-09-01 18:55] staceyrebekahscott commented on #1285
I concur with @itserindean, we should proceed with the designs as Seiko has presented them here. Moving to Questions/ In Review for final approval for Dev tasks.

@sei1122 If the other related issues can be closed once this is fully approved for Dev tasks, please make some brief notes in the comments in those issues before closing them, so it is clear that the issue has been addressed and resolved

[2022-09-01 18:58] staceyrebekahscott commented on #1271
Moving to Icebox, to be evaluated as part of a greater review on the Volunteer portal.

[2022-09-01 19:02] staceyrebekahscott commented on #368
Closing this issue as outdated. The last work on it was done in April 2021, the issues associated with it are closed, and many of the links to the docs give access denied messages.

[2022-09-01 19:02] #368 closed

[2022-09-01 19:06] staceyrebekahscott commented on #1003
Closing this issue. Building a process for the other Food Oasis sites is a long and large undertaking, and will be a goal once we have figured out all of the design and volunteer workflows for the LA Site.

[2022-09-01 19:06] #1003 closed

[2022-09-01 19:08] staceyrebekahscott commented on #1273
Moving to the backlog, for re-evaluation as part of a volunteer portal workflow review.

[2022-09-01 19:10] staceyrebekahscott commented on #1283
Going with assessment given by @itserindean and closing this issue.

[2022-09-01 19:10] #1283 closed

[2022-09-01 19:15] staceyrebekahscott commented on #748
Moving this to the Waiting column. I would like to consider this in a more cohesive way, as there are some separate issues regarding performance and security that should be built into a more strategic process.

[2022-09-01 19:16] staceyrebekahscott commented on #324
Moving this to the Waiting column. I would like to consider this in a more cohesive way, as there are some separate issues regarding performance and security that should be built into a more strategic process.

[2022-09-01 19:30] staceyrebekahscott commented on #991
@sei1122 Assigning this to you. Given the work you have done recently, it is apparent that standards need to be created for all of the design elements for Food Oasis.

As part of the scope for this issue, I am including the development of a Communications Guide, [Communications Guide for Code for America's Get Your Refund program](https://docs.google.com/presentation/d/1b67e6ubqqKgFTf7l1A9srHDrCEI

[2022-09-01 19:37] staceyrebekahscott commented on #1242
I misunderstood this approval process. I just tested on the Dev site and the process looks fine.

@entrotech Approved. Please proceed with making this change live.

[2022-09-01 23:49] itserindean commented on #1274
@GigiUxR  Does this capture what you were thinking or were you imaging your suggested text alongside "Someone with a research background or who has experience working with individuals experiencing food insecurity is ideal"

**Volunteer Opportunity**: We are looking for a UI/UX researcher who can collaboratively work with stakeholders and conduct surveys and interviews for our initiatives. You will

[2022-09-02 00:39] sei1122 commented on #991
Here are things to consider and plans. Let me know if you have any suggestions @fancyham, @entrotech.

How do we want to maintain the design system as a team?

- How will you maintain this system?
- How will you promote and encourage usage?
- How will you communicate updates?

This is my suggestion for the design system file organization. It is similar to the dev environment

- Main file (publishe

[2022-09-02 00:51] entrotech commented on #1310
@ExperimentsInHonesty @itserindean As far as I can tell, it seems to still be in progress.  I tried the transfer myself to day, but ran into problems because the transfer was already in progress. The account password for Porkbun in the 1password vault wasn't correct, so I had to reset it again 0 and updated the vault with the new password. When I was going through this, there was a message that th

[2022-09-02 02:05] itserindean commented on #1246
#### Onboard for Michelle Io-Low @miolow

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write y

[2022-09-02 02:06] itserindean commented on #1246
#### Onboard for Natalie Kiwan @nkiwan

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write you

[2022-09-02 02:27] itserindean commented on #947
clarifying priority based on what's possible right now:
For dev: which of these are we tracking in the database?

pri 1
- pantry vs meal
- days a place is open
- Open Now?
- hours a place is open

Pri 2
- No known eligibility requirements? (no text in the free form eligibility field means no.)
- Languages spoken

[2022-09-02 02:42] nkiwan commented on #1304
I'm late to this but B is also my top choice. My ranking: B, A, C, D.

[2022-09-02 03:25] fancyham commented on #1261
From our full-team meeting today: These are some designs that someone did (they didn't leave their name) over two years ago that had some interesting ideas and might be useful as a style reference or to bounce ideas off of / respond to:

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=491%3A605

![Screen Shot 2022-09-01 at 8 20 09 PM](https://user-images.githubusercont

[2022-09-02 03:50] fancyham opened #1329 "Try out and possibly migrate to new github Projects kanban"
Github has a new "Project Management" kanban board that can also be viewed as a spreadsheet — seems quite powerful and could add a lot of features that we'd like to use for project management and sorting issues.
https://docs.github.com/en/issues/planning-and-tracking-with-projects/learning-about-projects/about-projects

So we're going to try it out and switch if it feels good

- [x] Make a copy of

[2022-09-02 03:59] fancyham commented on #1329
I've created a copy of our kanban — new link is here:

https://github.com/orgs/hackforla/projects/17/views/1

Beware: I think that moving things between columns actually changes the issue permanently, so be careful.

Please try creating new views!  They seem quite powerful.

- I noticed the our "text notes" in the references column are no longer visible the way they used to be.

I believe the two

[2022-09-02 04:17] fancyham commented on #1329
Please continue using the old kanban for actual work.

Play with views and navigation — be aware that while we're working with 'live' issues, it seems I can move items between columns in the playground version and that does not affect the old kanban.

![image](https://user-images.githubusercontent.com/3376957/188057899-df02e79d-1b72-4f7a-a25d-b0da2df86272.png)

![image](https://user-images.githubu

[2022-09-03 15:43] fancyham commented on #947
[Link to in-progress Figma drawings](https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6846%3A11277)

Also, for reference, check out this Google Search UI when I searched for "farmers markets sunday san francisco" (it didn't select a day automatically — I did that manually)

![Screen Shot 2022-09-03 at 8 17 03 AM (2)](https://user-images.githubusercontent.com/3376957/188

[2022-09-04 23:27] itserindean commented on #1310
I checked the whois today and is shows an expiry date in April of 2023. So it seems like the transfer has gone through. I think we can close this issued, @entrotech  do you agree?

![Screen Shot 2022-09-04 at 4 26 14 PM](https://user-images.githubusercontent.com/107142453/188337530-574cc39b-c2ed-47b5-8ab6-b26c7dda21af.png)
https://www.godaddy.com/whois/results.aspx?checkAvail=1&tmskey=&domain=http

[2022-09-05 01:52] VirginiaWu11 commented on #684
@fancyham Hey Bryan! Which share icon should we use? or are we happy with just text like the other buttons next to it?
<img width="379" alt="Screen Shot 2022-09-04 at 9 50 07 PM" src="https://user-images.githubusercontent.com/79432798/188344795-7f20f969-f017-480a-876e-d7fdd6230144.png">

_The text string sometimes drops the URL_ - regarding this, could you please provide an example/location which

[2022-09-06 21:53] staceyrebekahscott commented on #1329
We need to get permission from Bonnie before we do this. There may be reasons this has not been recommended across HfLA if some projects are in this new format and some are in the old.

Also, I am not seeing the same options as the ones in the screenshots above. I wonder if different browsers / browser versions accounts for this difference.

[2022-09-06 22:10] staceyrebekahscott commented on #1299
Posted message on Community Survey's Slack requesting access to NC tech information. Will wait and see if I get a response here before reaching out on Data Science channel.

[2022-09-07 01:42] staceyrebekahscott commented on #1323
Impact Sprints Milestones have been added to the Milestones in Github.

I have created this spreadsheet in the Impact Sprints folder in Drive, for a clearer vision of the most important issues to accomplish by the end of the Sprints: [Issue Planning- Impact Sprints 2022](https://docs.google.com/spreadsheets/d/1ajvCCdrrc8arz87cKKwurSWb6EHgAAWvDMgxiJcyYow/edit#gid=0)

[2022-09-07 01:48] staceyrebekahscott commented on #1301
Reached out to Community Survey project for a list of NC tech. Will see if this information also lists which NCs projects currently have partnerships with.

[2022-09-07 01:53] staceyrebekahscott opened #1330 "Food Oasis project page on Democracy Lab"
### Overview
Food Oasis has a page on Democracy Lab for volunteer recruitment. Code for America is using this to track volunteer engagement during the Impact Sprints 2022.

Positions are being created for all team members.

### Action Items

Please sign up and track hours you are committing to Food Oasis. A brief survey will be sent weekly to be updated.

[Food Oasis on Democracy Lab](https://demo

[2022-09-07 03:18] staceyrebekahscott commented on #1330
Added Product Manager role and sent link to PMs.

[2022-09-07 04:47] fancyham commented on #1274
Researchers familiar with food insecurity populations and issues would be nice, though hard to find, I bet.  I think if you know what food security is, you'll also know what food insecure means.

For the record, while the beets photo above looks like a farmer's market with items stacked for sale, a lot of food distributions (not necessarily pantries, BTW) do have fresh fruits and veggies, but they

[2022-09-07 05:08] fancyham commented on #991
I'm more familiar with interaction design stuff, less so with the visual, style guides, and communicating standards but…

I'd love if we could include in the style guide lots of vision / exemplar / example / archetype screens.

Showing things like the landing screens and the logic for how our layouts respond to different display sizes.

Full-screen layouts would show how elements fit together, spa

[2022-09-07 05:43] fancyham commented on #684
@VirginiaWu11,

**For the share button**

I personally like the Share text because it's so clear, if we can fit it.  Or Share followed by an Arrow, perhaps?

Maybe come up with a couple variations and we can ask the group?  and/or ask the group for examples of sharing buttons that they are most familiar with (perhaps in Slack, then post summary of results here)?

For example, I personally rarely u

[2022-09-07 05:47] fancyham commented on #1304
@entrotech, The design is done here — we're removing the descriptive text and using the standard Food Oasis logo.

Not sure if this should be marked done or what, so please close out once you've created a new task for it?  Thanks!

[2022-09-07 17:11] staceyrebekahscott commented on #1304
Moved back to Questions/ In Review, awaiting response from John D. re: dev tasks.

[2022-09-07 17:56] sei1122 commented on #991
@fancyham, I will ask about more your vision at the meeting.
I'm wondering you are talking about the rebranding and create moodboard or design testing?
or expand the design system that include variety of things.

Do you have any example that I can look at?

[2022-09-07 18:11] itserindean commented on #1274
---------
### Final text for RESEARCHER

---------
![LOGO food oasis horizontal 2](https://user-images.githubusercontent.com/107142453/186766499-656225b9-9878-4932-b4cf-3a92e6621e93.png)

**Project Name**: Food Oasis LA

**Volunteer Opportunity**: We are looking for a UI/UX researcher who can collaboratively work with stakeholders and conduct surveys and interviews for our initiatives. You will be

[2022-09-07 18:12] itserindean commented on #1274
@fancyham @sei1122 @GigiUxR @staceyrebekahscott  Please confirm if you approve this final text for posting.

[2022-09-07 19:27] fancyham commented on #1274
That looks good to me.  If there's space, I'd add a one-sentence description of the project near the beginning.

Something like "Food Oasis (http://foodoasis.la) is a website that helps food seekers find food pantries and meal programs near them."

[2022-09-07 19:34] sei1122 commented on #1274
Design team meeting, we'd like to have one hour
Thursday  7:00 - 8:00 pm Pacific Time

[2022-09-07 19:35] itserindean commented on #1274
@fancyham I think that's good idea and I made that changes since you're the first to review, but I think that's the extent of changes I can make to this text without adding another round of review to the process which has already taken more than  a month and missed 2 onboarding opportunities to get volunteers for these roles.

[2022-09-07 19:36] fancyham commented on #991
Thinking more of the mood board direction / ideal layouts and vision mockups side of things.  Something where we can share inspirations and ideas, but then to distill those ideas into our own designs with vision layouts.

I'll see if I can find something sharable — I'm thinking we could use one of the figma pages as a giant wall for design ideas and inspiration to start.

[2022-09-07 19:39] fancyham commented on #1329
Those screenshots are from the github instructions as examples, but I created a new spreadsheet view of my own that shows items in milestones that are prioritized or in progress: https://github.com/orgs/hackforla/projects/17/views/3

The spreadsheet view seems more compact than the kanban, so that's a plus.

[2022-09-07 19:44] sei1122 commented on #1274
Thank you looks good

[2022-09-07 19:47] sei1122 commented on #991
I see I got it.
In that case, one Figma file should work fine :)

[2022-09-07 19:47] fancyham commented on #1204
In the Figma, we have two 'style guides' listed which is definitely confusing.  From my understanding:

The first one is a style guide of colors, fonts, etc. from 2020

The other "Style guide v2" is from from 2021, and was, I think, intended to be defining new proposed styles, but due to time constraints morphed into an audit of styles currently in-use on the site in May 2021, and showing those vs

[2022-09-07 20:45] entrotech commented on #1310
The above whois search is for hackforla.org.. It appears that everything went through - A whois lookup today shows this:

![image](https://user-images.githubusercontent.com/9939032/188973930-84f7bcdc-a87a-4dd8-9681-c2b5691e6745.png)

In the course of the transfer, they transferred the cloudflare nameservers as well, so Cloudflare is being used for traffic that comes through foodoasis.la (but not f

[2022-09-07 20:45] #1310 closed

[2022-09-07 20:49] entrotech commented on #1328
@staceyrebekahscott When you took that screenshot, were you logged in?  You would not see buttons if you are not logged in or logged in with an account that does not have the "Data Entry", "Coordinator", or "Admin" role.

[2022-09-07 20:55] entrotech commented on #1326
FoodOasis.net domain is already under Hack for LA control, and expires 7/18/23.  Most of the rest of this is taken care of under Issue #1310. Now that both foodoasis.la and foodoasis.net are under Hack for LA admin control, it would be a good idea to have a calendar of expiring domain registrations, though it might be at the Hack for LA organization level.

[2022-09-07 21:00] entrotech opened #1331 "Make changes to the Header appearance on Mobile devices"
### Overview
Design Issue #1304 contains discussion and decisions to make changes to the application header (on map page for example). Need to implement these changes.

### Action Items
- [ ] Change from "stacked header on small width devices to using the standard desktop log on all width devices.
- [x] Remove the tag line from the center of the header on narrow devices (it's not there on wider de

[2022-09-07 21:28] entrotech opened #1332 "Make Cosmetic changes to Static Pages"
### Overview
Make cosmetic changes to Static Pages.

### Action Items
- [ ] Change font sizes, colors to those specific in the Figma
- [ ] Change icon above sections to gray instead of blue
- [ ] Limit text width to max width of 630 pixels
- [ ] Change CTA buttons on static pages to Blue background for normal state, dark blue for hover state.
- [ ] Change background colors of boxes to colors shown

[2022-09-07 22:06] itserindean commented on #1310
Thanks @entrotech Not sure how I failed to catch such a fundamental error. Thank you for checkin in on this today.

[2022-09-07 23:09] staceyrebekahscott commented on #1131
I attended the design meeting this afternoon (Wed, Sept 7, 2022) and was brought up to speed on the interaction and design. I  give PM approval to proceed with Dev tasks.

[2022-09-07 23:12] staceyrebekahscott commented on #1204
@sei1122 Will completing issue #991 also resolve this issue? Please explain how they are related and if they can/ should be combined.

[2022-09-08 00:08] sei1122 commented on #1204
I work on #991 to focus on Typography, Color, and Logo consistency with the Dev team.
After completing #991, we can move on to this issue. Either I or another designer can work this.

[2022-09-08 00:16] #1284 closed

[2022-09-08 00:16] sei1122 commented on #1284
This issue is sent to development #1332

[2022-09-08 00:26] sei1122 commented on #1285
This is sent to development #1332.

[2022-09-08 00:26] #1285 closed

[2022-09-08 00:27] sei1122 commented on #1286
This is sent to development #1332

[2022-09-08 00:27] #1286 closed

[2022-09-08 00:29] sei1122 commented on #1315
This is sent to development #1332.

[2022-09-08 00:29] #1315 closed

[2022-09-08 00:43] itserindean opened #1333 "FOLA Onboard & Offboarding: Developers"
### Overview
We need to have a checklist of items to do when a developer onboards and offboards so that the process can be consistent and fast.

### Date Updated 9-7-22
(insert date you created this issue and keep updating the date each time the org template change are integrated)

### Action Items
- [ ] Check to see if the org template for this process has new steps in it, and if it does, update

[2022-09-08 00:44] itserindean commented on #1333
#### Onboard June Zhao
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
- [ ] Add to team page on Wiki (not yet existing)
- [ ] Meetings
     - [ ] Tell them about Monday 6:30p PT developer stand-up meetings (no meeting invite currently)
     - [ ] Reminders and zoom link posted in '''#fola-devs''' slack channel
- [ ] Google Drive
   - [ ] Add to drive as Contributor
- [

[2022-09-08 04:56] staceyrebekahscott commented on #1296
Met with Mellina from CfA, discussed strategy for reaching out to Jordan. Draft of email is in progress.

[2022-09-08 04:57] staceyrebekahscott commented on #1291
Met with Mellina from CfA, discussed strategy for reaching out to Jon. Draft of email is in progress.

[2022-09-08 16:15] #1266 closed

[2022-09-08 16:39] staceyrebekahscott commented on #1274
I concur, they look ready for posting.

[2022-09-08 16:53] sei1122 opened #1334 "### Resources"
### Resources

[Volunteer Presentation Recording](https://us02web.zoom.us/rec/share/PgZO63p4R4DtFwWHTOsjv08vmo8VMmMsdEe1hhdyuIrGXprJeY6fnoU2ZjZ1TK60.3WwhwDzq-eWhEjtf) (Passcode: 94?za&U+ )
[Articles and News](https://docs.google.com/spreadsheets/d/1XAXtN0Z1Q68TiuvAXFComCVj1LcWzcqXetNyK433WZA/edit?usp=sharing)

[2022-09-08 21:17] sei1122 commented on #1131
I updated the design based on yesterday's review.
I think this is good for now. When the dev team finished part 1 (Correction section), we can come back and review it again.
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=6426%3A11913

<img width="1843" alt="Screen Shot 2022-09-08 at 2 17 18 PM" src="https://user-images.githubusercontent.com/19811032/189227580-14e68014

[2022-09-08 22:36] fancyham commented on #1274
Looks good to me!  Thanks for doing this!

[2022-09-09 00:46] itserindean commented on #1274
@GigiUxR communicated by slack "Not in front of a computer so can't comment in GitHub... I've had a look via mobile and it looks great

[2022-09-09 01:22] itserindean commented on #1274
ads have been posted ahead of the 9/12 onboarding meeting

[2022-09-09 01:22] #1274 closed

[2022-09-09 01:23] #1326 closed

[2022-09-09 03:14] fancyham commented on #991
There are some Figma tools that make export to CSS easier — might be useful to make designs, then to export CSS that the developers can use without additional modification, possibly making incremental site changes easier?

One example: [Builder.io - Figma to HTML, React, and more](https://www.figma.com/community/plugin/747985167520967365/Builder.io---Figma-to-HTML%2C-React%2C-and-more) (thanks, @n

[2022-09-09 03:22] fancyham commented on #991
Todays meeting, we talked about what the goal of this issue is, which is, we think, a way to make it easier for both developers and designers to refer to a single 'source of truth' for how buttons, fonts, and colors should look.

@sei1122 is going to talk to devs to ask how they use CSS and to talk about how we might be able to make this easier to maintain.

Bryan (me) mentioned that it's a lot of

[2022-09-09 16:16] itserindean commented on #1287
Upon reviewing this further I think there could be a value add in adding an "opening soon" tag, but not in adding a "currently closed" tag. As currently implemented the "Open Now" & "Closing in xx minutes" tags call attention to the locations currently open. If everything is tagged, it will only clutter the screen and will no longer effectively call attention to the open locations. @GigiUxR if you

[2022-09-09 20:40] sei1122 commented on #991
I'm going to attend Monday's dev meeting.

Questions to ask engineers.
- What is the current working process?
- Do you have a style sheet of font, colors, and components?
    - Material - UI theme style sheet (this is mentioned on the issue)
    - React components (this is mentioned on the issue)
    - If using these, how do you maintain them?
- What are the pain points of the current workflow/ sy

[2022-09-09 20:48] sei1122 commented on #991
@staceyrebekahscott, @fancyham.
I think we should make milestones for the Design System Update. The project is pretty big and by breaking the issue, other designers can take the issue too.

Here are some breakdown idea
1. Color, Typography, and Logo (This issue)
2. Exemplar / Example / Archetype screens.
3. Moodboard / Vision / Branding
4. Component Review
6. [Communications Guide](https://docs.go

[2022-09-09 21:30] staceyrebekahscott commented on #991
@sei1122 @fancyham I definitely like the idea of setting milestones for this. I'd like to wait until we complete our roadmapping sessions before adding these to Github. But all of these ideas will be considered during roadmapping so the work can be aligned with other project priorities. The breakdown above is a great starting point. Thanks Seiko!

[2022-09-10 04:55] staceyrebekahscott commented on #1331
@entrotech Issue approved for work. Updated labels and milestone, moved to prioritized backlog for dev assignment.

[2022-09-10 04:55] staceyrebekahscott commented on #1332
@entrotech Issue approved for work. Updated milestone, moved to prioritized backlog for dev assignment.

[2022-09-13 00:28] itserindean opened #1337 "link for tonight's onboarding in meetup doesn't seem to be working."
### Overview

- https://us02web.zoom.us/meeting/register/tZUtdeGvrTMoHtKkRwm7R8Kl8r9TXL73-UY9 takes you to a zoom webpage that says "Uh oh!- You seem to have lost your way."
- Thread of people asking for help in [#new-joiner-orientation](https://hackforla.slack.com/archives/C04S7PNCU)
- how do we get people the  correct link ASAP?

### Action Items
Add comment to this issue with your proposed agen

[2022-09-13 00:28] itserindean commented on #1337
![Screen Shot 2022-09-12 at 5 15 46 PM](https://user-images.githubusercontent.com/107142453/189781596-e39b2258-1ee1-4b5e-8983-650769ddec17.png)
is where the link takes you

[2022-09-13 02:59] #1304 closed

[2022-09-13 19:30] staceyrebekahscott commented on #1330
Multiple roles have been added. Posted on Slack channels for team members to sign up to track volunteer hours.

[2022-09-13 19:46] staceyrebekahscott commented on #1299
Posted a message on the Data Science Slack channel to see if someone there could get me access to the NC website data.

[2022-09-13 20:14] staceyrebekahscott commented on #1323
Using the Issue Planning and Milestones as the roadmap for Impact Sprints. See Impact Sprints folder in Drive for the Spreadsheet and Slide Deck listing all of the Impact Sprints docs. [Impact Sprints 2022](https://drive.google.com/drive/folders/16VKH4sqcmfMddvfkSlKTJEb9kRX7OjoD)

[2022-09-13 20:14] #1323 closed

[2022-09-13 21:08] sei1122 commented on #991
Meeting note: Sep 12
Seiko & John H had a meeting with the Engineer team

**What is the current working process?**

- Design -> start development by using the theme (style sheet file)
- Engineers don't so often change the theme file (there are 2 stylesheets for admin and food seeker interface) because that could affect all the pages.

**Do you have a style sheet of fonts, colors, and components?**

[2022-09-15 02:14] #1302 closed

[2022-09-15 05:02] staceyrebekahscott commented on #1269
@yiminng Checking in to see if you would like to take this issue and work to update the HfLA website for Food Oasis. The Website team has an issue template for this, you'll have to reach out to find out the proper process to follow.

[2022-09-15 05:11] staceyrebekahscott commented on #1201
@devnikesh Are you actively working on this? It's still in the Backlog column.

[2022-09-15 05:15] staceyrebekahscott commented on #1127
@itserindean What else are you intending to do on this issue? Can it be closed now that you have the analytics set up?

[2022-09-15 05:32] staceyrebekahscott commented on #1337
@itserindean Does this still need to be an issue in our project?

[2022-09-15 05:33] staceyrebekahscott commented on #1334
@sei1122 This issue appears as if it was added to the test project. Is that what you intended? The issue will disappear if we do not end up transitioning to the new project format.

[2022-09-15 05:36] staceyrebekahscott opened #1341 "Empower LA Data"
### Overview

The LA Neighborhood Councils (NCs), under Empower LA, have committees and
priorities that they manage on behalf of their constituents. They have influence in their
communities and partnering with them to have the Food Oasis tool embedded on their
websites is a way for Food Oasis to expand its reach and help more people.
(more info: [Neighborhood Councils Partnership Strategy for Impa

[2022-09-15 06:48] sei1122 commented on #1334
I think I edit this on the testing Kanban board.
I will close this.

[2022-09-15 06:48] #1334 closed

[2022-09-15 08:29] devnikesh commented on #1201
Hi, @staceyrebekahscott thanks for looking into it, #1342 here I've just made the PR for this issue, ready to be reviewed and deployed.

[2022-09-15 08:29] devnikesh commented on #1201
Hi @staceyrebekahscott, thanks for looking into it, #1342 here I've just made the PR for this issue, ready to be reviewed and deployed.

[2022-09-15 16:47] itserindean commented on #1337
closed because underlying issue was fixed wehn @ExperimentsInHonesty  updated the zoom link

[2022-09-15 16:47] #1337 closed

[2022-09-15 16:49] itserindean commented on #1127
@staceyrebekahscott None of the action items on this have been accomplished yet and to be honest I need todo some learning to even know where to start

[2022-09-15 17:16] staceyrebekahscott commented on #1127
@itserindean Given that this issue was written in Nov 2021 by a PM who is no longer with the project, we can use some discretion as to how much we want to adhere to what was intended when this issue was originated. It is possible that these results might not tell us much at this time. And now that we are in the early stages of roadmapping some Food Seeker initiatives, perhaps it is more important

[2022-09-15 19:35] staceyrebekahscott commented on #1341
@itserindean @yiminng @rylantalerico I could use some help on this one. I created a spreadsheet with all the neighborhood councils listed. I am adding details for the ones that list any kind of food resources or list food insecurity as a focus. I am recommending we reach out to those NCs first to see how interested they are in our embed.

On the sheet, the NC name links to the Empower LA website,

[2022-09-15 20:04] staceyrebekahscott commented on #1299
Abe Khaleghi from Data Science responded with the following:

[Neighborhood tech analysis](https://github.com/hackforla/data-science/wiki/99-Neighborhood-Council-Websites-Technologies-Used-Analysis)

[Builtwith Data on 99 NCs](https://docs.google.com/spreadsheets/d/1gvlBd-tragQmT1oblX560-EWbDXYzrcqVDUhyIzHWa0/edit#gid=1851194011)

[2022-09-15 21:44] staceyrebekahscott commented on #1291
[Draft of email to Jon Deutsch- President of Los Feliz NC](https://docs.google.com/document/d/1yqaK4ucf_1B_f43QoCq9qgggLTTaukxHAhBVuEGe78w/edit#)

Sent draft to Mellina from CfA for feedback.
Sent message to Devs in Slack asking about how well the embed works on Wix.

[2022-09-15 22:48] #1331 closed

[2022-09-15 22:50] staceyrebekahscott commented on #1291
Sent draft to Bonnie via her request form.

[2022-09-15 23:37] staceyrebekahscott commented on #1296
Sent draft email to Mellina from CfA for feedback.

[2022-09-15 23:48] fancyham commented on #1127
I think the first step would be to

- [ ] 1. Determine what we'd like to get information about (and know why) {this would need to be added to the top description}
- [ ] 2. See what we have set up currently and can we derive answers to the above questions?
- [ ] 3. Get a delta of the two above
- [ ] 4. Figure out how to fill in the gaps — it might be site analytics, it might be user research talkin

[2022-09-15 23:51] fancyham commented on #1127
Also, I think there was a PM (Ryland?) who knew their way around Google Analytics really well?  I've done some work with it, so I can also help a bit.

We should figure out what's doable and most useful rather than get overwhelmed.  Analytics is a steep learning curve but is a valuable skill, so we'll want to bring in help/experts/people who are really into learning/doing it. :)

[2022-09-16 00:02] staceyrebekahscott commented on #1127
I agree with the scope presented by @fancyham. I think my point earlier was more that @itserindean shouldn't get too bogged down with this learning curve. If one of the new researchers is familiar with Google Analytics this might be a good issue for them to tackle, once the metrics are established. Erin- would you be OK with taking lead on establishing the metrics, with PM support? Then it would b

[2022-09-16 00:46] yiminng commented on #1269
sounds good!  I will contact website team @staceyrebekahscott

[2022-09-16 01:17] #1300 closed

[2022-09-16 23:35] itserindean opened #1344 "Finalize text for recruiting a content strategist and post ad"
### Overview
We need to recruit a content strategist. We need an ad on github so people in the H4LA onboarding funnel make it to us.

### Action Items

- [x] find similar items from the past for same discipline even if from a different team
- [x] identify where to post this ad
- [x] write initial draft
- [x] share draft with team for review
- [ ] get reviews from other team members
     - [ ] PM

[2022-09-16 23:38] itserindean commented on #1344
I found this [role description](https://github.com/hackforla/civic-opportunity/blob/master/roles-1/content-strategist-ux-writer.md)

### Content Strategist (UX Writer)
Are you a creative thinker? Do you have an interest in storytelling? If you answered yes, then HfLA is looking for you! As a Copywriter, you will have the opportunity to craft the content for the website. Collaborate with a multidis

[2022-09-16 23:40] itserindean commented on #1344
---------
### 1st Draft text
---------
![LOGO food oasis horizontal 2](https://user-images.githubusercontent.com/107142453/186766499-656225b9-9878-4932-b4cf-3a92e6621e93.png)

**Project Name**: Food Oasis LA
Food Oasis (http://foodoasis.la/) is a website that helps food seekers find food pantries and meal programs near them

**Volunteer Opportunity**: We are looking for a Content Strategist (UX Wr

[2022-09-17 01:45] staceyrebekahscott commented on #1045
Closing this issue as stale. Issue #1239 is more current.

[2022-09-17 01:45] #1045 closed

[2022-09-17 01:48] staceyrebekahscott commented on #1239
@fancyham @sei1122 Can you advise how this might fit into our roadmap along with the design changes being planned? Is this something that needs to be done before we proceed with any more design changes? Same for Issue #1238.

[2022-09-17 01:49] staceyrebekahscott commented on #1238
Sent questions to Bryan and Seiko via Issue #1239.

[2022-09-17 18:06] sei1122 commented on #1239
I think not affected by to design side much.
The roadmap is Website improvement? or creating a new milestone that is a Dev-focused issue that has no dependency on other teams.

[2022-09-18 17:00] itserindean commented on #1344
@fancyham @GigiUxR @staceyrebekahscott  please comment with any feedback

[2022-09-18 17:10] itserindean commented on #1246
ONBOARDING FOR Briel Kobak

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on th

[2022-09-18 17:11] itserindean commented on #1246
#### Onboard Sarah Chee

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [

[2022-09-19 02:57] itserindean commented on #1246
#### Onboard Jelena Karanovic 9/18/22

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your

[2022-09-19 16:25] GigiUxR commented on #1344
Being that this is a very public facing role -- establishing online presence while building a reputation as a trusted authority to be partnered up with  / sponsored --  how certain are we that we do not want someone with at least some experience or relevant background?

[2022-09-19 16:32] itserindean commented on #1344
@GigiUxR great point. I will remove that line especially since we don't currently have anyone in a related role to  mentor.

[2022-09-19 17:50] staceyrebekahscott commented on #1239
@entrotech @sei1122 @fancyham My question here is will the design work that is being planned be affected by upgrading to this version of Material UI. Meaning design work might not be able to be worked on if this new upgrade needs to be tested and debugged, thus creating delays in our schedule/ roadmap goals. I am not fully clear on what Material UI is so I am also asking for more of an explanation

[2022-09-19 19:04] itserindean commented on #1156
#### Offboard Gordon Ruby gordonruby
- [ ] Remove from Google calendar invite
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, will happen in future
   - [ ] [Thursday at 6pm PT - All-team meeting]
   - [ ] [DAY - Design team meeting] - currently not happening, will happ

[2022-09-19 19:04] itserindean commented on #1156
#### Offboard Alison Chan talisonc 9/19
- [ ] Remove from Google calendar invite
   - [ ] [DAY - PM meeting] - not currently happening because no pms
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [DAY - UX Research meeting] - currently not happening, will happen in future
   - [ ] [Thursday at 6pm PT - All-team meeting]
   - [ ] [DAY - Design team meeting] - currently not happening, will h

[2022-09-19 19:36] staceyrebekahscott commented on #1344
Made a small tweak to the URL- changed http to https.

If we are asking for someone with experience, should we specify a time period for how experienced they are, or ask for work examples?

[2022-09-19 19:44] itserindean commented on #1344
What if we work experience into the who to contact:
Reach out to Erin Dean on #FOLA slack channel and please share any relevant experience.

[2022-09-19 20:06] staceyrebekahscott commented on #1344
@itserindean Good idea, I like that.

[2022-09-19 22:56] cheesarah commented on #1246
Hi,

I am finished with the onboarding checklist, but I’m having a problem understanding how to check it off the checklist. Do you want me to copy and paste it into the comments? The  boxes disappear…

Best,

Sarah Eunkyung Chee

“Love is the bridge between you and everything”  Rumi

[2022-09-19 23:40] itserindean commented on #1246
@cheesarah I messsaged you in slack to help troubleshoot

[2022-09-19 23:45] cheesarah opened #1346 "#### Onboard Sarah Chee @cheesarah 9-18-22"
#### Onboard Sarah Chee @cheesarah 9-18-22

**New member, do these and check off as you complete them:**
- [ X] Join Slack channels
  - [x] ```#fola```
  - [x] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [x] Writ

[2022-09-19 23:52] itserindean commented on #1346
closing since you've checked these off

[2022-09-19 23:52] #1346 closed

[2022-09-20 02:28] staceyrebekahscott commented on #1341
@bkobak33 @jelenaUX @cheesarah Please see the comment above for instructions on what to do. Thanks for your help!!

[2022-09-20 03:02] staceyrebekahscott commented on #1341
@miolow As per my message in Slack, please see the comment above from last Thursday for an explanation on what needs to be done. Your assistance would be appreciated.

[2022-09-20 03:05] staceyrebekahscott commented on #1144
@GigiUxR I see you reopened this issue after it was closed and put in the Done column. I moved it back to the Backlog column. Keep in mind that there is no automation to put the issue back in the correct priority, so if you reopen an issue, you must manually reprioritize it.

[2022-09-20 03:06] staceyrebekahscott commented on #1344
@itserindean A reminder that this issue is not showing on the main board because you have not added it to the project.

[2022-09-20 19:37] staceyrebekahscott commented on #1299
Added information in the Google Drive in the folder Community Partners -> LA Neighborhood Councils.

[2022-09-20 19:46] staceyrebekahscott commented on #1296
Sent email to Jordan, requesting a time for us to chat about Food Oasis and LA Works.

[2022-09-20 19:49] staceyrebekahscott commented on #1269
@yiminng Checking in- Will you be able to make progress on this issue this week?

[2022-09-20 23:30] yiminng commented on #1269
I've contacted the team on slack however no one has responded to it. I found an old issue https://github.com/hackforla/website/pull/3327, and commented here

[2022-09-21 00:10] staceyrebekahscott commented on #1269
@yiminng Note that you updated a Pull Request, not an Issue.

If you go to the Website project's board, go to Issues -> New Issue -> there is an issue called: Project Profile Card review and update. Start a new issue on the Website project board for Food Oasis, and use the old issue # 3232 and follow the format for what needs to be updated.

For who should be listed now:

Stacey Rebekah Scott: Pro

[2022-09-21 00:16] staceyrebekahscott commented on #1269
@yiminng Also a reminder to check the other items listed in the issue Overview. We want to make sure to check the resource links and the overview details to make sure they are current. [Food Oasis on HfLA Website](https://www.hackforla.org/projects/food-oasis)

[2022-09-21 00:23] staceyrebekahscott commented on #1269
Sent note to Yi Min via Slack suggesting collaborating on this, as it might be easier to work together.

[2022-09-21 17:27] fancyham commented on #1290
@sei1122 Is this issue solved by the work on you did on the static pages?  #1286

Development issue:
#1332

If so, I think we can close this one out!

[2022-09-21 17:41] itserindean commented on #1246
#### Onboard

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [Roster](htt

[2022-09-21 17:41] itserindean commented on #1246
#### Onboard Xinming Zhou @stephzh99

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your

[2022-09-21 17:45] fancyham commented on #1207
@sei1122 I think this might have been addressed by your recent design work on the static pages?

[2022-09-21 17:47] bkobak33 opened #1347 "ONBOARDING FOR Briel Kobak @bkobak33 9-18-22"
ONBOARDING FOR Briel Kobak @bkobak33  9-18-22

**New member, do these and check off as you complete them:**
- [X ] Join Slack channels
  - [X] ```#fola```
  - [X] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [x] W

[2022-09-21 17:49] sei1122 commented on #1290
No I haven't included this issue.
We need to review this.

[2022-09-21 17:52] sei1122 commented on #1207
yes, this issue is covered and currently development #1332.
I close this issue.

[2022-09-21 17:52] #1207 closed

[2022-09-21 18:13] sei1122 opened #1348 "Change the page title color"
### Overview
"Locate free food in Los Angeles" title text in map view is blue which is used for links and buttons.
We need to change the text color so user won't think this is a link.

Reference:
Issue #1286 was similar problem and we changed the H1 title to black. H2 title to gray.

<img width="1406" alt="Screen Shot 2022-09-21 at 11 08 20 AM" src="https://user-images.githubusercontent.com/198110

[2022-09-21 19:10] #1347 closed

[2022-09-22 19:11] sei1122 commented on #1348
Hi @badgerlocke,
Did you onboard the Food Oasis dev team?
I didn't see your name on our Roster.
If you haven't, go to the Slack #fola channel and ask Erin (our PM).

[2022-09-22 22:34] fancyham commented on #1344
I think the Hack for LA listing is pretty good.  Ours feels a bit too marketing-oriented in comparison?

Another possibility is that rather than having someone on FOLA staff (I'd worry there's not enough to do?), we see if we can borrow or bring on writers for project-based work from some sort of Hack for LA pool of UX writers (if there's such a thing) as needed, and that person(s) would work with

[2022-09-22 23:00] fancyham commented on #1344
Also, just sharing that writing job titles are kinda changing/ getting more refined as the industry matures:

https://uxwritinghub.com/content-strategy-and-ux-writing/

TL;DR; Content strategy used to be a too-broad blanket statement that encompassed actual corporate strategy all the way to copy writing instructions.  Now new, more specific terms Content Design, UX writing, etc. to differentiate w

[2022-09-22 23:16] itserindean commented on #1344
@fancyham  a couple of thoughts:

I'll make a few tweaks to remove marketing terminology and focus on our immediate needs

re: we got a ton of recruits last time. There is a designated project board for both designers and researchers and as the most recent post were the first one all onboarders saw. (And in the case of researchers were one of only 2 posts total.) There is no project board for writ

[2022-09-22 23:51] fancyham commented on #1239
From what I've read, 5 might make styling easier and improve site responsiveness.

@staceyrebekahscott info about Material UI.  It's a framework that makes creating React UIs easy with standardized UI components.  https://mui.com

[2022-09-22 23:56] fancyham commented on #1344
I don't!  Not sure who to ask but that might be a head start or interim solution if we could borrow that person once and a while :)

[2022-09-23 00:25] itserindean commented on #1344
im not particulaly optimistic that they've have someone but i'll inquire via slack

[2022-09-23 02:50] GigiUxR commented on #1144
@staceyrebekahscott to inquire about resources / guides specific to nonprofit UX Benchmarking
 Waiting for Tyler to get onboarded then assign this issue to him.

[2022-09-23 19:25] itserindean commented on #1246
#### Onboard

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [Roster](htt

[2022-09-23 19:25] itserindean commented on #1246
#### Onboard

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [Roster](htt

[2022-09-23 19:25] itserindean commented on #1246
#### Onboard

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [Roster](htt

[2022-09-23 19:25] itserindean commented on #1246
#### Onboard

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on the [Roster](htt

[2022-09-23 20:41] fancyham commented on #1003
This issue can/should be closed because the site already supports customizing logos and static pages for different regions.

[2022-09-23 20:55] fancyham commented on #1329
At our recent meeting, we found that the new interface was nice though it was missing some things that we were used to like milestones and some other metadata.  The spreadsheet view seemed well received by our team.

My gut feeling is that this is the 1.0.  We'll want to balance the lack of certain features for the availability of new ones (like the spreadsheet view)

We wanted to get feedback fro

[2022-09-23 20:56] #965 closed

[2022-09-23 21:28] fancyham opened #1349 "Learn more about non-English language food seekers and how we might support them"
### Context

Currently, Food Oasis only supports the English language which means we don't support well the many food-seekers who are not fluent in English.

We currently have very little information about this significant group of users, and I think we can start getting (and sharing) insights based on what we can see, observe, and test and those will help us better understand these users as well

[2022-09-23 23:48] staceyrebekahscott commented on #1144
I posted a message on the Code for America # general-discussion Slack channel, seeking advice/ guidance on benchmarking for public/ non profit.

[2022-09-24 00:29] staceyrebekahscott commented on #1269
@yiminng Please make the following updates to the website issue (I cannot edit it): https://github.com/hackforla/website/issues/3572

Tools: Figma, whiteboard / paper & pencil, photoshop, phone calls, paper prototyping, Google forms, FigJam, Usabilityhub.com surveys, Excel, R, Google Analytics, SPSS, Mplus, AtlasTI

Languages: JavaScript, PL/pgSQL, SCSS, CSS, HTML, Dockerfile, Shell

Technologies:

[2022-09-24 00:33] staceyrebekahscott commented on #1319
This issue has been added to the Idea Planning sheet: [Idea planning for Roadmapping 2022](https://docs.google.com/spreadsheets/d/11FD_fcR0zuC63fZfXSdS3h9bIdCn74nyUx0_2R7mBp8/edit#gid=0)

As per my idea to put long term goals (6mo or longer) on the planning sheet, I am closing this issue as not planned, and linking this issue on the sheet as a reference for future consideration.

[2022-09-24 00:33] #1319 closed

[2022-09-24 01:42] GigiUxR opened #1350 "Google Analytics Research"
Dive further into the latest report pulled by Erin to understand the data, for instance:

Why so people from outside USA?
Why desktop if most users are now mobile-first?
How to filter out volunteers (i.e. if they hit database editing pages, exclude them)
What can we tell based on our current analytics?  What can’t we tell
How to set up events to track certain actions (like user clicking a ‘share’

[2022-09-24 03:20] GigiUxR opened #1351 "Want team access to DEI (Diversity Equity Inclusion) resources and think about FOLA with DEI in mind"
We would like to access DEI learning resources and begin thinking about FOLA with DEI in mind.

[2022-09-24 17:34] fancyham commented on #1329
Got an update from Bonnie — she’d like us all to hold off for now:

Bonnie:
“Hi PMs  -- You may have noticed that GitHub has launched a new type of project board.  Please hold off on using them for now.  Read the thread for more details

The website team had a 2 hour meeting with GitHub and here is why we want everyone to hold off
1. When you make the board it will have to have your project name,

[2022-09-24 17:50] itserindean commented on #1329
Sounds good. yes let's delete the playground now as planned.

[2022-09-25 03:57] fancyham commented on #1341
For future reference, NC = Los angeles neighborhood council
https://empowerla.org/about-neighborhood-councils/

@staceyrebekahscott could you add to the description of this issue to flesh out what this means for those not already familiar?

[2022-09-26 04:53] staceyrebekahscott commented on #1351
Issue Approved and moved to In Progress.

[2022-09-26 04:55] staceyrebekahscott commented on #1350
Issue Approved and moved to In Progress.

@itserindean I think issue #1127 can be closed, please confirm.

[2022-09-26 18:59] itserindean commented on #1127
Closing since this is now covered by #1350

[2022-09-26 18:59] itserindean commented on #1350
#1127 has been closed.

[2022-09-26 19:05] itserindean commented on #1350
This is the "report" @GigiUxR  mentioned above (screenshots of the analytics page captured 9/24/22
[analytics.pdf](https://github.com/hackforla/food-oasis/files/9648951/analytics.pdf)

[2022-09-27 01:03] staceyrebekahscott commented on #1144
FYI, here is the conversation from the UX Benchmarking question I posted on the CfA Slack:

Stacey (she/her)  [4:47 PM]
Hello! Does anyone have any advice/ guidance regarding UX Benchmarking for websites in the Non Profit sector? I ask assuming there might be different criteria to consider for non profit/ public sector vs. commercial/ private sector.

Ray Kiddy  [4:54 PM]
UX Benchmarking would be

[2022-09-27 03:10] staceyrebekahscott commented on #1144
@GigiUxR Moved to In Progress. Will leave to you to assign to the researchers once you go through the kanban board/ issue workflow training.

[2022-09-27 03:47] staceyrebekahscott commented on #1341
[Neighborhood Councils Partnership Strategy for Impact Sprints 2022](https://docs.google.com/document/d/1UVv6pT7Y1hjLELp9yhwfK1l4IElbm6Qc499-AqB2VV4/edit)
Link also in Overview

This details the strategy for the Neighborhood Councils Partnership, including success measures, challenges and next steps.

[2022-09-27 04:25] staceyrebekahscott commented on #1296
Sent Follow Up email to Jordan.

[2022-09-28 03:01] staceyrebekahscott commented on #1151
Closing this issue as outdated. No issue like this has been reported since this was created.

[2022-09-28 03:01] #1151 closed

[2022-09-28 03:05] staceyrebekahscott commented on #1328
Closing this issue as resolved. I have since been given the Admin role.

[2022-09-28 03:05] #1328 closed

[2022-09-28 05:21] yiminng commented on #1269
Information update on issue, messaged slack channel re: issue

[2022-09-29 17:56] sei1122 commented on #991
I finish auditing the Food seeker and the admin site.
Some of the colors I couldn't find on the interface.
The next step will be to talk to engineers and ask if they are still using those colors.
If it is not used, we take them out from the Style sheets.

<img width="910" alt="Screen Shot 2022-09-29 at 10 52 52 AM" src="https://user-images.githubusercontent.com/19811032/193106102-6dc896ae-84fd-487

[2022-09-29 22:38] fancyham opened #1354 "Food-seeker site : responsive layouts have inconsistent breakpoints"
### Overview
The public site http://la.foodoasis.net is a responsive website, meaning that the layout of the UI changes based on the screen size.  This allows the UI to optimize itself for different device sizes — smartphone, tablet, computer.

Our site currently has inconsistent breakpoints (when a new layout kicks in), with odd breaks like 607 px-wide (see attached)

[Site Map - Food Seeker - Pu

[2022-09-29 22:41] fancyham commented on #1016
Link to PDF of Site Map (overview, public food-seeker site, private volunteer site)
https://drive.google.com/file/d/1-41kc0SY8AZjo8Qyg_UC5PFPYYP5uw9r/view?usp=sharing

Live link to site map in Figma is:
https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=3940%3A8802

While reviewing the site, I also discovered that we have responsive page layouts with odd breakpoints?
Issu

[2022-09-29 22:41] fancyham commented on #1016
@staceyrebekahscott Did you want to review this before I close it out?

[2022-09-29 23:16] fancyham commented on #1350
@GigiUxR When you have a chance, would you mind adding a bit more description to the issue title so that it's easier to disambiguate from future Google Analytics Research issues?  (I bet we're gonna have more in the future)

[2022-09-30 02:26] fancyham commented on #1288
@itserindean tagging you here — could you chat with Fern to see how 'contact us' emails come in and if/how we might manage them?

@fnkdesign could you add screenshot of your latest designs for discussion?  Thanks!

[2022-09-30 02:43] staceyrebekahscott commented on #928
Check in with Slack channels: UI-UX, Data-Science, Developers
Ask about HfLA guides or frameworks for testing
And check the Community of Practice kanbans for issues.

[2022-09-30 02:50] staceyrebekahscott commented on #996
@jelenaUX @cheesarah I assigned this issue to you as per [UX Research Map of Content/ Index](https://docs.google.com/document/d/1NTwo45W9BRU5dMItVdnhSCbCIEnsU4nIfwnk-RvYkeA/edit)

@GigiUxR I'd like to be looped into this as the issue progresses. And if the issue needs more hands, John H might be interested in contributing.

[2022-09-30 03:37] fancyham opened #1355 "Do an accessibility benchmark & gap analysis of our food-seeker website"
### Overview and goals

We currently don't know how accessible our website is for people with low vision/ blind, neurodivergence, etc.

We'd ideally like to be accessible to as many people as possible, so let's find out where we can improve.

So let's learn about how to do an accessibility review, do that review to identify areas for improvement, and enter those areas as issues.

### Action Items

[2022-09-30 03:46] fancyham commented on #1144
FYI, on a related DEI note: I created an Accessibility benchmarking issue here for the food-seeker site:
- #1355

[2022-09-30 03:49] staceyrebekahscott commented on #1321
Assigning this to myself. Seiko is going to help with this. [Hack for LA: Food Oasis - Brigade Congress 2022 Deck](https://docs.google.com/presentation/d/17WWB4gsCWZuW8mcS6KAfomixbmpuUJUKCd7PBvQ9Mwk/edit?usp=sharing)

@sei1122 I have added you as an editor to the Slide deck. It is currently in my Code for America Drive, but will be moved to our Drive after Brigade Congress.

[2022-09-30 03:52] fancyham commented on #928
Just realized that this issue is really only about data transferred — instructions for how to do it are above, but for Accessibility, please see issue #1355

[2022-09-30 05:30] sei1122 commented on #1321
Here is the process
1. Find templates
2. Pick a template
3. Change the template to the Food Oasis theme
4. Format content
5. Add illustration based on content if you'd like

[2022-09-30 14:56] jnaito777 commented on #1115
Something to note: right now, the current system allows any input in the search bar such as "cakes," and it proceeds to show the user the default map of LA. But I wonder if we should accommodate for users that want to search for "beans" or "rice" as a food query.

[2022-09-30 17:27] sei1122 commented on #1148
As I remember, this design is done by @souronion.
Probably it hasn't made a development issue.

[2022-09-30 18:19] itserindean commented on #1246
#### Onboard Isabella Ku 9/30/22

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info

[2022-10-01 03:25] jelenaUX commented on #996
Hi @GigiUxR @staceyrebekahscott @cheesarah as per @fancyham request I am adding a link to some competitive research on a similar self-updating feature from Google -- now all stored in a dedicated file in the Org Research Folder: https://docs.google.com/document/u/0/d/152kjzbXma59_85G9hseZ5AHETb-M7nt4yZAAgyldd7M/edit

[2022-10-01 04:51] staceyrebekahscott commented on #1321
Slide Deck template: [Food Oasis](https://docs.google.com/presentation/d/1w-RUsEY88Dp8hPE9nd1U878lx8CVwF-UUMvrSH6V71s/edit#slide=id.g35f391192_00)

[2022-10-01 04:55] staceyrebekahscott commented on #1016
Thanks @fancyham, This looks great! I'll share it with the other PMs. Go ahead and close out the issue.

[2022-10-01 07:21] fancyham commented on #1016
Done!

[2022-10-01 07:21] #1016 closed

[2022-10-01 18:16] GigiUxR commented on #996
Excellent!

On Fri, Sep 30, 2022 at 11:25 PM jelenaUX ***@***.***> wrote:

[2022-10-01 19:09] GigiUxR commented on #964
This issue is too broad -- an epic?   A related issue with a more narrow scope is the multi language research that is in progress.  And there will be a lot more food seeker research coming along -- perhaps we can continue to attach all of our seeker related research to this epic?

[2022-10-01 19:49] fancyham commented on #1355
Some resources to find accessibility auditing tools/checklists/methods:

Ask for tips/resources on HfLA Slack channel [#accessibility-design](https://hackforla.slack.com/archives/C022A50T6JK)  as well as on the web to find out what’s the current best practice (that are feasible for us)

Also, it looks like our Slack is on a temporary free trial so do some searches and you might find something.

It

[2022-10-01 20:18] fancyham opened #1356 "SEO and investigate making Food Oasis web-crawler-compatible"
### Overview
Our site seems to currently require human interaction to get to listings and that our food-provider info pages aren't being crawled or indexed by search engines.

If that's the case then our site would be considered very non-SEO (search engine optimized).

To allow people to find listings using Google and other search engines, we should consider creating a 'flat' version of our site t

[2022-10-01 21:16] fancyham commented on #928
Please try to add screenshots of the list of files being transferred so that we can identify which items are using the most data and to see if we're still needing those items. (i.e. hotjar.com)
![Screen Shot 2022-10-01 at 2 16 22 PM](https://user-images.githubusercontent.com/3376957/193428604-9a298702-610a-4af9-b779-436c36e2abfd.jpg)

[2022-10-02 01:30] fancyham commented on #947
@JohnHaoHuang Please add a few screenshots of your latest version when you're ready to share!

[2022-10-02 20:18] GigiUxR opened #1358 "Explore web scraping as data collecting tool"
Explore the benefits, feasibility, and efforts necessary to implement an automated web scraping process to collect and parse raw data from relevant websites.

[2022-10-03 01:30] itserindean commented on #964
I open to whatever makes the most sense to the researchers re: tracking these. LInking all foodsedeker research to these could be useful for tracking/finding related issues moving forward.d

[2022-10-03 17:51] fnkdesign commented on #1288
According to the previous discussion, we have our "Contact Us" section on the "[About Us](https://foodoasis.la/about)" page, which makes it complicated for users to jump from "[FAQs](https://foodoasis.la/faqs)" to find our contact information on "[About Us](https://foodoasis.la/about)" page if they need to contact us for additional information.

I agree with @sei1122 suggestion that we can create

[2022-10-03 23:53] jnaito777 commented on #928
List of file names transferred. The first two screenshots show the full list of files being transferred. The last screen shot is sorted by transfer size.

<img width="816" alt="Screen Shot 2022-10-03 at 4 02 27 PM" src="https://user-images.githubusercontent.com/114040198/193700954-7a68f231-5e2f-4e24-b801-c631d8db1b78.png">
<img width="810" alt="Screen Shot 2022-10-03 at 4 02 41 PM" src="https://us

[2022-10-04 02:04] staceyrebekahscott commented on #1296
Jordan responded via text to Erin: he wants to roll off the project by the end of the year. This is an opportunity to transition the training process back under Food Oasis control. I will reach out and correspond with Jordan via text/ email, to plan out this process and find out his ideas on how we can work better with LA Works, including establishing more contacts with them.

This will be a templ

[2022-10-04 02:51] staceyrebekahscott commented on #1298
@itserindean I just found this in the Issues list, but it had not been added to the project. Can you check this and evaluate that this is an problem that still needs to be addressed?

[2022-10-04 03:04] staceyrebekahscott opened #1361 "DemocracyLab Documentation Review"
### Overview
Message from Mark at Democracy Lab: The team at DemocracyLab is performing a documentation review for all of the Impact Sprints projects. As part of this process, we'll prepare a user journey map for each project to help identify opportunities for documentation improvement.

We know that many projects are recruiting new volunteers through DemocracyLab. We'd like to know what other ent

[2022-10-04 03:12] staceyrebekahscott commented on #1361
@itserindean @rylantalerico @yiminng @fancyham @GigiUxR @entrotech Created issue for Documentation Review, sent message to Mark asking who else other than him might need access to our Google Drive.

[2022-10-04 03:18] itserindean commented on #1298
Technically yes it would be better if this went away in this case, but I don't think this should be a priority for engineering hours at this point. When the user is in detoured they've explicitly taken action to get there so I don't think they will get confused by this because they are presumably there to find details about a listing.

[2022-10-04 03:18] #1298 closed

[2022-10-04 03:29] staceyrebekahscott commented on #1296
I will ask Jordan to explain his process for how he goes through the Admin portal and approves listings, etc. We will then create documentation for all PMs, make sure all PMs have Admin access and can work through any updates or update requests.

This should address #922, which I will close as Stale and note that it will be addressed in this issue.

[2022-10-04 03:30] staceyrebekahscott commented on #922
Closed as Stale, to be addressed in #1296

[2022-10-04 03:30] #922 closed

[2022-10-04 04:08] staceyrebekahscott commented on #1361
Granted Mark Viewer access to the FOLA Google Drive.

[2022-10-04 17:48] staceyrebekahscott commented on #1361
@itserindean @rylantalerico @yiminng @fancyham @GigiUxR @entrotech Granted Matt Buckingham Viewer access to FOLA Drive. He will be assisting Mark with the Doc review.

[2022-10-04 23:21] staceyrebekahscott commented on #1269
@yiminng What is the status on this? If you're not having any luck on the Slack channel, maybe try searching through the In Progress issues on the Website team's Kanban and sending an @ mention to someone from Issue 3572 to alert them that the issue needs attention. Ask how long these updates typically take so we can have some expectations.

[2022-10-04 23:42] staceyrebekahscott commented on #1296
Sent text to Jordan, re scheduling a chat to discuss LA Works/ FOLA Partnership.

[2022-10-05 13:28] GigiUxR opened #1362 "Collect demographics data about validation volunteers"
### Context

We’d like to make informed decisions but the team lacks details about our data validation volunteers.

### Goal

We need current demographic information on one of our major user group: data validation volunteers. Action steps TBD after a discussion the below point with team leads.

- [x] - What do we already know?
- [x] - What kind of information do we collect when volunteers sign up

[2022-10-05 16:44] staceyrebekahscott commented on #1362
@GigiUxR @bkobak33 I am working on connecting with Jordan at LA Works (via text, sent yesterday) as well as cultivating other contacts there. I will ask him about this process when I connect with him.

[2022-10-05 16:48] staceyrebekahscott commented on #1362
Approving issue and moving to In Progress. This will likely be part of an Epic re: volunteer engagement. I am adding the Partnership Engagement milestone for now, as that is the milestone I am using for #1296 Partnership with LA Works, but I am discussing with Gigi on a larger strategy so this milestone may change.

[2022-10-06 00:51] itserindean commented on #1329
@fancyham I still see the playground, it doesn't seem deleted.

[2022-10-06 17:31] staceyrebekahscott commented on #1341
@isaella @cheesarah I created a second tab on the NCs spreadsheet, and added only the NCs identified as having food resources on their site. I'd like to do further research into these NCs. I've added columns for Leadership, other NC priorities and thoughts on how to engage with them. This last column I'd appreciate any ideas you have as you are looking through their websites that might be useful t

[2022-10-06 19:48] staceyrebekahscott commented on #748
@jnaito777 Can you review this issue and advise how this might be related to #928? These issues sound similar and I am wondering if the scopes can be combined. If so, I would say we should close this issue and add the tasks from here onto issue #928. Let me know what you think.

[2022-10-06 20:19] fancyham commented on #1329
Just deleted the playground project.

Reading over the 'hold off for now' reply from the HfLA admins, the issues holding them back see to be relatively minor UI issues (from my perspective) vs the benefits so PMs, could you keep your ears open in the #PM channels?

Let's keep an eye on this feature and check in with admins again in a month or two and keep pushing for it — I think the spreadsheet v

[2022-10-06 20:26] fancyham commented on #1329
If anyone has suggestions, I'd love for us to have a way to make sure we revisit this kanban issue periodically until we can start using it.

[2022-10-06 20:33] staceyrebekahscott commented on #1329
Either a calendar reminder or a note on our Leads/PM meeting agenda to check in Nov 1, and then monthly until we can do it. I'll add a reminder for myself on my personal calendar.

Also, I've been thinking about the reference stuff for a while. A lot is outdated and doesn't need to be there, but much of it should be in the Wiki. We will start that conversation amongst the PMs and get it organized.

[2022-10-06 20:54] jnaito777 commented on #928
Attached the results and created a guide to be able to recreate this simulation in the future. This accessibility bench mark covered various devices (mobile, tablet, laptop) with various sizes via responsive mode, and measured resource size, transfer size, and load time. Also performed a simulation benchmark on how long (theoretically) it takes for a user to navigate the website in various network

[2022-10-06 23:14] itserindean commented on #1288
This design seems to envelop the FAQ but i dont think it would occur to me to click on "Contact us" if i'm looking for FAQ or am i misunderstanding the design?

I'm not sure the underlying premise that users expect contact info as part of the FAQ is accurate. I personally prefer having it as a part of About Us and maybe putting a link at the bottom of FAQ to that page if we think it necessary (I"m

[2022-10-06 23:21] itserindean commented on #1332
I don't see the work from #1315 in the action items. Am I missing something?

[2022-10-06 23:24] itserindean commented on #1131
Should this be merged with #996?

[2022-10-07 01:09] yiminng commented on #1269
messaged 2 people, one responded. Now in communication with @blulady it is now on "New Issue Approval" on the Website team github.

[2022-10-07 02:35] hanapotski opened #1363 "Add thunder client files"
### Overview
Since we don't have time to write tests and postman team workspace doesn't work for more than 3 team members, @Nechir-89 suggested we use thunder client instead

### Details
Thunder client Allows run webAPI endpoint tests from the terminal in dev env.

[2022-10-07 17:51] fancyham commented on #748
@jnaito777 if you have time, could you do a try at using Google Lighthouse test on the two screens — landing page, map view (not quite sure which page they mean — this is why process documentation is so important!) — and see what our current results are we we can compare vs those 2020 results?

We can treat those earlier ones as the initial benchmark. Maybe we’ve made some significant improvements

[2022-10-07 18:30] itserindean opened #1365 "Update content in About US static page to be more current."
### Overview
When a user clicks on the "[About Us](https://foodoasis.la/about)" page they expects to learn current information, but our page is about 2 years old in content. The current page references Covid A LOT and most recent date listed in 2020. Should reflect current number of organizations in the data base.

### Action Items

- [x] research latest statistics
- [x] Language clean up ideation

[2022-10-07 19:34] itserindean commented on #1344
@staceyrebekahscott  yes Sam Hyler could potentially do this and she'll hopefully can help recruit 1-2 more for it.

[2022-10-07 19:35] itserindean commented on #1344
another content time is a style guide for writing...

[2022-10-07 20:21] itserindean commented on #1281
This could also consider FAQs from:

- partners who want to embed our site
- social workers who want to help clients
- food pantry site that wants to add themselves to database

[2022-10-08 01:38] fancyham commented on #928
One thing I noticed here are that we have a hotjar.com script (it records clicks and movements) but I don’t think we have access to that account any more. That would be something to remove.

- [ ] Investigate removing hotjar.com scripts if we are not using its analytics

[2022-10-08 03:39] GigiUxR commented on #1287
@itserindean I personally think that having "Opening in XXX.." is quite valuable ( I imagine we only have this tag showing if it is within a short amount of time - yes?) and not mentally cluttering. Rather, I see myself weighing together  options that are Open Now, with places Opening in 15 minutes, etc.  To move this forward, we could do a quick design preference test with food seeker like-minded

[2022-10-08 21:23] fancyham commented on #379
Just to clarify here that "client-side" means that the web browser (i.e. the "client") is validating the entries to make sure that they're parsed correctly into a database-compatible format before the data is submitted to the server.   This is in comparison to 'server-side' validation where a data field is sent by the browser to the server and error checking happens on the server.

This is commonl

[2022-10-09 01:15] fancyham commented on #1127
Hey, I noticed during #928 that [we have a hotjar.com analytics package](https://github.com/hackforla/food-oasis/issues/928#issuecomment-1266216179) running on our site that is tracking what our visitors do, but I think we don't have access to those results?

TL;DR: If we're not using hotjar and don't intend to, then we're wasting bandwidth for our users and exposing them to unnecessary tracking a

[2022-10-09 02:01] fancyham commented on #1341
@staceyrebekahscott FYI, the document with the background of this issue "[Neighborhood Councils Partnership Strategy for Impact Sprints 2022](https://docs.google.com/document/d/1UVv6pT7Y1hjLELp9yhwfK1l4IElbm6Qc499-AqB2VV4/edit)" looks like it's about to be deleted.

I added the first part of that document to this issue's description so that it's easy to follow and in case the file goes missing/get

[2022-10-10 21:28] staceyrebekahscott commented on #1296
Jordan responded via text, call is scheduled for Thurs, Oct 13 at 3PM.

[2022-10-10 22:15] itserindean opened #1366 "get Oportun paperwork to receive $500 donation"
### Overview
The FOLA team received an email from LA Works that one of their corporate partners (Oportun) would like to donate $500 to us! They have requested 3 pieces of documentation

### Action Items
They have requested:
- [x] W-9 Form
- [x] IRS Determination Letter
- [x] ~~Grant Invoice for $500 that references “Oportun Volunteer Week 2022”~~
- [x]  donation acknowledgment letter 500 that refe

[2022-10-11 09:07] fancyham commented on #1206
Go for it, but take a look at the prioritized backlog first to see if there’s something interesting there.  Those are higher priority and this one hasn’t been reviewed / prioritized by the team yet so there’s a small risk it might change.

[2022-10-11 09:23] cheesarah commented on #1346
thank you!

Sarah Eunkyung Chee

“Love is the bridge between you and everything”  Rumi

[2022-10-11 18:11] staceyrebekahscott commented on #1363
@hanapotski Issue approved and moved to In Progress.

[2022-10-12 00:34] fancyham commented on #1206
That's weird — I think that was an old draft comment from a couple months ago.  Sorry for the confusion.

[2022-10-12 00:46] fancyham commented on #1288
@itserindean General question: How often do we get emails currently and what types do we typically get?

Trying to judge how many contacts we get and our capacity for handling them (if we do), and then how to handle contacting us.  Is the current link enough?

![Screen Shot 2022-10-11 at 5 43 36 PM](https://user-images.githubusercontent.com/3376957/195223507-2c0ac0b4-0625-43ab-b42d-a25abd87a2b4.jp

[2022-10-12 01:29] itserindean commented on #1366
w

[2022-10-12 01:36] itserindean commented on #1366
On 10/11: Received IRS Determination Letter from @ExperimentsInHonesty & form 990 from Karen.
still need:
- [ ] W-9 Form
- [ ] Grant Invoice for $500 that references “Oportun Volunteer Week 2022”

Karen shared in slack #admin "Bonnie was checking with CFA regarding W-9 and grant invoice. From personal experience, CFA didn’t have a template MOU for me to use with Code for Hawaii. So I googled some

[2022-10-12 01:52] itserindean commented on #1288
@fancyham We get emails daily but I'd estimate **less than one a month from someone finding our email on the site.**

what we do get:
- There's probably 1-2 emails a week that require a response from me (OF all the email to that address)
- accept/declines for meeting requests
- we're on a few random mailing lists

[2022-10-12 14:27] itserindean commented on #1127
reopening to answer questions re: hotjar

[2022-10-12 18:53] #1363 closed

[2022-10-13 22:51] cheesarah commented on #996
Reviewed flow with @jelenaUX on prototype Mockup email reminder, in the [Figma file](https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=2943%3A7820)

[2022-10-13 23:18] staceyrebekahscott commented on #1341
@fancyham Thank you for bringing my attention to the document being deleted. I removed it from the trash. And thank you for adding details to the issue description.

[2022-10-13 23:35] jnaito777 commented on #748
Here are a few screenshots from Google lighthouse's report viewer. Please let me know if any details need to be added.
Landing page:
<img width="843" alt="Screen Shot 2022-10-13 at 4 23 16 PM" src="https://user-images.githubusercontent.com/114040198/195728671-4df4624e-5227-429b-8088-4d58a05707ed.png">
<img width="793" alt="Screen Shot 2022-10-13 at 4 23 36 PM" src="https://user-images.githubuserco

[2022-10-14 02:00] fancyham commented on #947
We have another filter we can add!

Food types: Baked goods, dry goods, produce, dairy, prepared food, meat (with the ability to select multiple and it would show listings that match all items that were selected)

i.e. If user selected Prepared goods and meat, then it would only show results that have both prepared goods and meat.

![Screen Shot 2022-10-13 at 6 58 53 PM](https://user-images.github

[2022-10-14 03:00] JohnHaoHuang commented on #947
Thanks for letting me know. Yes, I will add it to the design. Once the missing font is fixed.

[2022-10-14 03:17] itsmylam opened #1367 "Create responsive layout grids for Figma file"
### Overview
Currently, the style guide doesn't have responsive layout grids.

### Action Items
- [x] Create layout grids for mobile, tablet, and desktop of multiple sizes.
- [x] Review with design team
- [ ] Finalize and add to the Design System file

Figma File
https://www.figma.com/file/9hPmNSsyaH2VMGNz5mffmI/FOLA-Design-%232?type=design&node-id=3992-4722&t=qV2p6UztvLtMRcfz-0

[2022-10-14 18:34] staceyrebekahscott commented on #1361
I'll be meeting with Mark on Monday, Oct 17 at 3:30PM to get his recommendations.

[2022-10-14 19:50] fancyham commented on #325
- Related to #748

[2022-10-14 19:54] fancyham commented on #748
Wow — nice to see accessibility scores go up (I wonder what changed) but wow, our performance dropped.

Thanks for posting the full details — that’s really helpful.

I think this could be a good time to ask the dev team to take a look at this report (or to run it themselves) and see if they have recommendations for ways to improve the performance?

Sounds like we have some scripts that aren’t bein

[2022-10-17 19:21] staceyrebekahscott commented on #748
Moved issue to In Progress, as it is being actively worked on.

@jnaito777 I would recommend attending the Dev meeting (Mondays at 6:30PM) to discuss this issue with them, to follow up on Bryan's suggestions. We give them a heads up on the fola-devs Slack channel when we plan to attend.

[2022-10-18 00:20] itserindean commented on #1246
#### Onboard Yi MIn TESTING

**New member, do these and check off as you complete them:**
- [ ] Join Slack channels
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] Note that our Slack only keeps chat history for two weeks!  Use GitHub comments for issue discussion or to record/summarize Slack discussions so that future readers can understand how decisions were made.
- [ ] Write your info on t

[2022-10-18 00:36] itserindean commented on #1156
#### Onboard Yi Min TESTING ONLY 10/17
- [ ] Slack channel membership
  - [ ] ```#fola```
  - [ ] ```#fola-devs```
  - [ ] ~```#fola-research```~ does not exist
  - [ ] ```#fola-design```
- [ ] Add to Google calendar invites
   - [ ] [Tuesday 5pm PT - PM meeting] -
   - [ ] [DAY - BA meeting] - not needed now
   - [ ] [Thursday at 6pm PT - UX Research meeting] -
   - [ ] [Thursday at 6pm PT - All-

[2022-10-18 01:42] itserindean commented on #996
@yiminng  and I were discussing that it might be helpful if this were broken into 2 separate issues, one about the email reminder and one about the organization self-update interface. Upon further investigation i see that this is an Epic issue to track all the parts of this experience so we probably just need a dependent issue about the email reminder.

@fancyham @sei1122 @GigiUxR @staceyrebekahsc

[2022-10-18 01:54] hanapotski opened #1368 "Add CI for running tests"
Setup CI to run tests before merging a PR

[2022-10-18 02:42] entrotech opened #1369 "Add ThunderClient Requests for Neighborhood Endpoints"
### Overview
Add Thunderclient reqeusts to test Neighborhood endpoints

### Action Items
- [ ] Add endpoints
- [ ] Exercise using Thunderclient
- [ ] Document by adding

### Resources/Instructions

[2022-10-18 02:53] junjun107 opened #1370 "Add ThunderClient endpoint for suggestion"
- Add ThunderClient request and test the endpoint
- For endpoints that require authorization or other special consideration, add documentation to Thunderclient request indicating the requirements.

[2022-10-18 03:31] staceyrebekahscott commented on #1366
@itserindean Any response on whether Oportun can/ will make a donation via Code for America? [Donate to Code for America](https://codeforamerica.org/donate/?utm_source=website&utm_medium=header_donate_button)

[2022-10-18 03:34] staceyrebekahscott commented on #1365
@itserindean You added this to In Progress but no one is assigned. Should this be assigned to Sam?

[2022-10-18 03:59] staceyrebekahscott commented on #996
I would defer to the UX Research team to see if a separate issue is necessary, or if they can track progress within this one.

[2022-10-18 04:01] staceyrebekahscott commented on #1318
@entrotech A reminder to proceed with removing this site.

[2022-10-18 04:02] staceyrebekahscott commented on #1317
@entrotech A reminder to proceed with removing this site.

[2022-10-18 04:06] staceyrebekahscott commented on #1329
@fancyham Are there any more notes you want to add? Or can this issue be marked as closed?

[2022-10-18 04:11] staceyrebekahscott commented on #1242
@entrotech Can this be moved to Done? What else is needed from the PM team?

[2022-10-18 04:15] staceyrebekahscott commented on #1131
@sei1122 @fancyham Have you followed up with the Dev team on part 1- correction section, as noted in the comment above? What is the status on their work?

[2022-10-18 04:28] staceyrebekahscott commented on #1291
Moving to Prioritized Backlog, as the current strategy is to prioritize NCs that have food resources already mentioned on their websites.

[2022-10-18 04:37] staceyrebekahscott commented on #1296
Spoke to Jordan on 10/13/22- Revised Overview to include what we discussed and next steps.

[2022-10-18 04:55] sei1122 commented on #1131
I will follow up

[2022-10-18 05:49] staceyrebekahscott commented on #1361
Notes from Meeting with Mark:

Focus of the doc review was to organize the Drive in order to make it easier for volunteers to on board. He prepared a document for us to use as a "Start Here" guide:

[DRAFT Food Oasis Start Here Guide](https://docs.google.com/document/d/1ku0fcLxT2In6GSHnbj2h862rCVnQcXl2p7O-52ljaFI/edit#heading=h.52s2awiox6qa)
[SAMPLE Democracy Lab Start Here Guide](https://docs.goo

[2022-10-18 05:59] staceyrebekahscott commented on #1296
**Update 10/17/22**

_We need to confirm our partnership with LA Works for the long term. Currently there is a competitor app that LA Works is working with, and we want to see if that competitor will use the Food Oasis data on their app for their food pantry location validation. This will help solidify our partnership with LA Works.

Competitor App: [Our Community LA](https://oclawin.org/)

**Over

[2022-10-18 06:19] staceyrebekahscott commented on #1358
@GigiUxR Moving this to In Progress.

You might already be thinking this, but I would recommend discussing this with John D to see what is possible here.

Re: your comment in the overview about advising pantries- this is also something we can do by getting feedback from partner organizations, an idea I can roll into the Partnerships sub project.

[2022-10-18 06:25] staceyrebekahscott commented on #1369
@entrotech This is very similar to #1370. Does there need to be 2 issues to address this?

[2022-10-18 07:06] fancyham commented on #996
It's definitely two parts so I think a split makes sense.

The email self-service flow could certainly work with the current free-form text 'suggestion/correction' interface with minor changes, and that would work as an MVP (minimum viable product).

Making a better 'edit my listing' screen is optional though very nice to have, but it shouldn't be a blocker, and so could be a separate issue.

Even

[2022-10-18 15:14] SamHyler opened #1372 "Create Content and Style Guidelines for Food Oasis"
### Overview
Establish a content team and work by creating a first draft for content guidelines. This will align the voice and tone of the product over time, help to onboard new writers, and manage consistency in writing. All writing on the product should sound as if one voice is speaking.

### Action Items
- [x] Create [content guidelines ](https://docs.google.com/document/d/1lqAxs_KwMLVWXLLCN3s7

[2022-10-18 15:57] jnaito777 commented on #748
I will try to attend next week's meeting and update here.

[2022-10-18 18:17] staceyrebekahscott commented on #1361
Other tasks for Documentation:
- [ ] FAQ- to answer questions on process/ procedure
- [ ] Role Descriptions (generally)
- [ ] Role Descriptions (specific- what tasks do you do that you would need to train someone on if you left the project)
- [ ] Transition plan- general checklist for what to train someone on if you were leaving the project.
- [ ] Github pages- as a replacement for References/ Wik

[2022-10-18 18:32] staceyrebekahscott commented on #1155
Closing this issue as Completed, as the scope in its current iteration is being changed.

This task will be folded into a role description, so an issue will not need to be perpetually open for it.

[2022-10-19 00:16] sei1122 commented on #1131
Here is from @entrotech
"Development hasn't started on this issue. The devs are trying to button up a significant internal project in the next week or so, then we will start on new feature issues like this one."

[2022-10-19 03:17] itserindean commented on #1366
My contact at LAWorks (Kelsey) forwarded the request on Friday but has not sent an update yet. I checked in again today.

[2022-10-19 03:18] itserindean commented on #1344
@SamHyler has joined us and helped recruit others so closing this as no longer necessary.

[2022-10-19 03:18] #1344 closed

[2022-10-20 04:11] sei1122 commented on #991
I created the things we need to clarify.
The next step is to talk to @fancyham, and @entrotech and decide what to do in each section.

https://www.figma.com/file/D3oq9QOXl0rFkwrEUJbABs/FOLA-Design-System?node-id=7578%3A11874
<img width="509" alt="Screen Shot 2022-10-19 at 9 07 19 PM" src="https://user-images.githubusercontent.com/19811032/196854143-2dddfdc1-33d6-4bb6-b696-c68261795498.png">

[2022-10-20 20:15] staceyrebekahscott commented on #1296
Texted Jordan to follow up on the new contact I should reach out to for partnership and to update our listing on the LA Works website.